[2014-01-16 02:37] raamdev opened #2 "Undefined variable: post_id"
Reported here: http://wordpress.org/support/topic/errors-58

[2014-01-24 14:21] MRanson opened #7 "Feature Request: ability to subscribe to the blog as well as the individual post"
Hello. In addition to the existing option to subscribe to an individual post, I would like the ability for the user to subscribe to the blog and receive notifications of new blog posts. I have seen this feature on several other sites.

Thus, the current option plus the requested option would appear like this:

[code]

[2014-01-28 22:41] raamdev opened #10 "Feature Request: Import/Export subscription data"
Requested here:
http://wordpress.org/support/topic/importingexport-subscribers?replies=3

[2014-01-28 22:43] raamdev opened #11 "Feature Request: Add support for importing data from Comment Reply Notifications plugin"
Here's the Comment Reply Notifications plugin: http://wordpress.org/plugins/comment-reply-notification/

Requested here:
http://wordpress.org/support/topic/importing-all-commenting-users-to-stcr?replies=1

[2014-01-29 14:40] benutzerfreund opened #13 ".mo files are missing"
The .po files for other languages are there, but in Version 140128 the .mo files are not, so everything is in English.

[2014-01-29 17:39] #13 closed, assigned to nobody

[2014-01-29 17:39] #2 closed, assigned to Reedyseth

[2014-01-30 04:01] DT2013 opened #16 "Email notification doesn't send when comment is held then released from moderation"
Activated the plugin on WPMU installation and notifications work fine when moderation is switched off. However, when they are held for moderation and the released, email is not sent.

[2014-02-01 11:13] ghost opened #18 "Feature Request Translation: Some of the parts that can't be translated yet."
Hi,

I've never used this before so I hope I'm doing the right thing.

These are a couple of screenshots that show you some of the elements that can't be translated because there are no fields for it. And someone might have trouble understanding what to do.

![screen wp reloaded](https://f.cloud.github.com/assets/6560724/2057463/76ca3b42-8b30-11e3-8996-38084acb6cc8.png)

![screen shot 2014-02-01 a

[2014-02-01 21:15] clopez opened #19 "Distributed zipfile via wordpress.org includes twice the files (trunk directory)"
Hi,

The distributed zipfile via wordpress.org http://downloads.wordpress.org/plugin/subscribe-to-comments-reloaded.140129.zip includes a trunk subdirectory with the same files that the root directory.

Seems that the trunk directory serves no purpose. I deleted it and all seems to work. Please remove it from the distributed zipfile.

[2014-02-01 21:32] #19 closed, assigned to nobody

[2014-02-01 23:36] clopez opened #20 "Translations broken"
Hi,

There are some issues with the translations:
- The zipfile that can be downloaded from the wordpress.org plugins site lacks the *.mo file that should be generated form the *.po files with msgfmt before doing a release

[code]
-  The strings that could be personalised on the admin interface aren't being translated (even when the default is not touched). Take the following example from [subscri

[2014-02-03 21:54] gretlouise opened #21 "Feature Request: default checkbox option"
I want the default checkbox option offered to commenters to be "replies only". The dropdown is rather ugly when compared to the neat checkbox options. I'd simply like to be able to control what the default checkbox option does (i.e. have it default to checked for replies only) just like we can control what the default dropdown is.

Thank you!

[2014-02-04 13:44] gretlouise opened #23 "Feature Request: Import from Comment Reply Notification"
I used denishua's Comment Reply Notification for the past several years. I'd love to have the ability to import the subscriptions from that into Subscribe to Comments Reloaded so that I can deactivate and remove Comment Reply Notification. Thank you!

Thread duplicated from #11

[2014-02-04 14:52] gretlouise opened #24 "Feature Request: One-Click Unsubscribe"
It would be great to have the features of this plugin http://wordpress.org/plugins/subscribe-to-comments-reloaded-better-unsubscribe/ added to Subscribe to Comments Reloaded, so that there's a one-click unsubscribe option available rather than just a confusing subscription management page. Thank you!

[2014-02-06 00:51] #20 closed, assigned to nobody

[2014-02-07 01:06] raamdev opened #29 "Add French Translation Files"
@Reedyseth When you get some time, could you please see about adding these into Subscribe to Comments Reloaded so that we can include them in the next release?

http://www.echodesplugins.li-an.fr/mes-traductions-de-plugins/#subscribe

The original thread is here: http://wordpress.org/support/topic/french-translation-files-for-v206?replies=1#post-5192894

Note that it says these are for v2.0.6, so

[2014-02-10 01:03] #29 closed, assigned to Reedyseth

[2014-02-10 01:06] #21 closed, assigned to nobody

[2014-02-11 04:42] #18 closed, assigned to Reedyseth

[2014-02-11 17:08] Reedyseth opened #32 "Difference between 'Default' and 'Advanced' subscriptions create confusion"
The option **Default Checkbox Value** is causing confusion when the **Advance subscription** option is enable.

Reported here:
[http://wordpress.org/support/topic/whats-the-difference-between-default-and-advanced-subscriptions?replies=3]

[2014-02-19 14:02] sbiddo opened #33 "Bug Report: new comment is posted does not work"
Email sent to the author of the post when a new comment is posted does not work. It sends out the default wordpress notification

http://wordpress.org/support/topic/post-author-notification-1?replies=10#post-5251560

[2014-02-23 18:56] aburi opened #36 "Feature Request: show_manual_subscription_form()"
Add a function to insert the subscription form anywhere in the page, where people can enter the email address and be subscribed to the post's comments. Same as the original version of the plugin had:

show_manual_subscription_form()

[2014-02-25 06:59] ewebber opened #37 "stcr using mandrill"
Hi, as discussed, I'm using mandrill as my smtp service and it looks like notifications from wp-comment-subscriptions don't go through it. Mandrill takes any emails that are sent though the wp_mail function, can stcr be changed to do this?

[2014-03-19 16:53] Reedyseth opened #38 "Bug Report: Some Translations are missing"
I have found that using `html_entity_decode()` with `stripslashes()` brings a different string and the translation text is not found, therefore the text is not translated. I removed this functions on line 67 of the **subscribe-to-comments-reloaded.php** file and then I got the text transalated.

[2014-03-24 18:56] #38 closed, assigned to nobody

[2014-04-09 15:14] Reedyseth opened #41 "Feature Request: Importing/Export Subscribers"
I am working on this request for the plugin, but since is not ready to be deploy in mean while I will be creating documentation to Export/import you subscriptions.

This feature was started by @juusan her:  http://wordpress.org/support/topic/importingexport-subscribers?replies=12#post-5416691

[2014-04-09 16:35] #10 closed, assigned to nobody

[2014-04-09 16:49] #32 closed, assigned to Reedyseth

[2014-04-28 15:16] Placzek opened #42 "Bug Report: Notifications and management options not sent to subscriber"
Hello,
We currently have STCR installed on chindeep.com and have been receiving subscriptions for a couple years now. We have never been able to get the notifications to work. Can yo uplease explain how to "turn on" the subscriptions emails and management of subscriptions for users?

As it is right now, users seem to be able to subscribe to comments, and we receive their email address.. but the en

[2014-05-02 21:34] gretlouise opened #43 "Feature Request: Comment Reply Notification to StCR import"
I have two sites using Comment Reply Notification that I would like to switch to Subscribe to Comments Reloaded. How can I go about this process? Thank you.

Thread duplicated from #43

[2014-05-05 15:20] maartenhunink opened #44 "Notification Message sending raw HTML"
Even though 'enabled HTML emails' is on, all html is outputted raw. There is more discussion about this issue here: http://wordpress.org/support/topic/notification-message-sending-raw-html

[2014-05-11 18:32] sasflu opened #45 "E-mail in notification, Subscribe to Comments Reloaded-plugin"
When someone gets an e-mail, when someone has subscribed to his comment on my site, is it possible that he can see the e-mail of the person who subscribed to his comment?

Now I only see the name of the author of the comment, the link to the comment and the comment. But is it possible to show the e-mail of the person who had a comment on a comment? Just the e-mail he filled in at the comment part

[2014-05-12 15:59] Reedyseth opened #46 "Bug Report: "Default Checkbox Value" does not work"
Reported by @sergtk here:

http://wordpress.org/support/topic/default-checkbox-value-does-not-work?replies=4

Quote:

[2014-05-12 21:51] #46 closed, assigned to Reedyseth

[2014-05-16 05:53] #43 closed, assigned to Reedyseth

[2014-05-16 05:56] #23 closed, assigned to nobody

[2014-05-16 05:57] #11 closed, assigned to nobody

[2014-05-16 05:59] #44 closed, assigned to nobody

[2014-05-28 15:17] Ball-Banter opened #50 "Feature Request: I don't want authors to manage other people's subscriptions.."
Hi,

So when an author submits a post, at the bottom of the post it has this option: 'You can manage the subscriptions of this post.' where they can click on it to allow them to manage (and therefore delete) other user's subscriptions to that post. Is there a way to turn that off?

Basically, I don't wan my authors to decide who can receive notifications on comments on their posts. I still want th

[2014-05-29 07:25] akhmatullina opened #51 "Bug Report: <page not found>"
hello, i installed the plugin but, then i accessed the file in the incognito mode, when to the comments section, clicked "You can also subscribe without commenting." and it took me to an empty page with the text:
"Oops! Page not found.
Sorry but the page you looking for cannot be found.

Better to go home"

same happens when i'm logged in as admin and click on "You can manage the subscriptions of

[2014-07-16 15:40] #45 closed, assigned to nobody

[2014-07-16 15:40] raamdev opened #53 "Feature Request: Allow parent comment author to privately share email address with comment replies"
Forked from #45:

[2014-07-20 01:33] kit-johnson opened #54 "Feature Request: Reply to comments directly by email"
The feature: receive notification of a new comment by email, reply directly to that email, your reply gets posted directly to the blog as a comment.

I read [this forum thread](http://wordpress.org/support/topic/reply-to-comments-via-email) and agree it would be a very nice feature. It's already possible for wordpress.com users.

Someone in that thread posted a working method: http://www.antoniori

[2014-07-21 17:55] travismj opened #55 "Feature Request: Add comment author shortcode capability to subject line"
Hi, I'd like to see a more customizable subject line -- our readers like to see who the comment is from, so it would be more useful if we could add [comment-author] to the subject line in addition to [post-title].  Thank you!

[2014-07-22 04:43] shaynethiessen opened #56 "Bug on Comment Subscriptions/"
[Error, code being displayed on the subscriptions page](https://cloud.githubusercontent.com/assets/8231232/3653763/9a16e266-115a-11e4-8341-120f9aa0503e.png)

It's caused by lines 62 and 63 of the user.php template. Deleting those lines makes the error go away.

Any idea how to fix it?

[2014-08-08 07:19] foliovision opened #57 "Unsolicted emails: "Manage your subscriptions on {website name}""
Hello Reedyseth,

the "Manage your subscriptions:" link in the comment notifications is broken very often. It often won't show the Management page, but sends a "Manage your subscriptions on {website name}" email to the user, saying that the key is not valid. This happens is the &srk= key in the link URL is too old - the problem is that the link is only valid for a single day - see the generate_key

[2014-09-10 13:13] vozer opened #59 "Feature Request: Reply to comments via email"
The Name speaks for itself. Would be really nice!

[2014-09-10 13:17] vozer opened #60 "Possibilty to change the notifiication content more"
this is how the email looks:

Autor: Carlotta (IP: xxx.xxx.xxx , xxxx.adsl.highway.telekom.at)
E-Mail : xxx@student.tugraz.at
URL:
Whois: http://whois.arin.net/rest/ip/xx.114.244.129

I would like to have a WYSWIG-Editor to change all this style and also i don´t want the ip, the whois, etc. to be shown.

[2014-09-10 13:22] vozer opened #61 "multiple instances of the plugin"
hi!

i have 2 different post_types on my page and i want both of them to use subscribe to comments separately.

Would be cool new Feature, but i would also be interested in an intermediate solution, where i need to know which function_names, etc. to replace to literally have 2 plugin instances running.

cheers

[2014-09-10 13:30] vozer opened #62 "redirect to function after user subscribes via email"
People can upload files to my website with only a captcha, no registration, but i would like them to enter their email adress with the "subscribetocommentsreloaded"-no-comment-system and then the file should start being uploaded. This means i would have to be able to tell the upload-function to call stcr?p9999 and then stcr should give back "done" to the ulpload function.

is there a way to achiev

[2014-09-16 19:34] #59 closed, assigned to nobody

[2014-10-23 21:50] Reedyseth opened #63 "Double check - [post_title], [post_permalink] issue"
Issue reported here:

https://wordpress.org/support/topic/plugin-subscribe-to-comments-reloaded-double-check-post_title-post_permalink-issue?replies=3

And this is the second part:

https://wordpress.org/support/topic/double-check-post_title-post_permalink-issue?replies=1

[2014-10-24 00:01] #63 closed, assigned to Reedyseth

[2014-10-31 06:00] #51 closed, assigned to Reedyseth

[2014-10-31 17:53] annsentitledlife opened #66 "Not sending follow-up email to subscribers in posts"
I have used Subscribe to Comments Reloaded for years. About 6 months ago, one of my readers (aol email) said it was not working. She emailed me again three months ago with the same complaint, and again yesterday. I think it is time I finally find out if there is an issue specific to aol, or if there is a plugin issue (or conflict).

Looking at the settings, everything she does is marked with a Y.

[2014-10-31 23:19] githubuser555 opened #67 ""subscribe to comments reloaded" not getting emails"
Hi, I have just changed from "Subscribe to comments" to "subscribe to comments reloaded". It's still not getting email subscriptions for my subscribed users. I tried using one of my own emails to test. It's just not working. Can anyone help?

I have also activated Jetpack, but not activating Jetpack Comments just now. Once the above problem is solved, can I reactivate the Jetpack Comments Box (not

[2015-01-29 21:31] Reedyseth opened #70 "Breaks html validation to due unescaped ampersand"
Reported here: https://wordpress.org/support/topic/breaks-html-validation-to-due-unescaped-ampersand?replies=8

[2015-01-29 22:18] Reedyseth commented on #70
@justin_k

There was a fix for this issue, option was not decode correctly, the fix is here on this commit 92294e44a0b5a4bd0246689eedb3844ecda7d2b2. Now you only need to update you database Author Label Option, since there is already garbase store into your option value you first need to clean it up.

To complete this go to the options that is causing issuesm, on this case I will use Author label

[2015-01-30 00:36] metal450 commented on #70
No, that didn't fix it.  Also, you can see from the screenshot I provided that the issue would be with the default label, not the author label (the validation service would never be able to see the author label).

Following your instructions for the default label (saving blank, then re-saving original) also did not fix it.

[2015-01-30 01:35] Reedyseth commented on #70
Alright, then I will take a look later on the day.

[2015-02-04 00:44] Reedyseth commented on #70
I have the fix committed fef4bfa17b8de0dd9b9f76963b24a3accf9be66c and it will be ready on WordPress on the next release, on the meantime you can download the changes to your site and validate on W3.

[2015-02-04 00:44] #70 closed

[2015-02-05 09:11] metal450 commented on #70
Confirmed: It seems to be fixed :)

[2015-02-06 23:21] Reedyseth opened #72 "Feature Request: initial email to someone who comments for the first time"
Is there a feature that can send an initial email to someone who comments for the first time? I've been using another plugin for that purpose, and it would be nice to eliminate it, if Subscribe to Comments Reloaded could do that in addition to notifying users when a reply is received. Thanks.

Reported here: https://wordpress.org/support/topic/auto-email-after-initial-comment?replies=1

By anefari

[2015-02-07 09:43] Reedyseth opened #73 "How to View Commenters Who Chose Not to Subscribe?"
@anefarious1

In the settings section I only see the following:

Legend: Y = all comments, R = replies only, C = inactive

Where can I view people who unchecked the subscribe feature? That is shown in the comment section but not in the settings database? Why not? Am I missing something? Thanks

Reported here: https://wordpress.org/support/topic/how-to-view-commenters-who-chose-not-to-subscribe

[2015-02-07 09:48] Reedyseth commented on #73
If they did not check the subscribe option they simply will not be recorded by StCR. The only thing that is recorded and is something similar is if the user decides not to receive further comments and status will be YC.

Something like this:

![question_001](https://cloud.githubusercontent.com/assets/1228711/6091653/ca521b74-ae73-11e4-9b44-e532d855d6ff.png)

[2015-02-07 19:38] Nickxyz opened #75 "Version 150207 - links showing up on screen as html code"
I just updated to version 150207 and now all of the links (driven by shortcodes) are appearing on screen as html code, and are not clickable.

Example (this is what the user sees on screen):

<a href='http://www.mywebsite.com/comment-subscriptions/?srp=6710&srk='>manage the subscriptions</a> of this post.

[2015-02-07 20:52] Reedyseth commented on #75
Can you share the link of your site please?

[2015-02-07 20:59] Reedyseth commented on #75
By the way, @Nickxyz Can you go to the Settings and update the settings by clicking on each of the panels please. This is to clean what is store in you database.

[2015-02-07 22:14] Nickxyz commented on #75
Hi Israel - The site is http://www.gettingtotruelove.com/

On Sat, Feb 7, 2015 at 12:52 PM, Israel Barragan C. <
notifications@github.com> wrote:

[2015-02-07 22:17] Nickxyz commented on #75
Thanks Israel - I just went to each tab and clicked "update" or "save" and
it looks like it's now working great. That must have been the problem

Thanks for your help!

- Nick

On Sat, Feb 7, 2015 at 12:59 PM, Israel Barragan C. <
notifications@github.com> wrote:

[2015-02-07 22:22] Reedyseth commented on #75
No problem.

[2015-02-07 22:22] #75 closed

[2015-02-07 22:24] Reedyseth commented on #57
@foliovision I just upload a new version with a unique key encrypted to avoid this.

Check latest Merge f06e9cdad0a1123ec96afb87c58a675641f3bc7d

[2015-02-07 22:24] #57 closed

[2015-02-07 23:19] steverep opened #76 "Email form field on management page is not accessible"
The email form field on the virtual management page is not very accessible to screen readers.  The input field does not use the <label> tag, and for some reason the field is skipped when navigating the page in a "flat review" sense.  For the sake of completeness of my comment, I'm using the NVDA screen reader to test and looking at the page source.

[2015-02-12 05:05] #73 closed

[2015-02-16 07:50] peterolle opened #78 "Suscription page has comments enabled"
If someone suscribe for example without commenting, they go to a page that as well has comments and also has the suscribe without commenting. Like a loop.

That page should just have the suscribe form and without the comments form below it.

Is there a quick fix for this ?

[2015-02-16 07:52] peterolle commented on #70
Cut, save blank, paste and save again fixed it for me.

[2015-02-17 01:37] Reedyseth commented on #70
By the way guys, con the next update this wil be done automatically so that you don't have to do this again.

[2015-02-24 21:45] BackdoorSurvival opened #79 "Google claims personally identifiable information is being passed on"
I have just been informed that the "Subscribe to Comments" plugin is in violation of Google terms because it passes identifiable info to the Google Ad Network. Basically, I must change to something else or they will disable my ads.

Is there some way to mask the email address of the subscriber?

[2015-02-24 22:14] raamdev commented on #79
@BackdoorSurvival I've never heard of this before now. Do you have a copy of the notice from Google? I'd like to know exactly what they are referring to as being personally identifiable.

The Subscribe to Comments Reloaded plugin just uses the existing WordPress commenting system to allow commenters to choose to receive notifications when a reply to their comment is made. The plugin doesn't expose

[2015-02-24 22:18] Reedyseth commented on #79
Hello @BackdoorSurvival , Just to make sure, you mentioned `Subscribe to Comments` but our plugin is Subscribe to Comments **Reloaded**. Are we talking about the same plugin ?

[2015-02-24 22:22] BackdoorSurvival commented on #79
Yes, sorry.  Subscribe to Comments Reloaded is what I use.

I can send you the email but I prefer to not to make it public.  Can I email it to you?

[2015-02-24 22:25] BackdoorSurvival commented on #79
Also, the notice came from The Blogger Network.  They place Google Network Ads on my site,  Here is a screen shot.  They are claiming the email address is being passed on to the Google Ad Network.
![image](https://cloud.githubusercontent.com/assets/11183485/6360690/ef13179a-bc30-11e4-9e9c-0df1498805d3.png)

[2015-02-24 22:27] Reedyseth commented on #79
@BackdoorSurvival To avoid using email address here use the folllowing contact form:

http://behstant.com/negocio/contact.php

[2015-02-24 22:35] BackdoorSurvival commented on #79
I just cut and paste the email onto your contacts page.

[2015-02-24 23:05] BackdoorSurvival commented on #79
Update: I went through the options again and saw that I could generate a security key.  I then had my ad network test and that appears to have solved the issue.

Thank you for responding so quickly.  I hope this will help someone else.

[2015-02-24 23:19] Reedyseth commented on #79
@BackdoorSurvival I just read your email and although It seems to work you email address is pass on the URL, and this is what Google guys call **PII**, I will work to created a UUID instead of the email because this is threatening the user privacy.

Thank you for reporting it.

[2015-02-26 19:43] benoitellisclement opened #80 "Comment Subscription Confirmation Email Sends Errored Hyperlink"
One of my readers submitted screenshots to me from his mobile phone.

He had requested to receive email notification for replies to the comments on a particular post, and when he received the confirmation email asking him to click on the hyperlink to confirm, it created a "Cannot find page" error.

https://mail.google.com/mail/u/0/?ui=2&ik=87cc19e667&view=att&th=14bc74dc8aa6179c&attid=0.1&disp=saf

[2015-02-26 20:45] Reedyseth commented on #80
Hello @benoitellisclement

I think the links are only available on your account:

![image](https://cloud.githubusercontent.com/assets/1228711/6401448/b31867d4-bdbd-11e4-8757-049d0f29dbc5.png)

Can you share the screenshot here on the issue?

[2015-02-27 14:12] benoitellisclement commented on #80
![screenshot_2015-02-26-13-59-10 1](https://cloud.githubusercontent.com/assets/11217768/6413787/bceb42f6-be60-11e4-9527-44e9b12145c9.png)
![screenshot_2015-02-26-13-59-17](https://cloud.githubusercontent.com/assets/11217768/6413788/bced72e2-be60-11e4-9497-cf95a0fd051b.png)

[2015-02-28 00:04] Reedyseth commented on #80
@benoitellisclement

Also, can you share your WordPress permalink setup on the `general > permalinks` settings as well as the ***Management URL*** of the Management Page tab of the plugin?

[2015-02-28 00:32] Reedyseth opened #81 "I can manage subscribtions of anyone... Bug or feature?"
Hello,

I'm using this great plugin but I'm wondering... why is it possible that I can manage any subscriber's subscriptions?

When I go to the manage page to request the management URL, I get a screen with the link to manage page immediately. Also an email is sent with the exact same message.

How is it possible that the URL to the manage page shows up whatever email (of an existing) subscriber I

[2015-02-28 13:19] ricksportel commented on #81
Thank you for moving my reported bug to GitHub.

[2015-03-02 11:02] antipole2 opened #82 "Searching for subscriptions on the Manage Subscriptions page"
The Manage Subscriptions page allows one to find subscriptions by email address with various matching criteria.

This works in most cases, but I find that if I use the _starts with_ criterion, it matches all records.  Bug?

Thanks for the good work.

[2015-03-02 16:29] Reedyseth commented on #82
Hello @antipole2 ,

Let me check it out, I will try to reproduce that behavior !

[2015-03-02 22:15] Reedyseth commented on #76
Hello @steverep

I have downloaded the NVDA software and tested. The issue was that the `label` tag was missing the correct ID. This bug is fix on this commit 5a30ec8406f21430cfc060901848ff91edfca905.

I will mark this issue as closed but you are very welcome to open it if you find something else.

Regards.!!

[2015-03-02 22:15] #76 closed

[2015-03-03 00:49] Reedyseth commented on #82
@antipole2

FYI, I have found the bug and I am working on it.

[2015-03-04 01:17] Reedyseth commented on #82
@antipole2

I have solve the issue on this commit 5b74f00c280277c16ecfb146b5773b1c42cfe267. This will be available on the next release. Thank you for reporting it.

[2015-03-04 01:17] #82 closed

[2015-03-11 18:13] benoitellisclement commented on #80
![permalink settings](https://cloud.githubusercontent.com/assets/11217768/6603460/b2d58e6a-c7f8-11e4-94e3-3680cc9d6984.png)
![screen shot 2015-03-11 at 2 12 03 pm](https://cloud.githubusercontent.com/assets/11217768/6603461/b2d69f4e-c7f8-11e4-86b4-01bfd23eb097.png)

[2015-03-11 18:17] benoitellisclement opened #83 "404 error Comment Subscriptions Error - Google Webmasters"
I'm curious to know if the 404 errors I'm receiving, might be correlated to the plugin. I've got over 100 crawl errors.

I've reported a previous issue about a possibly-related issue just recently.

![google webmasters crawl error screenshot](https://cloud.githubusercontent.com/assets/11217768/6603547/3917b174-c7f9-11e4-86b1-445ca5a2e558.png)

[2015-03-11 18:54] Reedyseth commented on #83
@benoitellisclement

At first sight what I see is that 404 error are to pages not found, so if Google indexed one of your pages using the srk value once that you regenerate a new unique key that reference will be lost.

You can verify that by going to those links. Check it out. If after validating those links you find a issue you can let me know.

[2015-03-14 11:08] Reedyseth commented on #80
@benoitellisclement

I see now, I recreated your permalink structure and `Management URL`. Please disable the `Virtual Management Page` and it should work.

[2015-03-19 01:01] BackdoorSurvival commented on #79
I just received another notice from Goggle.  Do you happen to know when this will be resolved?

[2015-03-19 03:28] Reedyseth commented on #79
@BackdoorSurvival

Since the creation of the plugin this was not an issue, but now that Google improve they privacy scanners they have this policy that you cannot have sensitive data on a link.

The main issue is that the email address is on the query string.

I am going to work on this to get the bug fix ASAP.

[2015-03-23 09:48] foliovision commented on #79
Hi Seth,

We use your plugin on many sites and we need this fix very urgently as well. We'll take a look and see if we don't have some suggestions for you. Great that you have Subscribe to Comments Reloaded on GitHub.

Alec Kinnear

[2015-03-23 14:42] Reedyseth commented on #79
Hello @foliovision ,

I am working on this fix, but it will require to change the structure of the plugin a bit, but this week it will be ready, I will notify here on the issue.

[2015-03-23 16:14] solhuebner commented on #79
:+1:

[2015-03-27 21:54] strategicweb opened #84 "Subscribe without commenting not working"
When I click on:
You can also subscribe without commenting.

It spins a long time and generates 100 emails to me / or the user and does not subsribe them to the post.

The emails that get generated are not clickable.

Any idea what is happening?

Please help!

[2015-03-28 03:25] Reedyseth commented on #84
Hello @strategicweb

What StCR do when you click on the link to subscribe without commenting is to load a page where you can type your email address, until that point the plugin does not send an email.

Are you using another plugin to validate the comment form ?

[2015-04-01 05:20] Reedyseth commented on #79
This fix is almost done, but before I release it I would like more users to test it, so please use the form on the following link to subscribe to the mailing list and be notify of the pre-release version.

http://eepurl.com/biCk1b

[2015-04-06 13:24] danekee opened #85 "Translation to cs_CZ"
Hi!
I translated this plugin to cs_CZ and this is actulal release with few bugs in traslation fixed.
Heres the link (90 days from now it will work): http://wikisend.com/download/251660/translation-cs_CZ-subscribe-to-comments-reloaded.rar

[2015-04-06 20:34] raamdev commented on #85
@danekee Thank you for contributing! I tried to download the file, but my computer says it's malicious. Could you create a zip file and upload it to https://cloudup.com instead?

[2015-04-07 08:42] danekee commented on #85
Malicious? maybe on wiki something I google it for sharing... OK, cloud up tells me that they have limited users so i uploaded to http://uloz.to/xmX9QsDi/subscribe-reloaded-cs-cz-rar finally its stored till 30.april

[2015-04-07 12:59] Reedyseth commented on #85
Hello @danekee ,

That link worked, you translation is now into StCR (70a64ce), thank you for your time and contribution.

[2015-04-07 12:59] #85 closed

[2015-04-08 10:02] foliovision opened #86 "Optimizing get_option calls"
Hello,

is there any reason why this plugin initializes the wp_options rows with the autoload field set to "no"? It's in the _activate() function.

This means that when loading a single post there are around 8 SQL queries caused by this plugin. If it would use autoload, these options would load automatically during WP init.

Could you please adjust that and perhaps fix the autoload setting on plug

[2015-04-08 10:09] dabesa commented on #79
@Reedyseth do you have any news on the fix?
I joined the newsletter but I didn't get any version to try.
Thanks!

[2015-04-08 13:51] Reedyseth commented on #79
Hello @dabesa

I am finishing some debugs on my code before you can start spotting more issues in the usage. If you want I can share the latest changes.

[2015-04-08 13:52] Reedyseth commented on #86
Great Martin,

Thank you for dropping that issue here.

Regards.!!

[2015-04-08 14:30] #60 closed

[2015-04-08 14:54] #42 closed

[2015-04-08 19:02] strategicweb commented on #84
Sorry, I didnt see your earlier response.  This is a membership site and people are already logged in so there is no place for them to type their email or be add a subscription to that comment.

[2015-04-08 21:34] Reedyseth commented on #84
@strategicweb I will try to reproduce this error and see what I can find.

[2015-04-09 09:38] danekee opened #87 "Plugin causes image upload HTTP ERROR message"
Hi, when uploading an image its causing http error in native WP uploader. When plugin disabled uploading images is working.

[2015-04-10 15:02] Reedyseth commented on #87
@danekee Can you share a screenshot please?

[2015-04-12 07:53] danekee commented on #87
I have something better and screens at last:
1) error must be related with some image process
2) its affectins several plugins working with images - one is RegenerateThumbnails(https://wordpress.org/plugins/regenerate-thumbnails), when if you regenerating some (not all -i.e. mar_les.jpg in this case - you can download from my page and try it) images it ends with error. In case RT plugin the error

[2015-04-14 19:48] danekee commented on #87
related issue for information...  https://wordpress.org/support/topic/blank-mla-page?replies=3

[2015-04-14 19:51] Reedyseth commented on #87
Hello @danekee I'm just finishing some other bugs and then I will take a look at this.

[2015-04-14 20:59] Reedyseth commented on #84
I enabled the membership, add a user and try to subscribe without commenting and did not get all the emails, can you share the email content?

[2015-04-15 15:12] strategicweb commented on #84
Israel,

Here is one of many that I'm getting.

You have requested to manage your subscriptions to the articles on Couples
Institute. Follow this link to access your personal page:
http://www.couplesinstitutetraining.com/comment-subscriptions/?sre=jamie%40strategicwebsites.com&srk=6eed08b7f916e7bd1dec73b5345dc43a">Click
Here

I can do screenshare and also willing to pay for your support time.

Tha

[2015-04-15 15:42] Reedyseth commented on #84
Jamie,

If you are a developer I can give you steps to gather information and solve the issue.

You can contact me with this form: http://behstant.com/negocio/contact.php, you can contact me to share private information but I would like to keep not private information here on the issue, just in case someone else bump into the same problem.

[2015-04-16 17:38] ricksportel commented on #81
Will it be solved in the next release?

[2015-04-16 18:00] Reedyseth commented on #81
Yes, it is ready for the next release a6fcd41790fbe55fe40387cc614f577b63db5f73, some users are evaluating (https://github.com/stcr/subscribe-to-comments-reloaded/issues/79#issuecomment-88353228) all the changes before I release it next week.

[2015-04-22 02:43] Reedyseth opened #88 "Unique Key is empty after update"
The Unique Key is empty on version v150207.

The solution is to click the generate button on the settings, but if the key if empty a new one must be created on the activate function.

[2015-04-22 04:45] Reedyseth commented on #88
Fix of this issue located here fc31dae41a4513ee269f3a2daaad877045e9f25f.

[2015-04-22 04:45] #88 closed

[2015-04-22 05:26] Reedyseth commented on #86
This issue is solved and it will be on the next release, see 4ef2465275dbc32dd580bc48dd78b81b0cd4a2bb.

[2015-04-22 05:26] #86 closed

[2015-04-22 05:27] Reedyseth commented on #84
Hey Jamie, do you have the screen video ready ?

[2015-04-22 12:11] protoolreviews opened #89 "Default subscribe checkbox doesn't show on site"
After enabling the plugin with the "Enable default checkbox" selected and "Advanced subscription" set to 'No' I don't see an actual checkbox allowing me to subscribe to the comments.

Sample page:
http://www.protoolreviews.com/tools/outdoor-equipment/kobalt-40v-string-trimmer-hedge-trimmer/10872/

I've attached images below as well.

I'm guessing it's a theme issue, but if it is, can you please he

[2015-04-22 13:08] Reedyseth commented on #89
Hello @protoolreviews
Can you enable the plugin again?, looks like the html is broken.

[2015-04-22 13:12] protoolreviews commented on #89
I just deactivated and reactivated it and it appears to be the same.
--
Clint DeBoer

[2015-04-22 14:18] Reedyseth commented on #89
The problem is that if you don't enable it I can do much.

[2015-04-22 14:19] protoolreviews commented on #89
It is completely enabled. That’s the problem. Though it is enabled, it’s not showing up.
--
Clint DeBoer

[2015-04-22 14:38] Reedyseth commented on #89
@protoolreviews

The issue is not part of the plugin, it is issues with your theme. You wrapped the plugin text with a label tag and the theme is displaying none to the labels.

![image](https://cloud.githubusercontent.com/assets/1228711/7277050/dd43ec8a-e8ca-11e4-9339-52e1ec9496ac.png)

[2015-04-22 14:38] #89 closed

[2015-04-22 14:43] strategicweb commented on #84
Thank you for following up, I forgot to send it.

Here it is:
https://www.sugarsync.com/pf/D8285066_70718437_8526692

Thanks!
Jamie

On Wed, Apr 22, 2015 at 1:27 AM, Israel Barragan C. <
notifications@github.com> wrote:

--
Jamie Markizon
Phone: (215) 995-0150
Get Our Reputation Marketing Training:
www.RepDr.com

[2015-04-22 14:54] Reedyseth commented on #84
OK, I just watched it. I see that your are using mandrill to send the email so the leak might be there. I will have to debug your entire site with both plugins, please send me the ftp details to my email account so that I can find the issue.

[2015-04-24 13:18] protoolreviews commented on #89
Israel,

My theme developer stated that per best practices, your plugin markup may be semantically wrong—the label tag should not wrap the input element. This is what’s causing the problem on our end with ti not showing up, thought it’s activated.

Is this something that might help you be more compatible with a greater number of themes?
--
Clint Everett DeBoer
www.ProToolReviews.com <http://www.pr

[2015-04-24 16:02] Reedyseth commented on #89
Hello Clint,

The plugin does not wrap the input element into a label, this might be something in your **comment form** settings

![image](https://cloud.githubusercontent.com/assets/1228711/7322979/bc753924-ea68-11e4-926a-b0243f52c792.png)

Can you screenshot your **Comment Form** settings?

[2015-04-24 16:42] Li-An opened #90 "StCR Unique Key"
Hello,
I saw this new option - StCR Unique key - when translating last version in french - I hope you get the files - but there is no "important notice" showing when upgrading the plugin. Is it important or not ?

[2015-04-24 17:04] augustasas opened #91 "Cleanup (or prevent) spammer email addresses"
Originally posted here: https://wordpress.org/support/topic/cleanup-or-prevent-spammer-email-addresses

--------------
I have Akismet installed.

Currently, if I set in your plugin Options checkbox "Checked by default" to YES, all the spam comment emails are added to the StCR database.
Akismet blocks those spam comments automatically.

Result: StCR collects lots of unexistant emails from spam comm

[2015-04-24 17:16] Reedyseth commented on #91
@augustasas

So far the validation of comments with Akisment is not fully tested.

For now I recommend to enable the double check option, by enable this option the subscriber status is set to **YC** which means that he/she needs to confirm with the link sent to his email address.

If the subscription is not confirm in a period set on the **Autopurge requests** the subscription will be deleted auto

[2015-04-24 17:22] Reedyseth commented on #90
Yes,

This option is important because it prevents the spammers to save your link and use it for later.

I had so much work that I forgot to put the notice, but in the latest release v150422 I made sure that this option is generated so the users will be using this feature without generating a new unique key.

I could add notice on the next release just for those users that haven't realize of this

[2015-04-24 17:41] Li-An commented on #90
I suggest you make a message showing when activating the plugin with a link to the option. It's a very important feature.

[2015-04-24 17:53] Reedyseth commented on #90
Alright, it will :+1:

[2015-04-25 02:09] #83 closed

[2015-04-25 02:11] #81 closed

[2015-04-25 02:11] #80 closed

[2015-04-25 02:13] Reedyseth commented on #78
@peterolle A new update has been released, do you still facing this problem?

[2015-04-25 06:10] peterolle commented on #78
I have Versión 150422 and the problem persists.

[2015-04-25 08:23] ragelt commented on #24
+1

[2015-04-25 11:07] Reedyseth commented on #78
Can you share you website ?

[2015-04-25 13:02] peterolle commented on #78
I sent it via twitter :) (Sorry, I hate leaving links to my site everywhere)

[2015-04-25 14:29] Reedyseth commented on #78
Alright, I got the tweet now !

[2015-04-25 19:03] antipole2 opened #92 "New database "subscribers' doesn't exist" errors from StCR Version 150422"
Hi...

Suddenly getting database errors from StCR.  Site is http://mg30.antipole.co.uk with WordPress 4.1.3 running Attitude theme multisite.  Any help appreciated.

Tony

Edited to keep data safe.

[2015-04-26 03:43] Reedyseth commented on #92
Hello Tony,

I have edited your message since it contains information about your database.

Some how the table wp_12_subscribe_reloaded_subscribers was not created on the update.

Can you deactivate and activate the plugin again ?"Make sure that your database user have permission to create tables.

[2015-04-26 05:35] antipole2 commented on #92
Thanks for responding.

StCR is not network activated, so I deactivated and reactivated at site level.  I have used phpMyAdmin to look for the table wp_12_subscribe_reloaded_subscribers and it does now exist and contains one entry for each different subscriber and has an add_date time stamp of when I reactivated the plugin.

So this looks OK?  I will wait and see if any further errors logged.

[2015-04-26 16:04] Reedyseth commented on #92
Yes, the main problem was that when StCR was trying to run a query the table on database MySQL threw the error, so if the table is created you shouldn't face this error.

Now everything should be OK

[2015-04-26 16:04] #92 closed

[2015-04-27 19:35] magoz opened #93 "Advanced subscription bug"
[Original post in Wordpress Support:](https://wordpress.org/support/topic/big-bug-reggarding-advanced-subscription?replies=3)

Hi,
I've found a big bug. At least it occurs on my website:
http://www.magoz.is/_b/short-article-without-excerpt

When you comment without changing the option in the dropdown box everything works well.

But if you choose another option (don't subscribe, or all comments) th

[2015-04-27 20:02] Reedyseth commented on #93
Hello @magoz ,

I did not received the other notifications

[2015-04-27 20:06] Reedyseth commented on #93
Can you disabled all your plugins and try it again? I think the plugin is clashing with some other plugin, since this behavior is not normal.

[2015-04-27 20:20] magoz commented on #93
Done! [This is the comment](http://www.magoz.is/_b/short-article-without-excerpt/#comment-74).
Did you get any notification?

I didn't so I suspect is not related with other plugins.

[2015-04-27 20:38] Reedyseth commented on #93
No, the notifications was not sent.

Also to narrow this down, can you check if this behavior is related to this issue #67

[2015-04-27 20:58] magoz commented on #93
No, it's not related.
Can I provide you some extra information you may need? How can I help?

Thanks again,

[2015-04-27 21:32] Reedyseth commented on #93
Yes,

If you could give me access to your site, please create a temporal user.

Please use this contact form to send me your email and the credentials.

http://behstant.com/negocio/contact.php

[2015-04-27 21:51] magoz commented on #93
Done. Have you received them?

[2015-04-27 22:02] Reedyseth commented on #93
Yes, Let me see what I can find.

[2015-04-27 22:08] magoz commented on #93
Thanks :-)

[2015-04-27 22:17] Reedyseth commented on #93
OK, I deactivate 3 plugins and it seems to work:

* Email Log
* MailChimp for WordPress Pro
* Postman SMTP

[2015-04-27 22:23] Reedyseth commented on #93
Looks like after deactivating those plugins and activated them work, I haven't found the root of the problem. Can you try to reply some comments with your user name?

[2015-04-27 22:38] magoz commented on #93
I think I found the problem.
It's about unchecking the Mailchimp field and selecting not to subscribe to new comments.

You can make the following test by yourself and if it's not working, we found the problem:
Select not to subscribe.
Uncheck the checkbox below.

Can you confirm this scenario is working / not working for you?

[2015-04-27 22:43] Reedyseth commented on #93
OK,

I received all the other notification but working on this sceneario:

* selecting not to subscribe
* uncheck the checkbox

I did not received any notification on the other email address.

[2015-04-27 22:45] magoz commented on #93
Yeah, that's the root of the problem.
I tried all the other combinations and this is the only one that won't send emails.
Do you know why is happening this?

[2015-04-27 22:59] Reedyseth commented on #93
I think mail chimp has a hook that is is hijacking the one use by StCR, probably this one

`comment_post`

 https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/subscribe-to-comments-reloaded.php#L130.

A Hook is a function call by WordPress in a certain time. I have to figure out both codes.

[2015-04-27 23:07] magoz commented on #93
I'm sorry I can't help here, my programming skills are very limited.
Maybe the solution would be to rename that hook or create a custom hook, or something like that?

[2015-04-27 23:11] Reedyseth commented on #93
Yes , thank your for going through this.

It is OK, will add this as a bug and work on it later, thank you for reporting it.

[2015-04-27 23:19] magoz commented on #93
Thank you for your amazing support!
By the way, I will disable the temprary user. If at some point you need to make some tests, just let me know.

[2015-04-27 23:23] Reedyseth commented on #93
Your welcome !

You can go ahead and disable it, thank you for your trust.

[2015-04-28 19:45] steacha opened #95 "Bug Report: Error for User while Managing Subscriptions"
Hi there,

This bug report was originally logged on the WP support page.

I noticed a weird error. When a normal user/author manages their comment subscription and they click the "Update subscriptions" button, they get this error:

"In order to cancel or suspend one or more notifications, select the corresponding checkbox(es) and click on the button at the end of the list. You are currently subscr

[2015-04-28 23:08] Reedyseth commented on #95
@steacha

I think this is related to the last update, there is an issue that when the update of the plugin is selected some function don't run.

Can you Deactivate and Activate the plugin and try again ?

[2015-04-28 23:17] steacha commented on #95
I installed the plugin the first time today without ever having installed it before.  But, just to be sure, I deactivated it and reactivated it as you suggested.  It gives the same problem.

It seems to just reload the page with that error when I submit the form.  But if I go to the manage subscription page directly again with that same user, it shows me the same page again with the posts he is su

[2015-04-28 23:20] Reedyseth commented on #95
This looks more that a problem with StCR.

Can you go to your PhpMyadmin and verify that a table name `prexi_subscribe_reloaded_subscribers` is listed?

Can you share the page where you are running the plugin?

[2015-04-28 23:25] steacha commented on #95
I unfortunately cannot share the page, it's all running locally (copy of a live site, which I cannot give you access to either). :(

That table is not listed in my database.

[2015-04-28 23:37] Reedyseth commented on #95
Can you deactivate the plugin and then run this query

[code]

and now activate again?

Check that the table is created.

[2015-04-28 23:47] steacha commented on #95
I ran the query and after that, I can see the row in the wp_options table and I can the see the prefix_subscribe_reloaded_subscribers table.

I reactivated the plugin and tried again, but same problem.

[2015-04-30 14:40] Reedyseth commented on #95
@steacha I see,

Yes the form should send the user unique key instead of the encoded email address.

Can you open the user.php file and make sure that the highlighted line is on this  link

https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/templates/user.php#L76

is the same as in your file ?

[2015-05-01 02:19] steacha commented on #95
No, my file has:

`. '" /><input type="hidden" name="sre" value="' . $email . '"/></p>';`

[2015-05-01 02:22] Reedyseth commented on #95
Alright, I've been a little bit bussy, but tomorrow we can have a hangout call so that we can close this issue.

Add me: https://plus.google.com/u/0/+IsraelBarragan/posts/p/pub

[2015-05-01 02:27] steacha commented on #95
I'm very busy tomorrow, but I'll try.

[2015-05-04 05:40] vandread666 opened #96 "Bug Report: Subscription Management pages not loading correctly"
I received several user support requests in the past couple of days letting me know that they cannot manage their subscriptions anymore.

The page displays: You have requested to manage your subscriptions to the articles on gHacks Technology News. Follow this link to access your personal page:

But there are not any listed on the page and there is no link either that one could follow.

I tried thi

[2015-05-04 05:41] Reedyseth commented on #96
Thank you for your fast post I will review it during this days.

Regards.!!

[2015-05-04 07:14] augustasas opened #97 "Bug Report: <short description>"
Originally posted here: https://wordpress.org/support/topic/bug-manager_link-is-html-for-textplain-emails?replies=2
<hr>
Hello,

In my settings I have set emails to be plain text.
i.e. "Enable HTML emails" = NO.

However, when management link is requested, the user gets [manager_link] wrapped with the <a href> tag.

I have looked to the plugin file:
/templates/request-management-link.php

and it l

[2015-05-04 12:32] benutzerfreund opened #98 "Feature Request: Ability to reset to default texts"
When you messed up the texts it would be great to have a button to reset all texts entered in the WP backend to the default texts.

[2015-05-04 15:38] CKMacLeod opened #99 "Bug Report: Set of Glitches Mainly with Subscription Management"
Per request, this post mainly re-produces a comment I made at the Wordpress.org Support Forum. https://wordpress.org/support/topic/subscription-management-and-other-glitches?replies=3#post-6907127 . I've re-written and re-organized it below:

In short, though the plug-in seems to work and to offer a number of appealing features, including the relatively wide range of options, I have encountered nu

[2015-05-04 15:40] Reedyseth commented on #99
Thank you @CKMacLeod for open the ticket.

[2015-05-05 21:45] bozzmedia opened #100 "Bug Report: Fatal error on new install/activation"
No verbose output on what the error is, I simply get "Plugin could not be activated because it triggered a fatal error." after I install and attempt to activate this plugin. I have the original StC installed but deactivated.

This is on WP 3.9.5.   Thanks for any insight!

[2015-06-04 15:06] marianney opened #101 "plugin does not work at all"
Hi I had 'Send email only on Reply to My Comment' by Yasir installed originally and could not get it to work. Then I deactivated it and installed 'Subscribe to Comments Reloaded.' To my surprise, it saved all my users who are all activated for comments with a 'Y'.

I cannot get either plugin to work. When I leave a test comment, i never get an email to confirm subscription. When I click to manage

[2015-06-04 16:52] Reedyseth commented on #101
Hello @marianney ,

The last update came with a few bugs that unfortunately I haven'b been able to fix because of my schedule.

Just to start. Can you share the URL of your page?

[2015-06-04 18:31] marianney commented on #101
Thank you for replying so quickly despite your schedule, I know how it is.

Here is my last comment: http://designyourownblog.com/blog-design/learn-easy-html-code-css/how-to-edit-css-in-your-blog/

And the manage page is here: http://designyourownblog.com/uncategorized/comment-subscriptions

I did delete the other plugin and it seemed to help a little, however on my manage page, I can't change the

[2015-06-04 20:15] Reedyseth commented on #101
@marianney I don't see the plugin enable, only the mailchimp form. if you have access to your FTP files please install the version 150207 version.

1. Download the version 150207 from here https://downloads.wordpress.org/plugin/subscribe-to-comments-reloaded.150207.zip
2. Deactivate the StCR plugin.
3. Upload the downloaded plugin.
4. Activate the plugin.

Post the results.

[2015-06-04 20:15] Reedyseth commented on #101
This temporal solution is until I get the bugs on the latest version fix.

[2015-06-05 06:17] augustasas commented on #96
Hi vandread666,

I am having the same issue. I see your link now works. Could you please tell me how you slove this issue?

Thank you

[2015-06-05 06:26] augustasas commented on #96
Here is my user's link: http://www.geragyventi.lt/komentaru-nustatymai/?sre=350913edd719e9b61d4ce21a76829850&srk=b9235ab2fe7b4bb38ab5f95dedd43323

It only shows the "Management Message" from the plugin settings (but without [manager_link]), which is set as this:
*Norėdami keisti "[blog_name]" komentarų prenumeratos nustatymus, spauskite ant šios nuorodos.
[manager_link]*

[2015-06-05 13:31] marianney commented on #101
Thank you so much!  And i'm sorry, i did accidentally forget to reactivate the plugin yesterday which is why you did not see it. I have installed the zip file and am testing it now.

[2015-06-05 13:37] marianney commented on #101
It works!! Thanks so much for your help. I appreciate your time even though you're very busy. I will be adding this to my recommended plugins post/ebook i'm writing. :)

[2015-06-05 15:29] Reedyseth commented on #101
Cool, thank you for the confirmation.

[2015-06-05 15:29] #101 closed

[2015-06-05 15:37] Reedyseth commented on #96
@augustasas The [manager_link] was remove due to security reasons, this cause that some people can manage the subscription from others.

I tried to subscribe without commenting and the email was not sent, did you you any plugin to manage the emails?

[2015-06-07 09:41] augustasas commented on #96
I am not using another plugin to manage email subscriptions.
I think you did not receive confirmation email, because I have "Enable double check" option set to NO.

But I am not talking about such subscriptions. I am having problem that your plugin generates a wrong Unsubscribe link for already existing subscribers.

Recently I have changed the web-hosting company, so I noticed that whenever there

[2015-06-07 15:15] Reedyseth commented on #96
@augustasas,

 I have been with some personal issues, but as soon as I have a change I will walk you through this.

[2015-06-10 14:52] #79 closed

[2015-06-11 20:39] Reedyseth opened #102 "Can't Manage subscription"
Referencing this issue on WP https://wordpress.org/support/topic/cant-unsubscribe-from-comments?replies=13#post-7059497.

Created by @Adrienne

I have a commenter who is complaining that she can't unscubscribe from the comments.

This is her complaint:

"I've tried three times now to stop the email notifications but can't. I am directed to a page that says Manager Subscriptions. After I fill out m

[2015-06-11 20:42] Reedyseth commented on #102
The SRE key was not the same as the one generated by the manage page, see https://github.com/stcr/subscribe-to-comments-reloaded/blob/150422/subscribe-to-comments-reloaded/subscribe-to-comments-reloaded.php#L498

[2015-06-11 20:49] Reedyseth commented on #102
The fix of this bug is here ba7cdc92394cd29401e718622fcff5a17f1d3879

[2015-06-11 20:49] #102 closed

[2015-06-11 21:35] Reedyseth commented on #100
This could be related to the creation of a new table. I have done the fix and will submit the fix in a few minutes, I apologize for the late delay respoinse.

This issue also was reported here: https://wordpress.org/support/topic/table-mysql_namewp_subscribe_reloaded_subscribers-doesnt-exist?replies=17

[2015-06-11 21:45] Reedyseth commented on #100
The fix is here: 6aa95beb1d92974c4efde9cfb497aa0fba527224

[2015-06-21 10:57] mojtaba opened #103 "How to send localization .po file"
I've translated the interface of this great plugin to Persian, but I'm not experienced with Githup. How can I send the .po file to you?

[2015-06-22 12:51] timpritlove opened #104 "Bug Report: Users can't unsubscribe"
I am using (always) the latest version of Subscribe To Comments Reloaded and my users regularly report that they can't unsubscribe from the comment stream.

The user interface provides no helpful feedback. It all looks as if the user was taken from the list but the comments keep coming.

Manually removing the user from the list in the backend works without problem.

Any hint on what to look at wha

[2015-06-22 14:41] Reedyseth commented on #104
Hey @timpritlove thank you for reporting it. I just answer in the WordPress support page. This here will be much better.

To me it looks like that there is an error trigger on the background but not display. If you could get the error from the php error file on your host it would be very helpful.

Also to mention an upcoming feature that will allow the users to unsubscribe with one click.

[2015-06-22 21:12] timpritlove commented on #104
Indeed: there is something to be found. I include all error messages that directly relate to a single email address (which I have anonymized):

[code]

This looks like an incompatibility with WordPress multisite installations. The plugin is looking for the blog-local table `wp_5_subscribe_reloaded_subscribers` but in the database there is only a global `wp_subscribe_reloaded_subscribers` table to

[2015-06-22 22:56] Reedyseth commented on #104
@timpritlove

Yes, but for this particular error I haven't noticed. Bug added to the fix list.

[2015-06-23 19:48] lucashall commented on #102
Hi there,

I'm not sure if this is related, but here we go:

When my subscribers click on unsubscribe, they get taken to a page that says "You have requested to manage your subscriptions to the articles on Landlordology. Follow this link to access your personal page:"  ... except there is no link to the personal page, and no way to manage subscriptions.

However, when I (logged in as an WP Admin)

[2015-06-23 19:57] lucashall opened #105 "Unable to Manage Subscriptions (except when logged in)"
Hi there,

I'm not sure if this is related to other issues, but here we go:

When my subscribers click on unsubscribe, they get taken to a page that says "You have requested to manage your subscriptions to the articles on Landlordology. Follow this link to access your personal page:" ... except there is no link to the personal page, and no way to manage subscriptions.

However, when I (logged in a

[2015-06-23 20:02] Reedyseth commented on #105
@lucashall Thank for reporting it, I will try to replicate this issue.

[2015-06-23 20:05] Reedyseth commented on #103
Hello @mojtaba you can send it to my email (reedyseth [at] gmail [dot] com)

[2015-06-24 23:06] lucashall commented on #105
Thanks for looking into it.  I get about 5-10 emails a day from users who get the same error.

[2015-07-05 03:39] blitzter47 opened #106 "Solution to solve Virtual Management Page not updating subscriptions"
Hello,
I found a little code correction making the Virtual Management Page to update successfully subscriptions after form submission. (I use Chromium 42.0.2311.90 and Firefox 38.0 in Ubuntu) It looks like the browsers interprete correctly the double-quote mark followed by a slash while there's a space between them, before the ending \</p\>, as the corrected code shown below :

For templates/user.

[2015-07-05 22:52] blitzter47 opened #107 "Correct Javascript coding for selecting subscriptions"
Hello,
<strong>For templates/user.php (line 66-67)
and for templates/author.php (line 69-70)
about doing "Select All" and "Invert All" not working for me</strong>
I had to put the Javascript code into a separated \<script\> tag (in spite of keeping it mixed in \<a\> HTML tag, inside <em>onclick</em> attribute) with functions in order to make it works. (I use Chromium 42.0.2311.90 and Firefox 38.0

[2015-07-05 23:14] Reedyseth commented on #107
Hey @blitzter47 thank you for reporting the issue here at GitHub, I will try to replicate the same issue on my local environment.

Regads.!!

[2015-07-06 08:31] mojtaba commented on #103
Dear @Reedyseth , sorry for late response. I sent the translation file to your email.

[2015-07-06 16:46] Reedyseth commented on #103
@mojtaba Got it, I just replied you by email.

[2015-07-06 19:57] Reedyseth commented on #106
@blitzter47 The slash and the end of the input it is correct when using a XHTML format, so for modern browsers that is no needed so I will get rid of the slash at the end of both inputs.

[2015-07-06 20:16] Reedyseth commented on #106
Issue solve on commit 03fa053b4389e033137d64bc7f2c463cf99825c4.

[2015-07-06 20:16] #106 closed

[2015-07-14 07:16] Tobias-Conrad opened #108 "create a wp user account when subscribe to comments"
this is essential for me.
when they are wp user i can sent them to my external email provider Klick-Tipp.
i will do this with my plugin 2WP to Klick-Tipp".
only possible when user is registrated in wp.

[2015-07-14 07:42] Reedyseth commented on #108
Hello @Tobias-Conrad Thank you for the suggestion. I have added a enhancement label to the request.

[2015-07-14 07:47] Tobias-Conrad commented on #108
wow fast reply. when you offer this feature?
Feature: sign in when subscreibe to comments, after confirm double-opt-in email. ;-)

[2015-07-14 15:50] Reedyseth commented on #108
@Tobias-Conrad So the feature will be to auto sign in to WordPress when the user confirm the susbscriptions ?

Also, I have no schedule for this feature. I am working on some bugs and adding some other features, but I have take notice on this :)

[2015-07-14 16:20] timpritlove commented on #104
Any news on this?

[2015-07-14 17:16] Reedyseth commented on #104
Hello @timpritlove still on the list to be fix but not forgotten. I will post anything new here. Regards.

[2015-07-14 19:39] kotlove opened #109 "Question re: automatically subscribing all commenters"
Is it possible to this plugin up so that anyone who comments on a post is automatically subscribed to subsequent comments on that post? I know that you can set the checkbox to be checked by default, but most of my readers are accessing my posts via a 3rd party app, and the checkbox doesn't appear in that app, so none of those readers can subscribe. Please help!

[2015-07-22 15:27] Webbytech opened #110 "Which STCR thread on GitHub? Too many ..."
There are multiple threads on GitHub for Subscribe to Comments Reloaded.  It seems each developer has his own thread (and then some).

I chose the most recently updated one but it seems like it would be better to consolidate this into one repository on GitHub.

Isn't it confusing to maintain more than one?  Which one is the version that is submitted to the WP Repository?

I am new to GitHub so for

[2015-07-22 15:39] Webbytech commented on #110
I noticed that the STC WP plugin has been reported with a vulnerability as of July 17.

So, I am concerned that STCR has th same vulnerability if it is forked from that plugin.

Can the developers look into this and ensure that the current plugin that is offered on the WP plugin repository is safe or, if not, update it?   (The current version is 150611 on 6/11.)

Thank you for looking into this an

[2015-07-22 15:39] #110 closed

[2015-07-22 15:47] Reedyseth commented on #110
Hello @Webbytech ,

Thank you for your concern. Yes there are some issues open that will be close on the next release. Since the new release will include some major changes in the code it is taking a while to be out.

The big security issue reported for StCR was a Google PII complaint, this is for those users that have AddChoice/publicity from google in their site. This vulnerability is resolve al

[2015-07-22 16:04] Webbytech commented on #110
Thank you for your reply.  Here is info on the STC plugin vulnerability that may or may not impact STCR (posted last week on 7/15/15):

https://packetstormsecurity.com/files/132694/WordPress-Subscribe-To-Comments-2.1.2-LFI-Code-Execution.html

[2015-07-22 16:20] Reedyseth commented on #110
Thanks for the info. Yes this issue is not related to Subscribe to Comments Reloaded. STC has not been updated for while though.

[2015-07-25 11:41] xberg opened #111 "Administrators no longer have the "Leave Comment" button after installing this plugin"
Hi,

Normal users have a "leave comment" button:
http://prntscr.com/7wsr4c

But administrators have nothing. They are therefore unable to leave a comment:
http://prntscr.com/7wsrg6

Of course this certainly has to do with my theme but any help would be welcome.

[2015-07-25 11:43] xberg opened #112 "Select all / Inverse selection does nothing"
Hello,
In the management panel, for normal users, clicking on Select all / Inverse selection does not select all the articles or invert the selection.

The only thing I see it doing is adding a # at the end of the URL.
http://prntscr.com/7wss2f

[2015-07-25 11:57] xberg opened #113 "Add comment unclickable"
Hello,

I changed the options to "advanced subscription"
http://prntscr.com/7wsvdn

But not users can no longer click on the button "Add comment". The button is there (unlike administrators - see my other ticket), but is un-clickable. Actually even hovering the mouse over the button does nothing.

So users cannot post a comment.

thanks and good luck!

[2015-07-25 11:59] xberg commented on #111
Please note that moving to "Advanced subscription" does not change this behavior. Still no button to leave a comment.
good luck!

[2015-07-25 16:30] Reedyseth commented on #112
Hello @xberg Thank you for reporting this, I will take a look.

[2015-07-25 16:32] Reedyseth commented on #113
Hi @xberg I will take a looks at this. Regards.!!

[2015-07-25 16:34] Reedyseth commented on #111
@xberg it is weird because the plugin does not modify the comment form, did you try to test it with a different theme ?

[2015-07-25 16:42] xberg commented on #111
Thanks for your quick reply.
No, I did not test it with another theme and I am almost sure it's my heavily modified custom theme that is playing bad with your plugin.
I was wondering if you had thoughts as to how to move forward.
thanks!

[2015-07-25 16:51] Reedyseth commented on #111
For instance StCR has an option to create work with some themes, this is by creating a Real Management Page, see: [here](http://behstant.com/subscribe-reloaded/realMgnPage.php)

[2015-07-25 23:13] maffi91 opened #114 "New german translation file"
Hello,

here is a better / correct german translation file :)

Download: http://www.maffert.net/subscribe-reloaded-de_DE.po

I fix this parts:

http://pastebin.com/LVLseYm5

[2015-07-27 20:47] WitBlade opened #115 "Reedy's Instructions - How do I execute?"
Hey Reedy,

About a month ago you gave me some instructions but I missed them. I apologize. Can you tell me how to execute this:

'Deactivate the plugin and the run this query:

DELETE FROM wp_options WHERE option_name = 'subscribe_reloaded_data_sanitized';

Then Activate the plugin.

Just make sure that the prefix of your table is the one define on you wp-config.php file. If you did not change it

[2015-07-27 20:57] Reedyseth commented on #115
Hello @WitBlade,

These instrunctions are for cleaning up your database values.

Basically you run/execute this database query on your phpMyadmin or if you can connect to your database directly you run this query.

This will delete this option and then when you activate the plugin it will search for it, since it will not be available it will execute the sanitize routine and the you should have you

[2015-07-27 21:01] WitBlade commented on #115
I see - I am not familiar enough with phpMyadmin but I will see if I can figure it out.
Thanks

[2015-07-27 21:02] Reedyseth commented on #115
Let get an screenshot for you, a little bit with support but I will get them.

[2015-07-28 04:26] Reedyseth commented on #115
@WitBlade I have written a small wiki on this as I mentioned.

https://github.com/stcr/subscribe-to-comments-reloaded/wiki/Helpful-Wikis#Query-phpMyadmin

Regards.!!

[2015-07-28 04:26] #115 closed

[2015-08-03 06:06] RaistGH commented on #93
Hi,

Same problem here: http://navarradas.com
But only with the "don't subscribe" option. I've deactivated all plugins and still the same problem. The only one I cannot deactivate is Polylang. Probably it's the clashing one.

Regards,

[2015-08-04 16:27] WitBlade commented on #115
Hello Reedy,

I implemented your instructions but it did not work. When I reactivated the plugin, it said it "had been sanitized to prevent the raw html from showing" but every post still has this showing through.

The DB query ran successfully. Anything that I may have done wrong?

[2015-08-04 17:00] Reedyseth commented on #115
Can you share  a screenshot of you website or the URL. ?

[2015-08-04 17:02] WitBlade commented on #115
URL: example:
http://alphadark.com/3-month-keyboard-challenge-month-1-pain-gain/

screenshot:

​

On Tue, Aug 4, 2015 at 1:00 PM, Israel Barragan C. <notifications@github.com

--
Ryan Rodden
WitBlade LLC <http://witblade.com>
215-272-0348

[2015-08-04 17:08] Reedyseth commented on #115
Can you create a temporary account so that I can dig on the plugin settings ?

use my email [reedyseth] [at] [gmail] [dot] [com]

[2015-08-04 17:11] WitBlade commented on #115
Added - please let me know if you have any questions. my skype is rrodden_

On Tue, Aug 4, 2015 at 1:08 PM, Israel Barragan C. <notifications@github.com

--
Ryan Rodden
WitBlade LLC <http://witblade.com>
215-272-0348

[2015-08-04 17:11] Reedyseth commented on #115
Thanks, I logged in.

[2015-08-04 17:19] Reedyseth commented on #115
OK, is done. I had click on the save options for every panel. Now is working. The weird thing is that the previous steps didn't work. There was an issue migrating from the previous version of the plugin into this. I guess your information of the database got stuck on that migration. You can go ahead and delete the WordPress account that you created

[2015-08-04 17:21] WitBlade commented on #115
I see - well thanks for the great support. Hopefully if there is another
plugin update, this sticks.

On Tue, Aug 4, 2015 at 1:19 PM, Israel Barragan C. <notifications@github.com

--
Ryan Rodden
WitBlade LLC <http://witblade.com>
215-272-0348

[2015-08-04 17:22] Reedyseth commented on #115
It will, the next update will be much better. I have been developing many changes, if you feeling that you want to test the code I can share you the instructions.

[2015-08-06 13:53] reszko opened #116 "Bug Report: <short description>"
Hi. When I answer a comment I receive in my email the notification of my answer together with the original comment.

I am receiving 3 messages.

1) When the visitor make a comment.
2) When I answer that comment.  Twice.

In plugin configurations page all settings seen to be correct configured.

How can I solve this?

Thank you.

[2015-08-06 14:52] Reedyseth commented on #116
@reszko

This 3 messages are from StCR? I mean the same format? or also WordPress messages.

Usually on my blog when I am subscribe to the post I get the WordPress email to authorize the comment and then when I reply to that comment I get the email from StCR, can you check that your email address is not duplicated in the subscription list?

[2015-08-06 15:22] reszko commented on #116
The first message is a StCR notifying me that a new comment was posted
Then, I answer that comment and the answer goes to me twice, with the same hour.
In the print screen attached you can see it.

9:39: Notification of a new comment
Then I go to wordpress and answer the comment
Then I receive two messages with same content at 10:47.

![print subscribe to comments](https://cloud.githubusercontent.

[2015-08-06 15:57] Reedyseth commented on #116
OK, this email is sent by WordPress.

Did you check your email on the subscriptions page to make sure that your email is not twice?

[2015-08-06 16:06] reszko commented on #116
I went to subcriptions page and I saw my administrator email in 3 posts. I
will test now and check if the problems is solved.

All this happened after I have desinstalled the plugin and some days after
I reinstalled it again, then always when I answear a comment, I receive the
answer too.

But let's wait and see if the problem is fixed now that I removed my
adminstration email from subcriptions pa

[2015-08-06 16:15] Reedyseth commented on #116
@reszko Perhaps in on time you had the option `Subscribe authors` enable and this will subscribe you automatically.

![image](https://cloud.githubusercontent.com/assets/1228711/9116891/ff60a572-3c23-11e5-8b65-c5c593aff68f.png)

[2015-08-06 16:15] #116 closed

[2015-08-06 16:21] reszko commented on #116
You were correct. That option was checked to Yes.

Thank you.

2015-08-06 13:15 GMT-03:00 Israel Barragan C. <notifications@github.com>:

--
*Desenvolvedor WEB? Então:*
www.dicascodeigniter.com.br

[2015-08-06 16:27] Reedyseth commented on #116
Great to see that the issue is solve.

Regards.!!

On Thu, Aug 6, 2015 at 10:21 AM, Fábio S. Reszko <notifications@github.com>
wrote:

--

*Ing. Israel Barragán Castillo*Software Developer Department
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasoftengineering.com
Email: ibarragan@behstant.com

[2015-08-07 11:54] javad2625 opened #117 "Problem With Farsi Translation"
Hello
I have translated the PO file of "Subscribe To Comments Reloaded", but Wordpress does not use it. The Persian interface is not loaded, although the default language of my website is Farsi.

Thank you

[2015-08-07 11:57] Reedyseth commented on #117
Hello @javad2625

I am referencing this tick from WordPress https://wordpress.org/support/topic/new-farsi-persian-translation-is-ready-but-it-does-not-work?replies=5

[2015-08-07 12:03] Reedyseth commented on #117
What I found wrong was only the file name, so after fixing it the translation worked.

[code]
![image](https://cloud.githubusercontent.com/assets/1228711/9135345/87151ae8-3cc9-11e5-8605-14838417e6dc.png)

[2015-08-07 12:11] Reedyseth opened #118 "Feature: Checkbox before submit button"
Feature reported here https://wordpress.org/support/topic/new-farsi-persian-translation-is-ready-but-it-does-not-work?replies=5 by @javad2625

Hello
OK, I signed up in Github.com, and clicked on "New Issue". Then I explained this ticket over there. I hope I have done it rightly. I am looking forward to enjoying the Persian translation. My second problem is the all-time problem of all subscription

[2015-08-12 01:38] IvanRF opened #119 "Date i18n"
Great plugin!
I found that in the "Manage subscriptions" page the date is not showing with i18n.
I think this is located in templates/user.php, line 63.
`$a_subscription->dt` should be using `date_i18n()`

[2015-08-12 01:44] IvanRF commented on #119
An opinion about that page: I think the status for each post should be explicit. The first time I saw that page, (in a quick look) I found difficult to understand why there was a 'Y' or 'R' and then I saw the Legend.
Maybe for an end user, it is easier if the actual status 'All comments' or 'Replies only' is written there.

[2015-08-12 01:49] IvanRF commented on #24
+1

[2015-08-12 02:06] IvanRF opened #120 "Mail messages localization"
I was able to use this plugin with multiple languages in the frontend by using WPML. However, the language used in a mail message is always the same, it is equal to the language set in WordPress.

Is there any way to make the language for the mail equal to the language from the post associated to the comment/email?

If I change WordPress language, mail messages are correctly localized in that lang

[2015-08-12 02:15] Reedyseth commented on #24
This feature is done and will be included on the next release.

[2015-08-12 02:24] IvanRF commented on #24
Nice! quick question: why version numbers are dates?
[Version Numbering](https://make.wordpress.org/core/handbook/about/release-cycle/version-numbering/) | [Semantic Versioning 2.0.0](http://semver.org/)

[2015-08-12 02:38] raamdev commented on #24
@IvanRF Date-based versions are fully compatible with Semantic Versioning 2.0. Using a date-based versioning system makes it easier to see when a particular release was done and makes more sense for things like WordPress plugins, where the plugin is constantly evolving.

[2015-08-12 02:38] Reedyseth commented on #24
This is what a @raamdev and I agree when he started to develop to the plugin. In the beginning we used the Semantic Versioning

[2015-08-12 02:40] Reedyseth commented on #24
Thank you @raamdev for clearing this up.

[2015-08-12 02:43] Reedyseth commented on #119
Yes to me that sounds also better and it will change in a future release.

I will take a look on this. Thank you for reporting.

[2015-08-12 02:47] IvanRF commented on #24
@raamdev thanks for the quick response. I asked because is the first plugin (of many) that I saw using a date as version number.
WordPress plugin directory makes it easy to see when a plugin was updated with the "Last Updated" field.

[2015-08-12 03:22] raamdev commented on #24
@IvanRF Right, but that doesn't help developers who may be looking at the version on GitHub or inside a changelog. :-)

Date-based versioning also takes the 'guess-work' and complexity out of deciding what to use for the next version. Instead of trying to decide if the next version is `1.2`, `1.2.1`, or `2.0`, we just use the date the release was done (e.g., `150812`).

I realize that semantic ver

[2015-08-13 18:47] IvanRF commented on #120
I have developed the solution for this issue. Which branch should I fork? master or pre_release?

[2015-08-13 19:01] Reedyseth commented on #120
@IvanRF use the pre_release branch, since the newer code is there. Thank you for dropping some lines of code :)

[2015-08-13 19:25] IvanRF commented on #120
notify_user() is now called confirmation_email()?

[2015-08-13 19:42] Reedyseth commented on #120
No, the function has not change the name.

[2015-08-13 19:44] IvanRF commented on #120
I couldn't find the function, it was in wp_subscribe_reloaded.php :)

[2015-08-13 19:48] IvanRF commented on #120
I just pull the changes. I added support for WPML in notify_user(), but I don't know if the send more mails. Maybe confirmation_email()?
If you use get_option() for the content of other mails, you need to add my code in those functions too.
I debug it and WPML uses the default language in get_option(), that's why a call to $sitepress->switch_lang($language); is needed before the calls to get_optio

[2015-08-13 19:53] IvanRF commented on #120
I tested my changes with English and Spanish and works fine.
I also added `subscribe_reloaded_from_name` and `subscribe_reloaded_manager_page` to `wpml-config.xml`, since names may differ (like mine Ivan / Iván) and pages too (/en/comment-subscriptions/ or /es/comment-subscriptions/).

[2015-08-13 20:06] Reedyseth commented on #120
Cool, let me look at the changes.

[2015-08-13 20:10] IvanRF commented on #120
I just found that `subscribe_reloaded_manager_page` is not working

[2015-08-13 20:12] IvanRF commented on #120
The translation for the mail works. However, only the link in options `/en/comment-subscriptions/` is showing a page. `/es/comment-subscriptions/` is returning a 404 error.

[2015-08-13 20:15] Reedyseth commented on #120
This is because the Management Page is bind to a single URL which you define on the options.

[2015-08-13 22:08] IvanRF opened #122 "[comment_reply_permalink]"
I actually found this shortcode on the code, and it was useful for me.
You should add it to the description help too, otherwise no one knows is there.

[2015-08-13 22:12] Reedyseth commented on #122
Thank you for the suggestions.

There is a lot of stuff to document on the plugin. As part of this I have started a [Wiki](https://github.com/stcr/subscribe-to-comments-reloaded/wiki) with some instructions about the must confusing stuff.

[2015-08-13 22:22] IvanRF commented on #122
Just in case, I was talking about adding it in the message of the Notification tab:
`Content of the notification email. Allowed tags: [post_title], [comment_permalink], [comment_author], [comment_content], [post_permalink], [manager_link]`

[2015-08-13 22:26] Reedyseth commented on #122
Yeap I got that. This messages are part of the documentation to update.

[2015-08-13 22:44] IvanRF commented on #122
I'm finishing the Spanish translation for the plugin. There is an error with "This Unique Key will be use to send the notification to your subscribers with more security". In the code there is a new line before closing ". So, the text has several \t and it is not getting my translation.

[2015-08-13 22:49] Reedyseth commented on #122
Please open a new ticket for this event.

[2015-08-13 22:51] IvanRF opened #124 "Minor code bug"
There is an error in the message `"This Unique Key will be use to send the notification to your subscribers with more security"`.
In the code there is a new line before closing `"`. So, the text has several `\t` and it is not getting my translation.

[2015-08-21 21:19] javad2625 opened #125 "STCR Being Mutated Into A Spammer"
Hello
I like STCR very much, but unfortunately, I agree with the 43 persons who discuss here:
http://www.dailyblogtips.com/why-i-am-removing-the-subscribe-to-comments-plugin/

about the fact that STCR turns into a spammer after a while. It keeps bombarding the inboxes of subscribers. Many subscribers do not have the patience to click on "unsubscribe" button. They click on "report spam" right away.

[2015-08-21 21:46] Reedyseth commented on #125
Hello @javad2625

Thank you for reporting this. I just want to make sure that we are on the same page, on the article they mentioned Subscribe to Comments but I did not see a Reloaded been mentioned. Either way, I see the problem that might come with this, I am working in some big chances that will allow StCR to evolve into something more, for example the feature that you asked about a daily diges

[2015-08-21 21:51] IvanRF commented on #125
I was thinking on add this issue too.
For every comment that I approve or every new comment, one mail is sent to everyone. I would prefer to have an option to send a group of new comments every X hours.

Something like Postmatic, [see screenshots](https://wordpress.org/plugins/postmatic/screenshots/).

For example, Wordfence uses cron jobs for the summary mails and you can select the time schedule

[2015-08-21 21:55] Reedyseth commented on #125
OK so definitely this had to be a new feature on the upcoming releases. I just have to hustle with all the development.

[2015-08-21 22:11] IvanRF commented on #125
It will be awesome if you add this feature.
I said hours, but even delaying X minutes will be an improvement. For example, if I have 10 comments to approve, and the first call to `notify_user` is delayed for 5 or 10 minutes, then all comments will be grouped in only one mail.

[2015-08-21 22:16] Reedyseth commented on #125
The time lapses will not be an issue, since I can create a custom cron time or use the built in by wordpress, gathering the comments will be the cool stuff.

[2015-08-21 22:22] IvanRF commented on #125
You just need to maintain the ID of the last comment that was notified by mail.
I think it is the easiest way 😃

[2015-08-22 18:35] javad2625 commented on #125
Quote:

see a Reloaded been mentioned.

Answer:
Thanks for your attention. Yes, they are talking about STC, because that discussion dates from the time before creation of STCR. Of course STCR has jumped a big step forward by introducing "My Own Replies" (advanced subscription) feature, but the same problem still exists. This plugin is very likely to turn into a spamming machine.

[2015-08-26 13:02] nedkeller opened #126 "Subscribe Authors doesn't work with custom post types"
Selecting the option Subscribe Owners is working fine with regular old posts, but doesn't seem to send comment notifications to authors of custom post types.

[2015-08-26 13:05] Reedyseth commented on #126
Hello @nedkeller This was reported before, for now StCR is not validating the Post Type and this will be a feature in one of the incoming updates,thank you for reporting it.

[2015-08-26 15:33] nedkeller commented on #126
Thanks for the quick reply. For now, I've fixed the problem by adding a line to the code.

after this line (line 166 in Version 150820):
 add_action( 'publish_post', array( &$this, 'subscribe_post_author' ) );
I have added this line:
add_action( 'publish_mycustomposttype', array( &$this, 'subscribe_post_author' ) );

Obviously, this will break as soon as you update the  plugin, but it's working fo

[2015-08-26 15:36] Reedyseth commented on #126
@nedkeller Correct, What I would do is to retrieve a list of custom post types and hook the subscribe_post_author.

[2015-08-26 15:38] nedkeller commented on #126
Thanks for the suggestion. I'll look into that.

[2015-08-26 18:03] nedkeller commented on #126
Instead of adding to your code, I was able to add the following to the code that creates my custom post type:

// hook into Subscribe To Comments Reloaded plugin
// cause author of custom post type to receive notification of comment
add_action ( 'publish_message', 'aso_notify_message_author' );
	function aso_notify_message_author($ID) {
		global $wp_subscribe_reloaded;
		$wp_subscribe_reloaded->su

[2015-08-26 18:26] Reedyseth commented on #126
Sweet, I still add the code on the plugin since every user might have a different Custom Post Type.

[2015-08-28 13:00] NSStringMe opened #127 "404 on comments management page"
Hi.

I have created a thread on the wrodpress page as well.

I have installed the plugin but I am confused about the Administration page, (the comment-subscriptions/ slug)

I have changed this to a Danish url, but I get a 404.
I have tried to create a page with that url but then I only get a blank page.

So what do I have to do to change this slug to something local.

[2015-08-28 14:41] Reedyseth commented on #127
Hi @NSStringMe , there could be two reasons because the page does not work.

1. The local page was not created correctly.
2. The permalink structure is not correct.

Can you share how did you accomplish those 2 steps?

Regards.!!

[2015-08-28 14:47] NSStringMe commented on #127
The permalink structure is set to %Postname% (the default wordpress these days)
The page is just a single page created with the same url as the url shown in the settings.

What is the correct way to do it? Should I flip the settings to turn off the dynamic page if I create a blank page?

[2015-08-28 14:50] Reedyseth commented on #127
Let me recreate those instruction here at the wiki page, also I will add some screenshot to walk you through.

Regards,

[2015-08-28 17:08] IvanRF opened #128 "Mail messages cache"
Hi Israel, I solved the messages localization with WPML but now I'm having another issue with other plugin. I use W3 Total Cache and somehow the message content is being cached. Thus, if an Spanish message is cached first, then messages that should be in English are in Spanish.
This is caused by the calls to `get_option()`. For example:
`get_option( 'subscribe_reloaded_notification_content', '' )`

[2015-08-28 17:13] Reedyseth commented on #127
@NSStringMe The wiki is ready and you can see it here https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

Regards.!!

[2015-08-28 17:17] Reedyseth commented on #128
For me this looks that everything is OK with the `no` option (autoload) But since WP already cache that no matter how many times you deactivate and activate the option will remain there.

Can you clear the cache with the option on W3 Total Cache and share the results ?

[2015-08-28 18:44] IvanRF commented on #128
I already tested that, and that's is why I said "if an Spanish message is cached first". In other words, the first language that is cached after calling `get_option()` is the one that is maintained in the subsequent calls.

As a test, with a cleared cache, I added a call to `get_option('subscribe_reloaded_notification_subject')` before switching the language (`switch_lang()`). As my default langua

[2015-09-08 10:23] WnDSolutions opened #129 "Bug Report: Author Re-subscribe"
When author unsubscribe from his post, can't subscribe again.

[2015-09-08 11:13] WnDSolutions commented on #129
I was able to view my automatic subscription on the manage page and edit it.
Now I can't. Any help?

[2015-09-08 14:18] Reedyseth commented on #129
Hello @WnDSolutions I will check this behavior, in the mean time if you are the administrator of WordPress you can add your subscription manually on the plugin setting page, otherwise ask the administrator to add you by using the ID of the post and your email address.

Regards.!!

[2015-09-08 16:16] WnDSolutions commented on #129
Thank you @Reedyseth

I'm waiting for your answer.

[2015-09-09 03:33] Webbytech commented on #110
Hi Israel,

I noticed that there is a new security exploit for WP Subscribe to Comments and want to confirm that STC Reloaded is not affected by it.

It makes me nervous if STC Reloaded is based on STC that it could be impacted by the same issues.

Here is the link:  http://www.wordpressexploit.com (9/17/15) - see snapshot image below

Please advise.  Thank you.

Regards,
D

[2015-09-15 14:46] staysmoo opened #130 "How can I delete "Subscription without comment"?"
hello,

how can I "Also possible: Subscription without comment." disable / delete?

see here:
http://www.niha-grafik.de/infografik-responsive-webdesign/

under the checkbox.

I want to give the user not have this option.

King regards,
Nicole

[2015-09-15 14:55] Reedyseth commented on #130
@staysmoo Right now that option is not available, but you can remove the link on the comment settings and that will work.

To remove the link go to the `Comment Form` tab and on the Default Label remove the Text `Auch möglich: Abo ohne Kommentar.` Notice that `Abo ohne Kommentar` is wrap in a HTML a (anchor) tag. Just to keep things easy, just leave this text `E-Mail-Benachrichtigung bei weiteren

[2015-09-15 15:00] staysmoo commented on #130
THANK YOU! It works!

[2015-09-15 15:00] #130 closed

[2015-09-15 15:01] Reedyseth commented on #130
You're Welcome !

[2015-09-15 18:34] Webbytech opened #131 "New security STC vulnerability reported"
A new STC 2.1.2 LFI/Code Execution vulnerability was reported on http://www.wordpressexploit.com on 9/7/15.

A previous vulnerability was 7/17 and 3/19.

Hopefully STC Reloaded does not have the same issues.  (There was a problem with STC Reloaded in March 19, 2014, but not since then so far.)

Can you confirm that this is not an issue?

[2015-09-15 18:49] Reedyseth commented on #131
Hello @Webbytech.

On that page I am not able to see the full exploit of the plugin, but I must say that on August the WordPress core team reported a XSS vulnerability on one of the admin page (They shutdown the plugin page until a safety version was released), this vulnerability was fix and the update was release immediately in the the version 150820 (as the moment of this reply this is the lates

[2015-09-15 19:03] Webbytech commented on #131
Okay, thanks for the quick response!

It is scary these days!

[2015-09-15 19:08] Reedyseth commented on #131
No problem, thanks for sharing your concern, I am glad to help.

Regards.!!

[2015-09-15 19:08] #131 closed

[2015-09-19 18:26] IvanRF commented on #128
This was caused by a bug in WPML String Translation, I'm so angry!

When `get_option` applies the filter `'option_' . $option`, the function `icl_st_translate_admin_string` in `wpml-string-translation/inc/admin-texts/wpml-admin-texts.class.php` is called. This class has an internal cache `$icl_st_cache` and there was the issue. **This cache is not taking into account that the language was changed*

[2015-09-19 18:26] #128 closed

[2015-09-22 00:34] IvanRF opened #132 "No email validation in subscriptions page"
There is no email validation in the page /comment-subscriptions/?srp=POST-ID&srk=NUMBER&sra=s "You can follow the discussion on ... without having to leave a comment... Just enter your email address".

If I press the Send button **without entering a mail** it continues as normal and shows "Thank you for using our subscription service...". The mail "email" is added as a subscription for the post.

[2015-09-22 02:48] IvanRF opened #133 "WPML support"
I've found another bug in WPML trying to make it work right with Subscribe to comments reloaded. I sent the information to them but they replied me:

Apparently, they create a demo site with your plugin and make it work. So, in order to stop spending my time with this I will appreciate if you can fill that form. They have a dedicated team to make this work. Thanks!

[2015-09-22 02:52] Reedyseth commented on #133
Hello Ivan, a while a go they contacted me to help them with this process, I actually did, but they ask in reply if I could promote their plugin inside StCR, in that moment I coworker and I talk about the matter and rejected the publicity inside the plugin.

I will take a look at that and let you know the findings, by the way thank you for spending time on this.

Regards.!!

[2015-09-22 03:00] Reedyseth commented on #132
I have mark the issue as a bug. I am currently finishing some big changes on the notification system of the plugin and will take care of this latter.

[2015-09-22 03:05] Reedyseth commented on #128
Thank you for reporting and spending time on this, I know hard it was to get to this point and find the root of the problem. I guess this conversation will continue here #133

[2015-09-22 16:50] IvanRF commented on #133
Hi Israel, thanks for consider this. I agree with you, you shouldn't add publicity to them.

I just did a search inside Yoast SEO and there is no link to WPML, so maybe they changed that policy.

[2015-09-22 16:55] IvanRF commented on #120
I'm closing this, we continue here [#133](https://github.com/stcr/subscribe-to-comments-reloaded/issues/133).

[2015-09-22 16:55] #120 closed

[2015-09-23 00:00] konus1 opened #134 "Confirmation link does not confirm"
I use the option to double check email adresses.
If a user gets an email and is asked to open the [confirm_link] he get to the managment page similar to [manager_link]
As far as I understand, the email is not confirmed yet, since there is an entry like
[  ]     2015-09-23 01:39:11 — YC — mail@domain.com

So to confirm the email-adress, my user would have to
1. mark the linke with his email
2. choo

[2015-09-23 00:10] Reedyseth commented on #134
Hello @konus1 , first of all thank you for subscribing to the testers mail address.

On this case when the user receive the confirmation link it should work only like you mention, by clicking the link on the email. I am going to test it in you site and let you know what I can find.

Regards.!!

[2015-09-23 00:13] Reedyseth commented on #134
I checked you kids site an StCR is not enable, mailchimp is enable instead.

[2015-09-23 06:42] konus1 commented on #134
Thank you for your fast replay! Yes, I enabled both StCR and mailchimp-for-wp. After I know, that this is not the normal behavior, I am going to deactivate all other plugins for debugging.
I will report the result here.

[2015-09-23 06:46] Reedyseth commented on #134
Yes, I just found StCR realoaded and I have post a comment.

[2015-09-23 06:52] Reedyseth commented on #134
@konus1 The double check option worked as expected, after clicking on my link my subscription status changed, take a look:

![image](https://cloud.githubusercontent.com/assets/1228711/10039244/42662fe8-618d-11e5-9bdc-558b785b7746.png)

![image](https://cloud.githubusercontent.com/assets/1228711/10039247/4ad381ee-618d-11e5-88af-23c626aa0bb6.png)

[2015-09-23 09:50] konus1 commented on #134
Thank you for your help!
It looks like, that my problem was not an other plugin, but that I was already logged-in in Wordpress as an other user.

[2015-09-23 09:50] #134 closed

[2015-09-23 09:57] konus1 commented on #114
Thank you. I used this as starting point for my german translation and added some more to it.
The only term, I did not use was your "Benachrichtigungseinstellungen" instead of "Benachrichtigungs Einstellungen"
The translation is now pull request #135 and I think, this issue can be closed.

[2015-09-23 10:10] konus1 commented on #118
I agree, that the checkbox should be above the submit button.
An example how it could be done is in plugin  https://wordpress.org/plugins/mailchimp-for-wp/

[2015-09-23 10:48] konus1 opened #136 "Subscription Management page"
I have some small issues / feature requests:

1. The red marked term () All comments is not translated, even after updating the translation
![Uploading bild1.jpg…]()

2. I think, the user interface is not very easy to unterstand. I would propose, that the options for acticate and deactivate subsciptions will be removed at all. Normally, a user would like his subscription to keep it or to delete it

[2015-09-23 12:06] konus1 commented on #136
5. For backend interface, I would like to translate the letters Y, R and C so I can use abbreviations to language specific terms. (Y all commments would be A; R only answers would by O and C inactive could be I for examaple)

[2015-09-23 14:28] Reedyseth commented on #114
Thank you both for your contribution, I am going to merge the pull request in a different branch, but more comments on #135

[2015-09-23 14:28] #114 closed

[2015-09-23 14:31] Reedyseth commented on #134
You're Welcome, glad that it helped.

[2015-09-23 14:33] Reedyseth commented on #118
I am already working on this, I am deciding if I will do that on the side part with Javascript or doing it on the backend part with WordPress Filters.

[2015-09-23 15:22] IvanRF opened #137 "Settings translation overrides WP translation"
The other day I noticed that in this plugin there is a translation for "Settings" which overrides the original WordPress translation. I removed that entry from WPML and that solved it.

Just to know, should a plugin override a translation from WordPress core?

Reedyseth said in [#123](https://github.com/stcr/subscribe-to-comments-reloaded/pull/123)

[2015-09-23 15:36] IvanRF opened #138 "Possible XSS exploit"
I'm not an expert on this, but I saw you added `esc_attr()` on POST and GET. Shouldn't you use that also in [/options/index.pnp lines 70-71](https://github.com/stcr/subscribe-to-comments-reloaded/blob/pre_release/subscribe-to-comments-reloaded/options/index.php#L70)?

[2015-09-23 15:40] Reedyseth commented on #137
@IvanRF Thank you.

[2015-09-23 15:42] Reedyseth commented on #138
You are right. Any information coming from any source should be escape, but annotated.

[2015-09-23 15:57] IvanRF commented on #138
Here are some more possible exploits: [/options/panel1-business-logic.php lines 94-98](https://github.com/stcr/subscribe-to-comments-reloaded/blob/pre_release/subscribe-to-comments-reloaded/options/panel1-business-logic.php#L94)

[2015-09-23 16:05] IvanRF commented on #138
Also in

- [/options/panel1-edit-subscription.php lines 14 and 17](https://github.com/stcr/subscribe-to-comments-reloaded/blob/pre_release/subscribe-to-comments-reloaded/options/panel1-edit-subscription.php#L14)
- [/options/panel1.php line 7](https://github.com/stcr/subscribe-to-comments-reloaded/blob/pre_release/subscribe-to-comments-reloaded/options/panel1.php#L7)
- templates/author.php
- templa

[2015-09-23 17:20] #124 closed

[2015-09-23 18:53] IvanRF opened #141 "Load Text Domain not working"
I test pre_release on an empty site and Spanish translations were not loading. I fixed the call to `load_plugin_textdomain` based on documentation:
https://developer.wordpress.org/plugins/internationalization/how-to-internationalize-your-plugin/

[2015-09-23 18:56] IvanRF commented on #141
I also found calls to `load_plugin_textdomain` on /options/index.php and /utils/stcr_manage.php. **There should be only one call in the plugin**. If you can, test what happens if you remove those calls now that I added the action hook on 'plugins_loaded'

[2015-09-23 19:07] Reedyseth commented on #141
Copy that I will give a try later on the day and let you know the findings.

[2015-09-23 19:10] Reedyseth commented on #141
Both commits looks alright to me, I just need to test them.

[2015-09-23 19:16] IvanRF commented on #119
I sent the fix for the date. If you prefer another formatting, here is the [documentation](https://codex.wordpress.org/Formatting_Date_and_Time).

[2015-09-23 20:07] Reedyseth commented on #119
Another user mention the possibility to remove the date from the Management Page. How relevant is the day for you ?

[2015-09-23 20:25] IvanRF commented on #119
Maybe when you have several subscriptions, the first data to show should be the name of the post. Then, 'All comments' or 'Replies only'. As I said, I found difficult to understand why there was a 'Y' or 'R' and I prefer to remove the Legend.

The date could be at the end or could be removed.

I searched for examples. This is how CNET shows subscriptions:
![23-9-2015 5-21-36 p- m-](https://cloud.g

[2015-09-23 20:30] Reedyseth commented on #119
Agree, This has no change on the Upcoming releases.

[2015-09-23 20:34] IvanRF commented on #119
Regarding the user page, I think it would be better to remove the actions Suspend and Activate, and I would avoid having to select an action and then press the update button.

Like CNET, it's better to have directly a button with the action. In our case,
- Unsubscribe
- Subscribe
- Subscribe only to replies

[2015-09-23 20:36] IvanRF commented on #119
So, the user only selects posts and press the button with the action he prefers

[2015-09-23 20:39] IvanRF commented on #136
Related to [#119](https://github.com/stcr/subscribe-to-comments-reloaded/issues/119)

[2015-09-23 20:42] Reedyseth opened #142 "Improve Management Page layout"
Consider to check what the community ask. Check #136 and #119 .

Improve the UI to have a better Management Page experience.

[2015-09-23 20:45] Reedyseth commented on #119
I have unify both request into one ticket, I will be using that for further actions like commits, etc.

See #142.

[2015-09-23 23:45] IvanRF commented on #136
@konus1 if you want to hide things, you can use CSS. For example, to hide the dates you can use:
`.subscribe-column-1, .subscribe-separator-1 { display: none; }`

There are hooks for the legend, and the other columns.

[2015-09-24 00:24] Reedyseth commented on #118
This commit 6a157fdeb81e322249831490bd2d17fd096e12a3 complete this requirement, although there is more to add into this feature because some user would like to have the submit button below the subscription box. You can download the latest code and test it.

[2015-09-24 00:38] IvanRF commented on #118
I'm sorry I'm late on this, but I think filters are better. The javascript is executed after the page is loaded (when ready), so it could be weird for the user if it sees a checkbox appearing.

I don't know which filter WordPress provides, but is better to insert the code before loading the page.

[2015-09-24 00:41] Reedyseth commented on #118
I was aware of this, I tried to use filters but as for another issue regarding JetPack using iframes it  will clash, to prevent the users to see the checkbox there is a CSS class that hide the checkbox form before it execute Javascript. This will work until I discover the filters way.

[2015-09-25 14:33] IvanRF opened #143 "Add link to "No" value in comments table"
Some users make comments expecting an answer but they don't mark the checkbox to subscribe. So, I need to search them and add them at least "Reply to comments". It will be helpful to have a quick link in the "No" value for the column added in the comments table.

Also, the icon in the column header should have a tooltip

![25-9-2015 11-29-03 a- m-](https://cloud.githubusercontent.com/assets/675165

[2015-09-25 19:01] Sherlock88 opened #144 "Batch email sending and compatibility with StC"
I am an StC user at present.  my blog to a different web hosting where they have imposed a limit of 50 mails/hour. I have several threads having more than 50 commenters. As a result, most of my mails are getting bounced. I wish to switch to StCR provided (1) it's compatible to StC and (2) supports batch/group mailing mode instead of mass mailing at a go. Can you please confirm these?

[2015-09-25 19:04] Reedyseth commented on #144
Hello @Sherlock88 , this faulty behavior was inherited into StCR, but some users have noticed this and reported, so a new option to digest the comments will be soon. There are some other big changes on the plugin that will be release on this following days, after this update I will take care of the Digest Feature. See #125

[2015-09-25 19:08] Sherlock88 commented on #144
It's not what exactly I meant a message digest in the true sense of the term. What I suggest/propose/wish to have is to be able to send out 50 subscription mails in 5 chunks/groups/batches of 10 mails each.

And what what the compatibility of StC and StCR? If not compatible, is it possible to migrate?

[2015-09-25 19:11] Reedyseth commented on #144
OK copy that

Yes. When you install StCR there is routine to migrate all you subscribers from StC

[2015-09-25 19:14] Sherlock88 commented on #144
Thanks for confirming. I am moving on to install StCR now.

And you can keep my request as separate one on queue, along with the upcoming "digest" feature.

[2015-09-25 20:26] Reedyseth commented on #144
Cool, if you would like to test the code before the next release you can follow [this instructions](https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Install-New-Release):

[2015-09-25 20:43] IvanRF commented on #143
Tooltip pull request
https://github.com/IvanRF/subscribe-to-comments-reloaded/commit/8b489fd8025463302921d5fd1347137b33a8732a

[2015-09-25 20:45] IvanRF commented on #143
I'm trying to define a link for "No". How can I populate the email and the post ID to this section?

![25-9-2015 5-44-43 p- m-](https://cloud.githubusercontent.com/assets/6751650/10111842/3ac3097e-63ad-11e5-8000-762130733b99.png)

[2015-09-25 20:52] Reedyseth commented on #143
Right now the user must know the ID of the post entry which is not quite good, how someone will remember and ID of a post. I have in mind an improvement for this part.

[2015-09-25 21:00] IvanRF commented on #143
I just tried this link, but it was added directly:

options-general.php?page=subscribe-to-comments-reloaded/options/index.php&subscribepanel=1&amp;sra=add&amp;srs=R&amp;srp=' . $comment->comment_post_ID . '&amp;sre=' . urlencode( $comment->comment_author_email ) . '

[2015-09-25 21:05] IvanRF commented on #143
No, "edit" and "edit-subscription" needs that the entry exists. What other option for adding a new entry is available?

[2015-09-25 21:09] IvanRF commented on #143
I think it would be nice to have something like "edit-subscription" that leads into the edit action, but for the add action. An "add-subscription" page, since using the add action directly in the link does not allow the user to select the status.

[2015-09-25 21:11] IvanRF commented on #143
I can duplicate "edit-subscription" and code the "add-subscription" if you want?

[2015-09-25 21:34] Reedyseth commented on #143
@IvanRF It would be better to have a Skype/Hangout call to coordinate this changes and all the others that are pending.

[2015-09-25 21:36] IvanRF commented on #143
I just coded and tested that, it works like a charm 😃

https://github.com/IvanRF/subscribe-to-comments-reloaded/commit/de094211dc10edeb1d41931941e85e4623520e69

[2015-09-25 22:20] Reedyseth commented on #143
Sweet, I will download it and test it.

[2015-09-26 13:22] Sherlock88 commented on #144
I installed StCR from WP Plugin Installer. It has created an empty `wp_subscribe_reloaded_subscribers` table, though I have an active StC installation. As a result, I can't see the subscriptions either.

[2015-09-27 09:19] Sherlock88 opened #145 "StCR does not migrate StC database"
I am an StC user. I installed StCR by disabling the former. But, StCR didn't migrate the old database. As a result, I can't see any subscription from `Manage Subscription` page.

[2015-09-27 15:08] Reedyseth commented on #145
@Sherlock88,

It has been a while since this routine was created, I will check your code with a beta code that I have in the pre_release branch.

Thank you for report the issue

[2015-09-27 15:14] Reedyseth commented on #144
@Sherlock88,

The purpose of this table is to manage the subscribers with a unique identifier. This table is fill once the script detect subscriptions on the meta table. Since you are migrating from StC, I have to find the main issue.

[2015-09-27 15:25] Sherlock88 commented on #145
FYI, I'm using StC v2.3

[2015-09-28 20:51] konus1 commented on #118
I don't know if this change of Wordpress 4.4 comments will affect the new layout.
http://wptavern.com/wordpress-4-4-to-possibly-rearrange-fields-to-the-comment-form

[2015-09-28 21:13] Reedyseth commented on #118
Since this issue #118 current change is perform on the client side with jQuery this will not affect, although I am going to be aware of this since the plan is to switch from jQuery to WordPress filters. Thank you for the note.

[2015-09-29 13:29] wcruz-br opened #146 "Bug Report: Can't turn off "HTMLify links in emails""
I turn the option off, but it still inserts &lt;a href&gt; tags in e-mails, breaking my layout. :(

Option:
![image](https://cloud.githubusercontent.com/assets/14890295/10165235/841d6a08-6694-11e5-8d27-34c74e562223.png)

E-mail:
![image](https://cloud.githubusercontent.com/assets/14890295/10165306/ec25bab0-6694-11e5-9675-503245bcd976.png)

E-mail source code:
![image](https://cloud.githubuserconte

[2015-09-29 13:39] wcruz-br opened #147 "Bug Report: manage subscriptions page"
After user sends his/her e-mail to receive the manage subscriptions page link, system shows the content that is expected only in the e-mail:

![image](https://cloud.githubusercontent.com/assets/14890295/10165545/48e49d10-6696-11e5-965d-e2e92e455e41.png)

This is confusing for the user. :/

Thanks in advance.

[2015-09-29 13:41] wcruz-br opened #148 "Bug Report: receiving 3 "manage subscriptions" e-mails"
When users provide their e-mail to receive link to the manage subscriptions page, they receive three times the same e-mail:

![image](https://cloud.githubusercontent.com/assets/14890295/10165633/a72f1eb8-6696-11e5-9703-767335b633e5.png)

[2015-09-29 13:49] wcruz-br commented on #146
I've just find out that it only occurs in that manage notifications e-mail. On regular notifications, it works fine:

![image](https://cloud.githubusercontent.com/assets/14890295/10165858/b550326a-6697-11e5-9f52-bcfb2324f941.png)

[2015-10-02 15:10] Reedyseth commented on #147
@wcruz-br this Issue has been noticed and fix, it will be available on the next update, if you feel that you can't wait you can always download the beta version and also help to test the update for any bug.

**BETA Repository:** https://github.com/stcr/subscribe-to-comments-reloaded/tree/pre_release
**BETA ZIP file:** https://github.com/stcr/subscribe-to-comments-reloaded/archive/pre_release.zip

[2015-10-02 15:12] Reedyseth commented on #148
Am update will be release soon, you can test it to see if this fix this bug, since this new update will fix many things on the plugin.

**BETA Repository:** https://github.com/stcr/subscribe-to-comments-reloaded/tree/pre_release
**BETA ZIP file:** https://github.com/stcr/subscribe-to-comments-reloaded/archive/pre_release.zip

[2015-10-02 15:57] Reedyseth commented on #146
Please download the pre_release version and test it

**BETA Repository:** https://github.com/stcr/subscribe-to-comments-reloaded/tree/pre_release
**BETA ZIP file:** https://github.com/stcr/subscribe-to-comments-reloaded/archive/pre_release.zip

Then keep deactivated the option `HTMLify links in emails` and then create you subscription template with the editor:

![image](https://cloud.githubusercon

[2015-10-06 21:05] edelen opened #149 "Apache Server 500 errors - memory & CPU overflows?"
Since the WordPress 4.3.1 update, the plugin has been spawning processes on my host's server that eventually overflow the 1 TB memory usage allocation and max out the CPU usage. This results in an Apache 500 error, which takes down the site. Log files blame the WordPress index.php file, but that's a catch-all for this problem

Almost two weeks of isolating plugins, and it comes down to this one. I

[2015-10-06 21:26] Reedyseth commented on #149
Hello @edelen this is the first report of usage of CPU from StCR. I have some update with lots of code refactoring, I have tested this code on my own site and I don't have this kind of behavior. If you could download your site into a local enviroment and test that will be very helpful, let me know if you could do this.

Regards.!!

[2015-10-09 12:15] Sherlock88 opened #150 "Ignores comments picked by Akismet"
If a comment is wrongly flagged as spam by Akismet and is later approved by marking as `Not spam`, the subscription status of that commenter remains `No subscription`. As a result, a mail is not triggered on reply of such comments.

[2015-10-09 13:33] IvanRF commented on #150
Do you know if the user that made the `Not Spam` comment had marked the notification checkbox?

[2015-10-09 14:18] Sherlock88 commented on #150
I have seen this behavior in all three cases I tested. Generally users tend to leave the selection in dropdown as-it-is to its default settings which is `Replies to my comments only` in my case.

[2015-10-09 14:39] Reedyseth commented on #150
Well, on this case a new hook for picking up restore comments will have to be implemented, on this case is not available. Such improvement will be notice.

Regards.!!

[2015-10-13 10:48] figarro opened #151 "Confirm link actually loads Management page"
I've seen a strange issue on the latest version 150820 of the plugin: when I receive the confirmation email (I'm trying to subscribe as a normal user) the link generated by [confirm_link] points to the management page for that post, as I can see all other emails subscribed to the post and can delete/change their subscription model).

I think it's a pretty big privacy issue.

[2015-10-13 15:15] Reedyseth commented on #151
@figarro Thank for reporting this, I am working on tha last updatem, I let you know when is out so that you can check this behavior, many bug will be fix.

[2015-10-16 08:21] timpritlove commented on #104
Another three months have passed and I still have to deal with frustrated users on a daily basis because of this issue. Anything you can share about your progress in this regard?

Maybe there is some kind of workaround by pruning tables or something? I am open for any recommendation.

[2015-10-16 09:28] tbartels opened #152 "Blog owner(admin) being notified on every comment when 'Subscribe Authors' option selected"
I've been looking through the code to try and find the reasoning, but it doesn't seem to make sense. For some reason a notice is sent to the blog owner/admin for every comment if the "Subscribe authors" option is selected. The code doesn't actually notify the author (that is done correctly elsewhere), perhaps it was meant to be for the `subscribe_reloaded_enable_admin_messages` option?

    // If

[2015-10-29 00:52] IvanRF commented on #125
I don't know how the development on delayed notifications is going, but I would like to add that replies should be notified right away.

In other words, all subscribers' notifications should be grouped in mails and sent every X minutes. However, if someone replies a comment, that reply notification should be sent as normal (immediately) only to the person whose comment was replied. This way, the f

[2015-11-02 10:15] Maudus opened #153 "Subscribe To Comments Reloaded does not work"
Hello,

Subscribe To Comments Reloaded does not work (Checkboxes do not appear on my pages of articles) with my theme Wordpress "Plane" and Wordpress 4.3.1.

Sincerely,

Maude

[2015-11-02 15:57] Reedyseth commented on #153
Hello  @Maudus this usually happens when you them has a hidden or display none into your label tag.

[2015-11-04 10:10] Azkim opened #154 "Bug Report: <short description>"
issue tester

[2015-11-04 10:10] Azkim commented on #154
test received

[2015-11-04 10:12] #154 closed

[2015-11-08 18:35] timpritlove commented on #104
If there won't be a fix for this, is there at least a workaround? Maybe it's all related to a corrupted database and purging them might help (even when I lose all current subscriptions)? Is there a defined way to reset the system, which database tables need to be dropped?

[2015-11-15 19:39] xenon2008 opened #155 "Manage Subscription Page Error"
Hello,

i have instald the Plugin, but the Manage Subscriptons side is not working corretly.
the Path in the settings is set to /comment-subscriptions/ and the Permalink of Wordpress is ""Beitragsname"

Also i can see the Text Manage Your subscriptions twice?!?

Sry for my bad english... here some screenshots .
Under show Site i see pageid=99999

i hope everybody know what i mean =)

Best Regards

[2015-11-27 17:53] filazza opened #156 "Modification username of user"
Hi,

On subscribe to comment plugin, the user can't modify their name or other informations, what can i do to fix this trouble ?

[2015-11-27 18:26] Reedyseth commented on #156
Hello @filazza this options is not available yet, only if you are the admin you are allow to modify this information.

Regards.!!

[2015-11-27 18:26] #156 closed

[2015-11-27 23:58] filazza commented on #156
Hi

Many thanks,
But i don't find where ??

[2015-11-28 00:03] Reedyseth commented on #156
You should find the edit button on the main tab of the plugin

![image](https://cloud.githubusercontent.com/assets/1228711/11449152/af99d050-9528-11e5-96ae-28612832e921.png)

[2015-11-28 17:13] filazza commented on #156
Hi ,

Yes but we can just modify the email and we can’t mofify the pseudo,
(an user don’t want the pseudo is his real name)

many thanks
Phil

[2015-12-04 00:47] mcbsys commented on #152
I think this may be why I also have this plugin installed:
https://wordpress.org/plugins/comment-moderation-e-mail-to-post-author/

[2015-12-11 17:00] IvanRF opened #157 "Add "In reply to" replacements"
It would be nice to add to notifications 2 new replacements (like [comment_reply_permalink]) for "In reply to". The idea is to show the information like in the comments admin page:

`
In reply to <a href="[comment_in_reply_to_permalink]">[comment_in_reply_to_author]</a>
`

Some notifications are difficult to understand without the context. Adding the "In reply to" information will be useful.

[2015-12-11 17:02] Reedyseth commented on #157
Hello @IvanRF  I have added the enhancement label to your request.

[2015-12-11 17:02] IvanRF commented on #157
That was fast :)

[2015-12-29 17:16] raamdev opened #158 "UI Issue with Options Menu (conflicts with WordPress Dashboard messages)"
_Originally reported in https://github.com/websharks/comment-mail/issues/186#issuecomment-166928886._

There's a problem with the `<h2>` element that the StCR links are inside; they overflow onto Divs that show up underneath it (e.g., when another plugin adds a Dashboard message):

![2015-12-29_12-11-16](https://cloud.githubusercontent.com/assets/53005/12038374/8e945c7a-ae25-11e5-9fd1-5cb12f7326d7

[2015-12-30 01:55] Reedyseth opened #159 "undefined method stcr\stcr_subscribe_reloaded::subscribe_reloaded_manage()"
`undefined method stcr\stcr_subscribe_reloaded::subscribe_reloaded_manage()`

![image](https://cloud.githubusercontent.com/assets/1228711/12045279/bccec732-ae5d-11e5-9821-0e6b6102b50c.png)

This error occur while trying to load StCR with a real management page.

[2015-12-30 06:36] Reedyseth commented on #118
This commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/51dee2e50370d53aef1bc9ae89d2b69895cf526e complete the request about the Checkbox position.

As for the issue I will close it and then merge this changes with the master branch once is fully tested by the community.

[2015-12-30 06:36] #118 closed

[2015-12-30 06:49] Reedyseth commented on #158
This UI issue is fixed on this commit 39907898e1441064d61e6f2128b0e580f34b45bf.

You can download the latest changes of the pre_release branch to give it a try.

[2015-12-30 06:49] #158 closed

[2016-01-03 22:22] Reedyseth opened #160 "Update routine"
On the current version of StCR when you update to the latest version some routines to upgrade the plugin doesn't work.

It is require a correct update routine that detect the correct version of StCR and if there is a new one then an upgrade routines is needed.

[2016-01-04 06:03] lucashall commented on #105
Hi Reed,

Happy holidays friend.  I was just wondering if this bug was still planning on being fixed.  It's kinda a big deal that users can't unsubscribe themselves.  Any help here would be appreciated.  Thanks!

[2016-01-04 08:45] Reedyseth commented on #105
Good day Lucas,

Yes I am planning to release a new update soon, I will be releasing a beta
code for the users to test it and receive feedback, I have added many
fixes, so I think this issue is include it. Please subscribe to he beta
tester so that you can download the beta code. I will help a lot to get
your feedback.

*Beta tester subscription:* http://eepurl.com/biCk1b
​​
Regards and Happy Holi

[2016-01-04 09:38] Reedyseth opened #161 "Links broken on Notifications Panel"
When update to the pre_release branch you can see that the links on the templates are broken:

![image](https://cloud.githubusercontent.com/assets/1228711/12086992/2c1dfbe4-b28c-11e5-99c2-ca942a4be549.png)

[2016-01-05 20:02] Reedyseth commented on #160
This is fix on the commit 83375b127cd7075461146673357837da7f95b43f

[2016-01-05 20:02] #160 closed

[2016-01-05 22:10] Reedyseth commented on #161
Issue fixed on commit a1f9723

[2016-01-05 22:12] Reedyseth commented on #161
Since there are users that don't have an Idea about how to create a Notificatio message it would be cool to have a button to load a generic template for none expert users.

[2016-01-05 22:12] #161 closed

[2016-01-05 22:20] Reedyseth opened #164 "Generic Notification Message Template"
Since there are users that don't have an Idea about how to create a Notification message it would be cool to have a button to load a generic template for none expert users. Idea generated on #161

![image](https://cloud.githubusercontent.com/assets/1228711/12129297/dc9ae606-b3bf-11e5-86d8-bd24ca029871.png)

[2016-01-05 23:15] raamdev commented on #164
Just an idea: The way Comment Mail does this is by allowing you to empty the field completely, and when you save the empty field it replaces it with the default template. That way if you ever mess up when editing the templates, you can simply delete everything in the box and save the options and Comment Mail will fill in the default template.

[2016-01-05 23:27] Reedyseth commented on #164
Sounds good to me, otherwise I will have to do a lot of DOM manipulation to get it done.

[2016-01-06 01:02] Reedyseth commented on #164
This commit fulfill the requirement dfb2163

[2016-01-06 01:02] #164 closed

[2016-01-08 10:36] Reedyseth commented on #159
You have to edit your template file

This is because since the code base changed now they way subscribe to comments subscription box is call is a bit different, instead of having this:

[code]
Have this:

[code]
Calling `subscribe_reloaded_manage()` is part of a different class and therefore the invocation is different.

[2016-01-08 18:15] Reedyseth commented on #143
This feature is now on the beta code, thanks https://github.com/stcr/subscribe-to-comments-reloaded/commit/b07198380a133c36697b0d6348ede01b3116ea98

[2016-01-08 18:15] #143 closed

[2016-01-08 18:15] #119 closed

[2016-01-08 18:16] Reedyseth commented on #142
Completed on Pull request https://github.com/stcr/subscribe-to-comments-reloaded/commit/b07198380a133c36697b0d6348ede01b3116ea98

[2016-01-08 18:17] Reedyseth commented on #142
I am reopening this and close it until all the references are complete.

[2016-01-08 18:18] Reedyseth commented on #119
Request merged https://github.com/stcr/subscribe-to-comments-reloaded/commit/b07198380a133c36697b0d6348ede01b3116ea98

[2016-01-08 18:19] Reedyseth commented on #141
Now working in latest changes of `pre_release` branch. Merged here https://github.com/stcr/subscribe-to-comments-reloaded/commit/b07198380a133c36697b0d6348ede01b3116ea98

[2016-01-08 18:19] #141 closed

[2016-01-08 19:16] IvanRF opened #166 "Reuse wp_editor"
I saw that you included tinyMCE as a library. Since WordPress also uses that, wouldn't be better to use `wp_editor`?

[Here is the reference](http://codex.wordpress.org/Function_Reference/wp_editor), and some examples: [Using wp_editor](http://code.tutsplus.com/articles/quick-tip-using-wp_editor--wp-27136), [Enable editor in plugin](https://wordpress.org/support/topic/enable-wysiwyg-editor-in-plug

[2016-01-08 19:38] Reedyseth commented on #166
That was my first intention at first, but then I noticed that I can keep the tinyMCE up to date faster than WordPress. Also I can implement more plugins faster without messing too much with hooks and actions.

[2016-01-08 19:50] IvanRF commented on #166
That's a good point.

I thought about using WP editor since I use Visual Composer for Posts/Pages. However, in this case is useless since VC needs javascripts which can't be used in mails (not everyone supports js in emails).

[2016-01-08 19:50] #166 closed

[2016-01-08 21:35] Reedyseth commented on #166
Although I might use the WP Editor later in a custom post type, we'll see.

[2016-01-08 23:16] disjointedimages opened #167 "Bug Report: Clicking subscribe (without posting) link goes to 404"
After clicking the subscribe link, it tries to resolve a url that ends up returning a 404.

Can you assist with what might cause that?

http://www.mysite.com/blog/comment-subscriptions/?srp=65880&srk=845bbb43d5e45f1cef41b7b59eb27b23&sra=s

[2016-01-09 00:23] Reedyseth commented on #167
Sounds to me like you have not the Management Page configure correctly.

Can you share a screenshot of your settings on the `Management Page` Panel?

Also share the structure of your permalinks.

Regards.!!

[2016-01-10 23:10] IvanRF commented on #137
Closing this as it is suggested to always include the text domain.
See https://make.wordpress.org/polyglots/2016/01/10/if-a-plugin-has-a-string-which-is/#comment-271112

[2016-01-10 23:10] #137 closed

[2016-01-10 23:30] Reedyseth commented on #137
Thank you for keeping track on this.

[2016-01-12 20:12] Monter opened #168 "Error 500 in v160106"
PHP Fatal error:  Call to undefined method stcr\wp_subscribe_reloaded::clean_email() in /wp-content/plugins/subscribe-to-comments-reloaded/templates/subscribe.php on line 36

when click on subscribe entry as visitor without leave comment

[2016-01-12 21:03] Reedyseth commented on #168
Hi @Monter,
There is a minor correction to make in your template, See https://github.com/stcr/subscribe-to-comments-reloaded/issues/159

[2016-01-12 21:41] Reedyseth commented on #168
Documentation updated here:
https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#create-a-real-management-page

[2016-01-12 21:43] Monter commented on #168
Hmmm, but I never add any code to the template and the older version was running normally. I am using virtual management page.

[2016-01-12 21:46] Reedyseth commented on #168
OK, I am checking this out and will update the comment.

[2016-01-12 21:48] Reedyseth commented on #168
OK, I just checked the code and the file `subscribe.php` is ok,

To me it looks like you have a caching pluging and this file is not refresh, please clean any cache if you have it.

[2016-01-12 21:58] Monter commented on #168
I don't have the cache. Virtual management page opens normally, error 500 occurs when you press append to subscribe...
For now I stay with the old version.

[2016-01-12 21:59] Reedyseth commented on #168
Can you create a temporary WordPress account for me so that I can check it out?
This is my email: reedyseth at gmail dot com

[2016-01-13 06:30] AllDayRuckoff commented on #168
For what it's worth I'm experiencing the same error as well.

Virtual Management page opens normally however subscribing brings up the 500 page.

[2016-01-13 09:31] ragelt opened #169 "Call to undefined function subscribe_reloaded_show()"
Hello,
After update to 160106 I have error.
<?php /* if (function_exists('subscribe_reloaded_show')) */ subscribe_reloaded_show(); ?>
shows:
PHP message: PHP Fatal error:  Call to undefined function subscribe_reloaded_show()

php version: 5.5.20

[2016-01-13 12:30] Reedyseth commented on #169
Hello @ragelt ,

You have to change the calling to the function, See #159 And if you new a guide see here
https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

[2016-01-13 13:38] ragelt commented on #169
Guide shows how to change the calling to the function in subscribe.php ($wp_subscribe_reloaded->stcr->subscribe_reloaded_manage) , I did it already,thanx.
Now I'm try to fix the calling the function subscribe_reloaded_show() in comments.php
Help me please...  What should I add or change?

[2016-01-13 13:53] Reedyseth commented on #169
Can you paste your code of `comments.php` here?

Or paster it here http://paste.behstant.com

[2016-01-13 13:55] ragelt commented on #169
Okay: http://paste.behstant.com/?paste=212

[2016-01-13 14:50] ntsasng opened #170 "Namespace not suport php 5.2"
Hi there.
I have issue with your plugin, can you help me?
 Parse error: syntax error, unexpected T_STRING in wp-content/plugins/subscribe-to-comments-reloaded/subscribe-to-comments-reloaded.php on line 19

[2016-01-13 15:43] Reedyseth commented on #170
Hello @ntsasng ,

Unfortunately StCR requires PHP >= 5.4.x, you should ask your hosting company to upgrade to a newer version of PHP, at leat 5.4.X.

[2016-01-13 15:44] #170 closed

[2016-01-13 19:50] PatrickCB opened #171 "Issue with mails sent after upgrade"
Hi. I updated Subscribe to comments today for my (Dutch) blog and now the mails that are sent to subscribers contain HTML although I set it to text only. I didn't touch the settings, so my conclusion is that the upgrade caused it. Please assist

[2016-01-13 19:55] Reedyseth commented on #171
Can you copy and paste what you have on the `Notification Content` of the `Notification` panel ?

Also, what is the value of `Enable HTML emails` in your `Options` panel ?

[2016-01-13 20:05] PatrickCB commented on #171
You mean this?

Er is een nieuwe reactie op [post_title]. Link naar de reactie:
[comment_permalink]
<http://www.carblogger.nl/wp-admin/[comment_permalink]>">[comment_permalink]
<http://www.carblogger.nl/wp-admin/[comment_permalink]>">[comment_permalink]
<http://www.carblogger.nl/wp-admin/%3Ca%20href=>">[comment_permalink]
<http://www.carblogger.nl/wp-admin/[comment_permalink]> Auteur:
[comment_aut

[2016-01-13 20:14] Reedyseth commented on #171
OK,

First enable `Enable HTML email`, set it to **on**

HTMLify links in emails should be set to **off**

Then You have to update the links, you do this by selecting the text

[comment_permalink]

Then on the editor clck the link icon, you should have somethin like the image below,

![image](https://cloud.githubusercontent.com/assets/1228711/12306379/a8bd3e3c-b9f6-11e5-915d-fb8e944cb480.png)

Aft

[2016-01-13 20:19] PatrickCB commented on #171
Ok, will do. Thanks for your quick reply

[2016-01-13 21:07] #171 closed

[2016-01-13 23:13] jmorti opened #172 "Bug Report: <short description>"
The most recent update completely broke my comments notifications. The management pages dont even work correctly! The site is barnfinds.com. Should I just reinstall the old version until you get it fixed? Thanks.

[2016-01-13 23:15] Reedyseth commented on #172
Hello @jmorti , please see this #159 There is a small change in the function invocation.

[2016-01-13 23:16] Reedyseth commented on #172
Also you can take a look at this tutorial:

https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

[2016-01-13 23:26] jmorti commented on #172
What template file am I supposed to edit? Everything was working fine until you updated the code.

[2016-01-13 23:34] Reedyseth commented on #172
Do you have the `Virtual Management Page` enable ?

[2016-01-13 23:36] Reedyseth commented on #172
Also do you have access to the database ?

[2016-01-13 23:38] Reedyseth commented on #172
I just subscribe to one post

![image](https://cloud.githubusercontent.com/assets/1228711/12311405/1027f806-ba14-11e5-87b4-39e9940a3eb0.png)

[2016-01-13 23:44] Reedyseth commented on #172
I also notice that you have disable the `HTML emails`, please enable that in the options.

[2016-01-14 00:33] Reedyseth commented on #172
In did there is an issue when you want to comment without subscribing, I would like to debug your site, let me know a time where is best to enable the debug flag of your wordpress config.

[2016-01-14 00:38] Reedyseth opened #173 "Fatal error: Call to undefined method stcr\wp_subscribe_reloaded::clean_email()"
This error was detected while trying to subscribe without commenting.

![image](https://cloud.githubusercontent.com/assets/1228711/12312390/51868ed6-ba1c-11e5-94c0-7b9459452d38.png)

[2016-01-14 00:38] Reedyseth commented on #173
Reported here #172

[2016-01-14 00:39] Reedyseth commented on #172
I spot the issue and while release the fix asap. See #173

[2016-01-14 06:48] ragelt commented on #169
Any ides?

[2016-01-14 06:55] Reedyseth commented on #169
In you code that you share please replace this line

[code]

for this
[code]
And let me know your results.

[2016-01-14 07:02] ragelt commented on #169
Done. Error changed:
```PHP Fatal error:  Call to a member function subscribe_reloaded_show() on a non-object in```

[2016-01-14 07:04] Reedyseth commented on #169
I see, now use this one:
[code]

[2016-01-14 07:15] ragelt commented on #169
Currently there are no errors, but the subscription form is also not shown.

[2016-01-14 07:19] Reedyseth commented on #169
What is your website ?

[2016-01-14 07:24] ragelt commented on #169
Can I send it to you by hangouts or skype?

[2016-01-14 07:25] Reedyseth commented on #169
sure, even better with skype, search me with **reedyseth**

[2016-01-14 07:28] ragelt commented on #169
Did it.

[2016-01-14 07:29] Reedyseth commented on #169
Got it !

[2016-01-14 08:53] Reedyseth commented on #173
After deleting a subscription:

![image](https://cloud.githubusercontent.com/assets/1228711/12319747/a82efc60-ba61-11e5-974f-62fcb6538823.png)

[2016-01-14 15:24] kermit4gitful commented on #173
Hi, Reedyseth. Thank you very much for making the Subscribe to Comments plugin. I can confirm that  I am also seeing both of these errors on my blog. I'm running WP 4.4.1 and using PHP 5.4.31, and the Subscribe to Comments version is 160106.

[2016-01-14 16:33] Reedyseth commented on #173
@kermit4gitful

This error is part of calling a function in the old code, fix is ready and will push it later in the day.

Thank you for your comment.

[2016-01-14 17:24] jmorti commented on #172
I'm getting a blank page when trying to subscribe when I'm logged in. Also the manage page doesn't show any subscriptions. None of the existing subscriptions seem to be going out either. Please let me know what I need to do to fix this.

[2016-01-14 17:32] Reedyseth commented on #172
Yes, there is a bug calling some code inside the plugin and I am working on
it !

On Thu, Jan 14, 2016 at 10:24 AM, jmorti <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasoftengineering.com
Email: reedyseth@gmail.com

[2016-01-15 06:02] jmorti commented on #173
Any update on when this fix will be released?

[2016-01-15 16:20] #159 closed

[2016-01-15 16:21] Reedyseth commented on #173
It is solve on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/203d1b949d9368724835c2d728cd6332c1e53b9a and the release is out, so you can now update.

[2016-01-15 16:21] #173 closed

[2016-01-15 16:23] #169 closed

[2016-01-15 16:25] Reedyseth commented on #172
Bug fixed, see #172, can you confirm that it is working after updating to the latest version?

[2016-01-15 16:38] jmorti commented on #173
It looks like it now works, but it also looks like it deleted all the previous subscriptions. That's not good...

[2016-01-15 16:39] jmorti commented on #173
I take that back, it didn't delete them. They are still in the database, but I dont receive notifications from the old ones and they dont show up on the manage page.

[2016-01-15 16:40] Reedyseth commented on #173
Last version(160116) did not mess with the subscription.

[2016-01-15 16:41] jmorti commented on #173
Like I said, they are still there, but the old ones do not show up on the manage page and they are not sending out notifications. Something is still not right.

[2016-01-15 16:41] Reedyseth commented on #173
What was your page again?

[2016-01-15 16:44] jmorti commented on #173
Here's an example of what Im talking about:

![firefox_screenshot_2016-01-15t16-42-52 086z](https://cloud.githubusercontent.com/assets/16693709/12358845/7de9bc40-bb6c-11e5-94c6-33647abb9c8f.png)
![firefox_screenshot_2016-01-15t16-43-31 590z](https://cloud.githubusercontent.com/assets/16693709/12358846/7deffed4-bb6c-11e5-939b-0759f270cd0c.png)

[2016-01-15 16:45] jmorti commented on #173
See, only the new subscription made after the update shows on the "manage" page. There are older ones in the database, but they are not sending notifications and I cannot manage them. Hope that helps.

[2016-01-15 16:46] kermit4gitful commented on #173
Yay! Thank you, Reedyseth. The new version seems to be working great on our end. :)

[2016-01-15 16:49] jmorti commented on #173
Maybe I'm confused on the manage pages. I will wait and see if the older notification still work. Thanks for all your help!

[2016-01-15 16:54] Reedyseth commented on #173
I would like to debug the plugin in your Admin panel, and confirm that is an issue. Also by being there I would like to improve your notifications template, cause they are all broken. You can create a temporary user for me, use my email reedyseth at gmail dot com

[2016-01-15 17:00] jmorti commented on #173
I had the notifications all set perfect too right before you updated. Why cant we edit the raw html anymore? I'm not sure how I feel about letting you into the backend of the site.

[2016-01-15 17:11] Reedyseth commented on #173
It is because the last update are now display in the rich editor.

On that case update the text and link references on the options. See #171

[2016-01-15 17:19] jmorti commented on #173
I changed the settings, but I still need to edit the html because I have custom styles in there. Does the editor give you the option to view the source?

[2016-01-15 17:46] Reedyseth commented on #173
On this version no, I had many user asking a rich editor to create a HTML template wihtout touching any HTML source, perhaps in the future it will be.

[2016-01-15 22:51] Niackery commented on #173
Hi Reedyseth,

Firstly, thanks for this plugin! A couple of issues with the last two updates. I also had custom styles in the html templates, and now they're gone, and I can't reproduce them with the rich text editor. It would be nice to have the choice... Also, with today's latest update, the changelog is gone so I have no clue what changed...

[2016-01-15 22:57] Reedyseth commented on #173
I had also another user reporting the same issue, in that case I would enable the source code view.

I just fixed it, now you should be able to see it.

Thank you for taking the time to review it !

[2016-01-15 23:21] Reedyseth commented on #173
@Niackery

As for the Source code view, I just commit the changes. I did not go over all the update process to release a new version, I just add it to the current one so if you like,

1. Download the latest version
2. Deactivate the plugin
3. Delete the old plugin files
4. Upload the downloaded file.
5. Activate, you should be able to see the Source code view under the tools menu.

@jmorti Source

[2016-01-16 16:11] Niackery commented on #173
Thanks for the changes! I have a plugin that compares the files in the repository to the files in my site and allows me to restore the originals when there are changes (Wordfence), so I just replaced the files you updated. I can see the changelog now :)

When I go to the StCR Management Page settings tab, instead of seeing a rich text editor, now I see a blank space. But if I use Inspect Element,

[2016-01-17 08:15] Reedyseth commented on #173
Have you try to refresh the cache?

To enable it you have to add the tag **[oneclick_link]** in your notification content:

![image](https://cloud.githubusercontent.com/assets/1228711/12376550/5fc56362-bcb7-11e5-9bf4-5c19bdbc3d59.png)

Also you have to setup the Unsubscription page content on the same Notifications tab:

![image](https://cloud.githubusercontent.com/assets/1228711/12376556/9f6fcdfe

[2016-01-17 18:38] Niackery commented on #173
Thanks for the info on setting up one-click unsubscribe :)

To answer your question, I cleared my caching plugin's cache, my minifying plugin's cache, and my browser cache, and that's what I saw. I just did it all again to make sure, and yep, it's all still just a blank space next to each heading. Plus, I'm getting those 404s for that URL every time I visit the StCR Management Page settings tab...

[2016-01-17 18:40] Niackery commented on #173
Actually, I just noticed the same problem for the Notifications tab -- it's just blank space next to the headings, no text areas or rich text editors at all...

[2016-01-18 00:45] Reedyseth commented on #173
@Niackery, what I suggest is to dissable the plugin, delete it, and then upload the latest release, download it from here:

https://downloads.wordpress.org/plugin/subscribe-to-comments-reloaded.160115.zip

[2016-01-18 05:39] CatherineWLT opened #174 "Older version..."
The new update messed up my website and I don't have time to play around with it.

Could I please get a link to the older version?

Error: Parse error: syntax error, unexpected T_STRING in...

[2016-01-18 18:07] Reedyseth opened #175 "Quotation marks in notification subject stripped out"
**Reported here:**
https://wordpress.org/support/topic/quotation-marks-in-notification-subject-stripped-out?replies=1

So if I do this on the subject:

There is a new comment to "[post_title]"

![image](https://cloud.githubusercontent.com/assets/1228711/12398852/70455b08-bdd3-11e5-8b27-714171982169.png)

The result is like this:

![image](https://cloud.githubusercontent.com/assets/1228711/12398861

[2016-01-19 00:04] sszdh opened #176 "Question: Add class name to dropdown select"
Hi there,

How can I add a custom class name to the dropdown `<select>` ?

For example I want to have something like this:

[code]

Thanks.

[2016-01-19 00:19] sszdh commented on #176
Sad,
I think according to [this](https://github.com/wp-plugins/send-email-only-on-reply-to-my-comment/blob/master/send-email-only-on-reply-to-my-comment.php#L106), there is no way to define any additional `class` name to `<select>` box!
Am I correct?

Thanks.

[2016-01-19 15:32] raamdev commented on #176
@sszdh You don't need to add a class; you can just reference the existing ID:

[code]

[2016-01-19 15:34] raamdev commented on #174
@CatherineWLT Older versions are available here: https://wordpress.org/plugins/subscribe-to-comments-reloaded/developers/

See the **Other versions** section.

[2016-01-19 15:37] Reedyseth commented on #174
Thank you @raamdev ,

@CatherineWLT Just to clear this up, the new update relies on your PHP version >= 5.3.x So if your site still down you can connect with FTP, delete the folder **subscribe-to-comments-reloaded** and upload the older version.

This will work for you:

https://downloads.wordpress.org/plugin/subscribe-to-comments-reloaded.150611.zip

[2016-01-19 15:47] CatherineWLT commented on #174
Thank you. As soon as it happened I deleted the folder via Fetch.

[2016-01-19 23:05] Reedyseth opened #177 "Wrong Notice on fresh install"
When installing StCR for the first time there has to be a More frendly message instead of this messages that the user does not need to know.

![image](https://cloud.githubusercontent.com/assets/1228711/12434821/708dfbee-bec6-11e5-9b83-8754af913c4b.png)

[2016-01-19 23:09] Reedyseth opened #178 "Notice button is causing confusion"
When a notice is display the user wants to close the notices but it keeps appearing, See:

https://wordpress.org/support/topic/persistent-notification?replies=3

A suggestion is to remove the `Got it` button an just leave the close icon instead.

![image](https://cloud.githubusercontent.com/assets/1228711/12434843/961170d0-bec6-11e5-8b89-828d30537352.png)

[2016-01-19 23:41] raamdev commented on #178
If I remember correctly, the close icon did not dismiss the message permanently (the messages came back on the next refresh). The only way to get the notices to go away as expected was to click the "Got it." buttons.

So if you remove the "Got it." buttons, you'll need to make sure the code is updated to properly dismiss the notices when clicking the close button.

[2016-01-19 23:44] Reedyseth commented on #178
Correct, I will trigger the Ajax call on that button, so I will change the class `stcr-dismiss-notice` to the close button.

https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/includes/js/stcr-admin.js#L11

[2016-01-20 14:41] sszdh commented on #176
@raamdev, Yeah I know, but consider you want using `bootstrap` for UI,  then we should dublicate and redefine each Styles!? Don't we?

In my provided example, the `form-control` class is a defined style for form inputs in `bootstrap` CSS package.

Thanks

[2016-01-20 14:43] sszdh commented on #176
I think it is good to have a way to add user-defined  class name to the controls

[2016-01-20 15:25] Reedyseth commented on #176
@sszdh Yes this will allow the user to have more control over the style of the dropdown. As for now you could add that class manually and then in the future add the option to add a class to the dropdown.

[2016-01-20 16:32] sszdh commented on #176
@Reedyseth Thanks for your reply.

[2016-01-20 16:33] Reedyseth commented on #176
@sszdh You're Welcome !

[2016-01-21 12:45] jdeanmllr opened #179 "oneclick unsubscribe wrong link"
when using [oneclick_link] the resolved link in the mail leads to the managing site, instead of unsubscribing directly. Can you please tell me what I'm doing wrong or fix that issue? Thank you!

[2016-01-21 15:25] Reedyseth commented on #179
Hello @jdeanmllr Thank you for report the issue. I have confirm and replicate the issue. I will work on it !

[2016-01-21 17:38] jmorti commented on #173
The link to the zip file is broken.

[2016-01-21 17:52] Reedyseth commented on #179
@jdeanmllr I debug the code the the redirection works without any problem.

One important thing. Make sure that when you are clicking on the `One Click Unsubscribe` button that you are not login as an Admin, being logged it as an Administrator takes precedence over the `One Click Unsubscribe` link.

[2016-01-22 01:25] Reedyseth opened #180 "Feature Request: Request Management Link using email"
Add hability to create a request manager link on the post, this is because there might be users that commented on a post and the cookie expire, so having the hability to request the management link could be useful. This idea came to my mind reading through some stuff.

Or have a section/widget or something to request the management link.

Do you think this hability could be useful?

[2016-01-22 07:37] jdeanmllr commented on #179
@Reedyseth Thank you very much, that solved the problem. I was logged in as an admin...

One last question: is it also possible to add an one click unsubscribe link/button directly to the site? So the user can easily unsubscribe again without having to use the managing site... Thanks in advance!

[2016-01-22 09:54] oliverands opened #181 "HTML email formatting issues in last two versions"
[Cross-posted from the WordPress support forum. Just saw the message there about posting here instead. Sorry.]

I started using the module with version 150820. In that version I created some very nice (and complex) html email templates based on other email templates I have used. I have the module configured to send html emails but not to html-ify links because I do that myself in the template code

[2016-01-22 12:50] jharries opened #182 "Bug Report: The latest upgrade scrambles the notification messages"
When I installed the latest upgrade it scrambled the notification messages with a lot of duplication. Here's what the standard message got changed to:

There is a new comment to [post_title]. Comment Link: [comment_permalink]">[comment_permalink] Author: [comment_author] Comment: [comment_content] Permalink: [post_permalink]">[post_permalink] Manage your subscriptions: [manager_link]">[manager_lin

[2016-01-22 14:01] Reedyseth commented on #182
Hello @jharries

If you delete all that you have on the editor and save your change you will get a default template that will fix this for you. For now this default template only applies to that field.

Regards.!!

[2016-01-22 15:10] jharries commented on #182
Hi Reesdyseth,

I tried that but it all ends up blank except for:

There is a new comment on [post_title].

Is that all I can use for now?

I don't understand what you meant by: For now this default template only applies to that field.

[2016-01-22 15:38] jharries commented on #182
Sorry but y our solution above does not fix it:

This is what's showing after the reset as you suggested:

There is a new comment on [post_title].

Comment link: [comment_permalink]
Author: [comment_author]

Comment:
[comment_content]

Permalink: [post_permalink]
Manage your subscriptions | One click unsubscribe

And This is what gets sent out:

<h1>There is a new comment on A New Site for a New Y

[2016-01-22 17:21] Reedyseth commented on #181
@oliverands
As far as I know by editing the source code in the source code view your HTML should be render. If you could post your template code here I could help you to figure out what  is missing.

Remember that you can paste code and sorround it with triple backquotes, see the section **Syntax Highlighting** [here](https://guides.github.com/features/mastering-markdown/#examples)

[2016-01-22 17:23] Reedyseth commented on #182
See #171 To check how to remove the duplicated links.

[2016-01-22 17:30] oliverands commented on #181
@Reedyseth
Thanks for the offer to look into this. Here is code for my notification message. Code for my management message is similar.

[code]

[2016-01-22 17:39] Reedyseth commented on #181
Actually by looking at your template a great idea came to my mind to create custom template for the users and release them, anyways I will check your code and make sure that it works with the current structure.

[2016-01-22 17:49] oliverands commented on #181
I think that's a great idea. I would be happy to help if I can.

[2016-01-22 17:52] Reedyseth commented on #181
Awesome,

By just sharing your template is a great help, but I could ask you to
confirm some behavior about, later I will open a new issue/feature for
this. In the mean time for now  I will focus to get yours working.

On Fri, Jan 22, 2016 at 10:49 AM, Todd Gibson <notifications@github.com>
wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-565

[2016-01-23 00:10] Reedyseth opened #183 "Option to disable the Subscribe Checkbox not avaiable."
The option to enable/disable the StCR Checkbox is not on the option panels. Is require to have that option in order to change that value manually on the database.

Reported here:

https://wordpress.org/support/topic/custom-subscribe-button-placement-no-longer-working?replies=3#post-7925798

[2016-01-24 18:22] Niackery commented on #173
Oops, I forgot to let you know what happened with this! I was working on my test site before, and the problem was probably that the last fix wasn't a real update and I just restored modified files. Since I hadn't updated the plugin at all on the live site yet, I figured I could just apply the update since the last fix would already be in it. It worked; there was never an issue on the live site :)

[2016-01-26 08:35] jdeanmllr commented on #179
@Reedyseth Hi Israel, did you have time to check my last question yet? Best Dominik

[2016-01-26 21:43] Makway opened #184 "Error in the notification mail"
In settings: https://yadi.sk/i/NCDmO4GonnmvA
The letter at the post office is as follows: https://yadi.sk/i/0u-4TOGBnnn2y

[2016-01-26 21:52] Reedyseth commented on #184
@Makway

Mark, make sure to enable the `HTML emals` Settings and to disable the `HTMLify links in emails` options
![image](https://cloud.githubusercontent.com/assets/1228711/12596299/756b2e4a-c43c-11e5-8c08-ec4ebec7ae7e.png)

[2016-01-26 22:06] Makway commented on #184
Many thanks!

[2016-01-26 23:00] Reedyseth commented on #184
You're welcome.

[2016-01-26 23:00] #184 closed

[2016-01-27 04:10] Reedyseth commented on #179
Hi @jdeanmllr So right now the one click tag in not translate into a link, but I will add that as a feature request.

![image](https://cloud.githubusercontent.com/assets/1228711/12603572/26239392-c471-11e5-84ad-0cb0ba5a3aa9.png)

[2016-01-27 09:12] jdeanmllr commented on #179
Thank you @Reedyseth!

[2016-01-27 09:12] #179 closed

[2016-01-27 16:46] Reedyseth opened #185 "Feature: One Click Unsubscribe on Comment form"
Add the Tag `[oneclick_link]` to the Comment Form `Subscribed label` to allow the users to Unsubscribe on the same post without going to the Management Page.

![image](https://cloud.githubusercontent.com/assets/1228711/12603572/26239392-c471-11e5-84ad-0cb0ba5a3aa9.png)

Feature request by @jdeanmllr on #179

[2016-01-31 18:20] PatrickCB commented on #171
Hi, I tried what you explained, but I noticed that the notification messages are still not what they are supposed to. They look fine in Wordpress, but the actual mail doesn't.
![setup](https://cloud.githubusercontent.com/assets/16691336/12703935/a3946bc6-c84f-11e5-8672-69ca021c2426.jpg)

![mail](https://cloud.githubusercontent.com/assets/16691336/12703929/7b1878cc-c84f-11e5-8fed-fa30d515b7ea.jpg)

[2016-02-01 21:46] juniorBR opened #186 "Hundreds of 404 error pages on webmaster tools"
Hi,

There are hundreds of 404 error pages in Webmaster Tools like this "comment-subscriptions/?srp=1933&sra=s"

My permalink structure is /%postname%/

On Yoast SEO plugin I've checked "Strip the category base (usually /category/) from the category URL.".

This option is unchecked "Remove the ?replytocom variables."

And finally, I am using a real management page with the following value "/gerenc

[2016-02-02 13:59] lludwig opened #187 "Bug Report: FQDN gets replaced with ../"
URLs get removed from the email.

If I enter https://investorjunkie.com/disclaimer/ or any sort of URL with investorjunkie.com in it it gets replaced with ../ Which is incorrect!  Needs a FQDN for the email to work properly. Either create an option to disable this replacement or fix the issue.

[2016-02-02 16:57] #174 closed

[2016-02-02 17:12] Reedyseth commented on #187
Hi @lludwig I will check it out and let you know the findings.

Regards.!!

[2016-02-02 22:06] lolobu opened #188 "Feature : Being able to add a gravatar in the comment notice"
I've modified wp_subscribe_reloaded.php to be able to add a gravatar in the email notification using the shortcode [comment_gravatar]. Maybe I'll like it :-)
I attach git the patch
[patch.txt](https://github.com/stcr/subscribe-to-comments-reloaded/files/114745/patch.txt)

[2016-02-03 13:27] jlad26 opened #189 "Bug report: update of email addresses"
Hi mass update of email addresses causes an error, I think caused by this line in wp_subscribe_reloaded.php
`$rowsAffected = $wpdb->query(
						$wpdb->prepare("UPDATE ". $wpdb->prefix .
							"subscribe_reloaded_subscribers SET subscriber_email = %s,
							    salt = %d,
							    subscriber_unique_id = %s
				 				WHERE subscriber_email = %s",
							$_new_email, $salt, $this->generate_temp_k

[2016-02-03 16:56] Reedyseth commented on #189
@jlad26 Thank you for you report.

Yes there are more lose reference to some function I sometimes is hard to catch, if you tested the code you can submit a pull request, otherwise I could add the changes and push the fix.

Regards.!!

[2016-02-04 13:14] omid020 opened #191 "Translation of subscribe-reloaded-fa_IR"
Hi!

Translation of Persian (Farsi) language is completed. Please kindly involve it in next release.

Thanks in advance.
Omid
[fa_IR.zip](https://github.com/stcr/subscribe-to-comments-reloaded/files/117438/fa_IR.zip)

[2016-02-04 19:18] Reedyseth commented on #189
Close on commit 838f11d84fd40b3a073b0f607fd0dd652b65e56a

Thank you.

[2016-02-04 19:18] #189 closed

[2016-02-04 19:19] igorchernomoretz opened #192 "Bug Report: Notifications of new comments come with html tags"
Notifications of new comments come with html tags. How to fix it?

[2016-02-04 19:21] Reedyseth commented on #192
@igorchernomoretz Please set `Enable HTML emails` to **Yes** and `HTMLify links in emails` to **No**

![image](https://cloud.githubusercontent.com/assets/1228711/12826751/cd7badb8-cb39-11e5-9ad0-a2fbb273a89c.png)

[2016-02-04 19:23] igorchernomoretz commented on #192
Thanks. I will try

[2016-02-06 05:46] omid020 opened #194 "issues with subscriptions management by users"
Hi,
I have translated plugin language file, nevertheless I see content of this URL and any related actions in English language:
http://www.otoraby.com/comment-subscriptions/

When I send email address via above URL in next page I see [blog_name] output but I do not see [manager_link] output !

Is it a bug!?

![22222](https://cloud.githubusercontent.com/assets/4216430/12864911/b946d664-ccb1-11e5-8d

[2016-02-08 16:13] Reedyseth commented on #194
@omid020 To me it looks like the references are broken, please update the references with Poedit.

[2016-02-10 05:35] drreen opened #195 "Bug Report: Plugin breaks customizer"
Hey guys

I identified the plugin to break the wp customizer on pages, where comments are enabled.
I am using Make Plus Theme (https://thethemefoundry.com/docs/make-docs/)

Will be happy to provide admin login to my staging

[2016-02-12 09:33] Monter commented on #192
This unfortunately does not help. I always had a set of e-mails and text off htmlify option, everything worked properly. In the last version of the plug inserts for notifications double HREF tags.

[2016-02-13 04:44] omid020 commented on #194
@Reedyseth  I have updated references before;
What about dismissing [manager_link] output? it is translated within admin area not translation file.

[2016-02-13 23:51] Monter commented on #192
UPDATE: after returning to the old version, I found the cause of the double HREF tags in notifications:

![messages_after_back](https://cloud.githubusercontent.com/assets/9859492/13030738/24270f18-d2b5-11e5-9ba6-60b11949a24b.png)

Is it possible that she did it to install the new version?

[2016-02-16 12:28] lolowilla opened #196 "subscription box above the submit button"
Hello,
I have been having issues with that option. When activated, the checkbox and label won't appear. After searching for a while, I realized that the js script supposed to show it again was not using the right selector : in most wordpress themes I've been working with (default wordpress templates), the submit input class is called "submit". In your script, it's called Cbutton.
On my script I ch

[2016-02-16 15:38] Reedyseth commented on #196
Hello @lolowilla

The class is incorrect, I found that some users have trouble with this, I was planning to correct the jQuery code, but as for this feature I will modify the code using WordPress this will improve the compatibility.

[2016-02-16 15:44] Reedyseth commented on #194
@omid020
[manager_link] Will become a URL so there is no need translate. If you try to translate [manager_link] then it won't be parse.

[2016-02-16 15:58] Reedyseth commented on #194
As for the English output, that has to be change within your StCR area.

[2016-02-16 16:22] Reedyseth opened #197 "SQL Error: 'wp_options' doesn't exist"
@Servicemagic EU

Reported here:
https://wordpress.org/support/topic/sql-error-wp_options-doesnt-exist?replies=1#post-8028815

[2016-02-16 16:31] Reedyseth opened #198 "Links are duplicated on Notification messages."
When updating to the latest version the StCR tags on the Admin area are duplicated. Issue reported here #192

[2016-02-16 16:32] Reedyseth commented on #192
@Monter The root cause is this routine: https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/utils/stcr_upgrade.php#L446

It appears to be buggy, but it tries to replace simple StCR tags and add a link, this is a bug and I will open a new ticket:
https://github.com/stcr/subscribe-to-comments-reloaded/issues/198

[2016-02-17 11:25] omid020 commented on #194
@Reedyseth Please kindly view these screenshots, Am I wrong with them?

![a1](https://cloud.githubusercontent.com/assets/4216430/13108087/28825562-d586-11e5-85b6-5622229d4f6f.gif)

![a2](https://cloud.githubusercontent.com/assets/4216430/13108094/306dce3c-d586-11e5-8819-0f9328503df7.gif)

[2016-02-17 16:06] Reedyseth commented on #194
@omid020

`[manager_link]` is not the text that you intent to appear, that actually is like symbol to the actual value that is the URL with the Managemen Page.

The text

As you have seen belongs to the text under the option **Request link** Under the `Management Page` tab.

So far when the text is output to the management page is not translated, I will mark this as a bug. If you want to help to d

[2016-02-17 16:48] Reedyseth opened #199 "Enhancement: May I see emails in RTL format?"
Issue reported by @omid020 at

https://wordpress.org/support/topic/may-i-see-emails-in-rtl-format

[2016-02-17 16:58] omid020 commented on #199
Sample text :

It should be seen like this screenshot in correct RTL format:
![asdo](https://cloud.githubusercontent.com/assets/4216430/13117362/d471ccee-d5b4-11e5-8142-b022239a3cf8.png)

[2016-02-17 17:02] omid020 commented on #194
@Reedyseth

Thank you! Let me try your modified code.

[2016-02-17 17:07] Reedyseth commented on #199
OK, I added the enhancement flag to this issue. thank you.

[2016-02-20 08:53] prateek1611 opened #200 "Bug Report: <short description>"
Sir
The mail which the commenter gets is not coming in proper way. Its the html code which is mailed to the user. I have also tried by setting it to default but that doesn't solved the problem.
example of a mail -
There is a new comment to Appointment of Auditor - Sec 139.
Please click on this link to see the comment - <a href="<a href="<a href="http://taxadda.com/companies-act-2013/audit/appointm

[2016-02-21 04:03] cdmonline opened #201 "Bug Report: Broken Management links"
http://portallas.com/blog
WP: 4.4.2
S2CR: 160115

I've recently installed S2CR. When a user posts a comment to a post, they can see the following below the POST COMMENT button:

You are subscribed to this post. **Manage** your subscriptions.You can **manage the subscriptions** of this post.

Both the **Manage** & **manage the subscriptions** links direct to a 404 page. Why is this happening and wh

[2016-02-21 10:07] Tche111 commented on #153
Hi Reedy,
I have the same issue. Actually it was working in the past but it is not anymore and the bad thing is that I dont know when or why it stopped.
I have included this in my comments.php:
`<div id="follow" class="follow-area">
	<h2 class="follaps">Je peux suivre ce voeu</h2>
	<div class="follaps-content">
<p><?php if (function_exists('subscribe_reloaded_show')) subscribe_reloaded_show(); ?>.

[2016-02-22 08:19] prateek1611 commented on #200
I read about the html options in options and it solved my problem.
Set "Enable HTML emails" to Yes
Set "HTMLify links in emails" to No

[2016-02-23 16:27] Reedyseth commented on #201
@cdmonline First of, apologize for the late response.

OK, I see the error, please make sure that you are following your permalink structure on the management page.

[2016-02-23 16:46] Reedyseth commented on #153
Guys the error is that the checkbox is controll by jQuery and the selector defined on the script is not matching yours, my bad.

You should take a look at #196 and [This](https://wordpress.org/support/topic/injection-doesnt-work?replies=8)

[2016-02-23 17:17] Reedyseth commented on #200
I apologize for this, this links corruption is the result of a tags validation,

Basically you have to do two steps, the first one is what you describe here:

and the second one is to recreate the template again. For this see #171

[2016-02-23 20:00] daveseah opened #202 "PHP Markdown Extra interprets tab-indented HTML <form> code as a code listing"
This is specific to my website's use of the "classic" Wordpress plugin [PHP Markdown Extra](https://michelf.ca/projects/php-markdown/) and its interaction with StCR's management page generation. I have worked around the problem on [my blog](http://davidseah.com) but am reporting it here in case other people have similar problems, or if there is a better workaround available.

THE ISSUE

Users who

[2016-02-23 21:11] Reedyseth commented on #202
Actually you shouldn't use that, because you will limit your permalink structure to id.

There is an option that store the Virtual Management Page status, so you might add this to your code:

[code]
Regards.!!

[2016-02-23 23:32] daveseah commented on #202
Thanks for the quick reply!

Interestingly, my permalink structure is set to "month and name" (`/%year%/%monthnum%/%postname%/`) and the `post_name` property still seems to report the `page_id=9999999` instead of the management URL I had specified, so it appears to work on my installation mysteriously! Is the virtual page generator code supposed to populate `post_name` property, or am I trying to

[2016-02-24 00:34] Reedyseth commented on #202
Good to see that your are looking at the code, if its helpful on the line https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/wp_subscribe_reloaded.php#L47  you could see the filter `the_post` modify to add that new post created.

So far I have no plans to modify that value so I guess you can rely on you logic ` if ($slug=='http://davidseah.com/?page_i

[2016-02-24 01:04] daveseah commented on #202
Ok, I'll keep it the same for now...thanks! I just thought that the value of `post_name` that you set matched what usually is in that field for the `$post` object. I think we can mark this issue resolved...thanks!

The full picture is that I need to disable Markdown processing, as provided by a particular plugin, for the StCR management page. Otherwise the management page's `<form>` UI markup is w

[2016-02-24 01:04] #202 closed

[2016-02-24 01:21] Reedyseth commented on #202
Cool ! Thank you for letting me know. I hope that you achieve your
objective one of this days.
On Feb 23, 2016 6:05 PM, "Dave Seah" <notifications@github.com> wrote:

[2016-02-24 14:26] dkd-talwar opened #203 "Bug Report / Feature Request: Polylang Support"
Here is the scenario:
1) A website, that is using Polylang to manage the multilingual feature with two languages ( en_GB and de_DE) and by default language is de_DE , i.e. German site opens on http://example.com and English site opens on http://example.com/de

2) By default page to manage comments subscriptions is http://example.com/comment-subscriptions/
However, if http://example.com/en/comment-

[2016-03-01 22:10] tevyaw opened #204 "Migrate subscriptions to new site?"
Hi, we're rebuilding a site from scratch to get rid of years of cruft. But we want to export and import all our posts, comments, and keep our subscribe to comments reloaded subscriptions in-tact. If we do the default WP export/import process, will it keep all the StCR subscriptions in there and linked to their respective posts? Or is there some way to export and import it?

I appreciate any direct

[2016-03-01 22:19] Reedyseth commented on #204
@tevyaw My answer will be, it depends. Your comments are store in your `prefix_postmeta` table and the StCR plugin settings are store in the `prefix_options` table, so if the WP export/import process looks at all the information in those tables you are good to go.

Let me know if that works for you,

Regards.!!

[2016-03-02 03:25] tevyaw commented on #204
Yes, it appears they all got migrated over in-tact. Unfortunately my images did not. :(

Oh well, that's not your issue. Thanks!

If anyone else is looking at this, it's likely it'll only migrate the StCR data, if you do a full export of everything.

[2016-03-02 03:54] Reedyseth commented on #204
I guess many people will benefit for having a built in importer/exporter.
So I my add that feature probably soon than expected.
On Mar 1, 2016 8:25 PM, "Tevya Washburn" <notifications@github.com> wrote:

[2016-03-02 11:15] timpritlove opened #205 "How to do a clean re-install of plugin"
As my issue #104 is still not solved, I am trying to do a clean install of my plugin installation in my multisite setup.

I disabled the plugin system-wide and removed the `wp_subscribe_reloaded_subscribers` table and re-enabled the plugin. However, all the settings and the subscriptions are still there.

My questions:

* I expected to find per-blog tables storing STCR data but nothing like this e

[2016-03-05 17:55] numbifer opened #206 "Bug Report: texts in the fields are not display in the localized language"
Hi,
in the last version of plugin, all texts in the fields are not display in the localized language. However, the language interface is displayed in the localized language.
in previous versions, it was not so!
I attach the screenshot for explanation.
<img width="853" alt="schermata 2016-03-05 alle 18 53 34" src="https://cloud.githubusercontent.com/assets/17676710/13549359/9d6e23ee-e303-11e5-8c31-

[2016-03-09 17:58] #201 closed

[2016-03-09 18:40] Reedyseth commented on #205
Hello @timpritlove I apologized for the late response.

The creation of the table `wp_subscribe_reloaded_subscribers` uses the prefix of your current wordpress installation, on this case is `wp`. Check if you have another table created with another prefix, you can use :
[code]

Beside the table  `wp_subscribe_reloaded_subscribers`, the StCR settings are store under the `wp_options` table and `wp_p

[2016-03-10 18:58] Reedyseth commented on #171
To prevent the same error to happen on the following updates this issues has been fixed on the commit 56e914f

[2016-03-11 22:02] #149 closed

[2016-03-11 22:11] Reedyseth opened #207 "Enhancement: Use WP_Editor instead of current one."
Replace the current Ritch Text Editor for the WP to have the hability to edit the source code. This will allow the user to use custom templates for the notifications.

[2016-03-16 23:45] Reedyseth commented on #207
This commit a13289920c06a3fb05f9fea350ca82b64c39be2c and f92f84e47a18f70c81722f53714011cd98bdcfbb closes this enhacement.

[2016-03-16 23:45] #207 closed

[2016-03-17 00:25] Reedyseth commented on #206
@numbifer What language are you using ?

[2016-03-17 00:26] numbifer commented on #206
Hi, I use italian language.

[2016-03-17 00:44] Reedyseth commented on #206
Thank for the information, I apologize for the late response.

[2016-03-18 15:12] Reedyseth opened #209 "issues with generate key and permissions"
Issue started here: https://wordpress.org/support/topic/subscibe-lead-to-500-code-message

[2016-03-18 15:28] RoderikLouis commented on #209
Perfect! Last comment was:

[2016-03-18 15:28] RoderikLouis commented on #209
Perfect! Last comment is:

Hi man,

Did it all. I seemed to work just fine but when i press "setting" i got a message saying that i have not enough rights.

The rights of this folder is 755 just like the other plugin folders.

Whats next?

Thanks for helping me out here!

[2016-03-18 16:14] Reedyseth commented on #209
Please create a screenshot for that error. I have a small clue for that but just need to make sure.

There only file that will need 777 write permisions should be under the utils folder with the name log.txt but I don't recall to enable that.

What is you site URL ?

[2016-03-19 11:23] timpritlove commented on #205
Thanks for the instructions. I will try reactivating the plugin after the cleanup.

I suggest you add a "cleanup" button to your settings for people who want to deactivate / start over with your plugin.

[2016-03-23 17:21] flaviorbianchi opened #210 "Not receiving notifications."
My commenters are not getting any comment notification no matter the status they choose, although they are receiving the link to the subscription management page when requested.
My website is hosted on GoDaddy and I'm using WP-Mail-SMTP to send emails to domains not registered by my account.

[2016-03-23 17:24] Reedyseth commented on #210
@flaviorbianchi Sending notifications through some email helpers cause that the messages are detected as spam. Try to disable WP-Mail-SMTP and test if the messages are going through. I am working in some improvements related to email headers that will improve the trust of the emails that are sent.

[2016-03-23 18:14] flaviorbianchi commented on #210
I'm getting the same behavior. I deactivated the WP-Mail-SMTP plugin and no notification was sent. The links to the subscription management page were received as always.
I commented with 3 different emails and choosed different subscription options for each and none of them were received neither in the spam folder.

[2016-03-23 20:01] Reedyseth commented on #210
OK, I am working in something else, when I am done I let you know so that you can test with the latest code.

[2016-03-25 09:29] RoderikLouis commented on #209
Hi!

Sorry for my late reaction but i was outside Holland. To awnser your question:

1. Here is the screenshot: http://screencast.com/t/DJNliUsDA
2. www.aquariumfans.nl is the URL of my website.

Curious how good your Dutch is ;)

Thanks again!

[2016-03-25 16:12] tordor opened #211 "Subscribe to Comments Reloaded Removed"
My new developers removed the subscribe to comments plugin from my site by deactivating it. Are users that are still subscribed to my posts continuing to get notifications? Or does deactivating the plugin also deactivate notifications?

[2016-03-25 16:15] Reedyseth commented on #211
@tordor deactivating the plugin also deactivate the notifications, there is a technical explanation for that but basically you unplugged the cable and that add on is not active.

Any special reason why they deactivate the plugin? Did the update to the last version of the plugin without checking if the have a PHP version >= 5.4.x ?

[2016-03-25 16:17] tordor commented on #211
Thank you for the quick response. I have a backlog of comments (over 600) that I need to moderate, and I was afraid that I would bombard subscribed users with notifications if I approved several comments at once. Good to know it won't be an issue. If I decide to re-activate the plugin after I moderate all of those comments, will the subscriptions still be there, or will I be starting from scratch?

[2016-03-25 16:21] Reedyseth commented on #211
There is an improvement for this behavior in progress, a digest system, but not ETA for now.

All the comments will be there, just notice that in the mean time if new users arrive they will not be able to subscribe, that is the **con**.

The only way to get rid of the subscriptions in your site is by deleting the plugin, otherwise they will remain.

[2016-03-25 16:24] tordor commented on #211
Thank you. Just to confirm, as long as the plugin is deactivated the existing subscriptions will not receive notifications.

And the digest is a great idea-- will you update the threads here when this new functionality is added?

[2016-03-25 17:15] Reedyseth commented on #211
Yes, I will notify that.

Regards.!!

[2016-03-26 02:01] KGIII opened #212 "Bug Report: Simple spelling issue."
Simple spelling mistake on the _Options_ page. It says:

It is "subscription." I was going to go ahead and patch it but I figure it's such a trivial thing (it's easy to see what was intended) that you'll probably not want to bother fixing it until you are doing a new release anyhow.

http://i.imgur.com/qLJUk73.png
<img src="http://i.imgur.com/qLJUk73.png">

Other than that, I've not finished runni

[2016-03-26 02:21] Reedyseth commented on #212
@KGIII Thank you for making the plugin better, that will take no more than a minute to get fix, I appreciate the feedback.

Regards.!!

[2016-03-28 17:00] zivuch opened #213 "Language Setting"
Hi

Could not set up my language ?
How could I do that or force this?

Thanks
Ziv

[2016-03-28 17:23] Reedyseth commented on #213
Hi Ziv,

Did you create the po and mo files?

[2016-03-28 17:26] zivuch commented on #213
Hi
The po & mo are already installed. my language is Hebrew or did I miss something?
Thanks

[2016-03-28 17:32] Reedyseth commented on #213
can you send the the `po` file to my email so that I can verify it ? reedyseth at gmail dot com

By the way I spent some time working in  RTL languages so you will benefit with it on the next version.

[2016-03-28 17:40] zivuch commented on #213
:)
I sent you the file
Thanks!!!

[2016-03-28 17:56] Reedyseth commented on #213
@Ziv

One quick question, what version of StCR are you using ?

[2016-03-28 18:08] zivuch commented on #213
I think the latest version. I downloaded it from wordpress.org.

[2016-03-28 19:07] Reedyseth commented on #213
That will work :+1:

[2016-03-28 19:16] zivuch commented on #213
Unfortunately it doesn't
I have tried several times :(

[2016-03-28 19:20] Reedyseth commented on #213
I meant the information for testing.

[2016-03-28 19:22] zivuch commented on #213
Cool  :)

[2016-03-28 19:49] Reedyseth commented on #213
I have found issue in the translation, the last person who translated the file did not follow the WordPress standards, as soon as I correct the file I let you know.

[2016-03-28 19:58] zivuch commented on #213
Good News
Thanks!

[2016-03-28 20:31] Reedyseth commented on #213
I just emailed you a new files.

[2016-03-28 20:37] zivuch commented on #213
Thanks, it works :)
I will do a spelling check and will ad the rest that is not translated and will send it to you

[2016-03-28 21:05] Reedyseth commented on #213
Awesome, I will contact you for the new revision since also there is some text that changed and also new text to translate.

[2016-03-29 17:37] #213 closed

[2016-04-01 08:36] Monter opened #215 "Inline directive and "0D 0A" in HTML e-mails"
You've added a lot of options to personalize the appearance of their notifications using TinyMCE. So what if you switch notification to the HTML header of letters appears "Content-Disposition: inline" and marks the transition to a new line instead take the form of <br> are converted to the HTML code "0D 0A"...

[2016-04-01 11:19] RoderikLouis commented on #209
Hi!

Sorry to bother you again but i am waiting for a reply. Would be great if you can help me further.

Best regards,

Roderik

[2016-04-01 15:46] Reedyseth commented on #209
Hi, I apologize for the late response, I just checked the subscription link an is broken, might be permalink issues, what is your current permalink structure ?

[2016-04-04 08:13] RoderikLouis commented on #209
Hi, thanks for the reply!

This is the permalink structure: http://screencast.com/t/dBXE2WmEqM

And a quick other question! When i give a reaction on a blog, i get redirected to a wordpress login page. In the settings, i cannot find anything to change this. I want people to go to a "thank you" page or something. Can you help me with this?

Thanks allot man!

[2016-04-04 15:59] Reedyseth commented on #209
Make sure that on the Management Page option you add the slash at the end of the page name, like this:

![image](https://cloud.githubusercontent.com/assets/1228711/14252866/6ca021a4-fa46-11e5-96ca-dab8925c32f1.png)

**Also, are you using Virtual Management Page or Manual ?**

Perhaps you have the option to only logged in users are allow to comment.

![image](https://cloud.githubusercontent.com/ass

[2016-04-06 10:14] RoderikLouis commented on #209
Hi man!

Right so i understand that redirecting after comment subscription has nothing to do with your plugin. So let's leave that one. But your reaction about it helped allot. Thanks allot!

1. "Make sure that on the Management Page option you add the slash at the end of the page name".
This was already working fine when i checked the settings: http://screencast.com/t/h9osoY1DF

2. "Also, are you

[2016-04-06 12:22] Reedyseth commented on #209
I see that you are able to enter the options without the permission issue.

Also please activate the Virtual Management page, the other option works
when you create a template.
On Apr 6, 2016 4:14 AM, "RoderikLouis" <notifications@github.com> wrote:

[2016-04-06 12:51] RoderikLouis commented on #209
Hi!

Can you please explain both of your statements a bit? I am afraid that I don't understand what you mean. Sorry!

[2016-04-06 14:50] Reedyseth commented on #209
Yes,

The first statement is regarding this comment https://github.com/stcr/subscribe-to-comments-reloaded/issues/209#issuecomment-198409196 and this https://github.com/stcr/subscribe-to-comments-reloaded/issues/209#issuecomment-201218955 where you mentioned difficulties to access the StCR admin page.

As for the second one. There are to ways to display the Management Page,  one is Virtually( Ther

[2016-04-06 14:59] Reedyseth commented on #215
Hi @Mark,

I apologize for the late response. I understand the issue cause by TinyMCE
and therefore I have add replace it for the WP Editor which will work much
better, this change will be available on the next release but if you can
not wait you can test the code by downloading it from here:

https://github.com/stcr/subscribe-to-comments-reloaded/archive/master.zip

Regards.!!

On Fri, Apr 1, 201

[2016-04-07 06:12] RoderikLouis commented on #209
Thanks man for explaining!

So basicly i need to find this templatefile. When i add this -or something- it will automaticly trigger another subscriptionlink. One that does work?

Thanks mate!

[2016-04-07 18:57] giutae opened #216 "Raw API functionality aviable?"
**Hi. Great plugin here. Thanks for all the effort for the wp community**

I develop my custom themes and try to avoid using plugins as much is possible. But automatize comments notification for not registered users is a very interesting feature for my website where I have to deal with a lot of comments and also very different visitors.

I installed StCR yesterday in localhost and try to use it in

[2016-04-14 09:36] RoderikLouis commented on #209
Hi!

Would be great if you could help me with my last reaction. We really want to make a step here!

Thanks!

[2016-04-14 17:01] Reedyseth commented on #209
Hi @RoderikLouis

When you work with a template file is when you have issues displaying the management page in your theme, so if you don't have issue you can use the Virtual Management Page. So enable the Virtual Management Page in the `Management Page` options of the plugin.

[2016-04-23 15:57] aptharsia opened #217 "subscribers receive hundreds of emails after clicking on management link"
As above, two AOL subscribers said that after clicking the management link in one of their emails they then started receiving hundreds of management link emails, one said they came about 30 at a time. Is this a STCR issue or do I need to look elsewhere?

[2016-04-24 22:05] aptharsia commented on #217
Ok, someone else emailed me that is a non-AOL user. It seems it's when they click on the manage link in an email to manage their subscriptions they receive hundreds of emails about managing their subscriptions. I've had to disable this plugin until this issue is looked into. HELP!

[2016-04-25 05:27] Reedyseth commented on #217
Hi, can you share your site URL?
On Apr 24, 2016 4:05 PM, "aptharsia" <notifications@github.com> wrote:

[2016-04-25 15:09] aptharsia commented on #217
oldhousedreams.com

On Mon, Apr 25, 2016 at 1:27 AM, Israel Barragan C. <
notifications@github.com> wrote:

[2016-04-25 20:21] #217 closed

[2016-04-25 20:56] Reedyseth commented on #217
@aptharsia Thank you for letting me know that the issue was cause by Postman SMTP.

[2016-04-27 11:41] richo67 opened #218 "Bug Report: https instead http links in email"
I am running my site on http only my admin part on https. Links generated in notification are using https which leads to error page.

[2016-04-27 12:11] Reedyseth commented on #218
You are right, the protocol is hard coded, I will add this to the bug fix
like list. Thank you for your report.

Regards.!!
On Apr 27, 2016 5:41 AM, "richo67" <notifications@github.com> wrote:

[2016-05-06 17:58] Tche111 commented on #153
Hi Reedyseth,

Thanks a lot for your work, your great plugin and your answers!

I tried the mentioned solution but I dont know why it doesnt work with my child-theme. I desactivated all other plugins but the problem remains.
Do you have an idea where I should look at, what I should do?

Many thanks in advance for your help!

[2016-05-06 22:34] Reedyseth commented on #153
@Tche111 , I apologize for this inconvience, This error is part of a missing selector, this will be fixed on the next update by using the WordPress code instead of jQuery. In the meantime I can help you to have yours working.

[2016-05-06 22:36] Reedyseth commented on #153
Please if you can find the **stcr-plugin.js** file under the path

`/subscribe-to-comments-reloaded/includes/js/`

Replace this line:
`
var submit_button = $('form input.Cbutton');`
for this line:
`var submit_button = $('form input[type="submit"]');`

Then set to **Yes** on the StCR Box Position option.

[2016-05-09 07:18] crowinck opened #219 "function subscribe_reloaded_show does not exist"
I've been using the suggested solution on your wordpress.org FAQ page to alter the placement of the subscribe opt in. However, it no longer appears and some investigation revealed the initial conditional checking for the function is returning false. Did you change this code with the last major update?

[2016-05-09 20:24] Reedyseth commented on #219
The main reason is that the plugin is not finding the submit button of your comment form to do some logic, yes is the plugin error.

What is your website ?

Regards.!!

[2016-05-09 20:26] crowinck commented on #219
mythcreants.com -  it's a custom theme, please let me know if I should update any of the theme files.

[2016-05-09 20:31] Reedyseth commented on #219
I don't see the plugin being enable, can you make sure that it is?

[2016-05-09 20:38] crowinck commented on #219
It is indeed enabled. I've done a plugin compatibility check and that wasn't an issue. The site is on WP Engine, which occasionally interferes with some features, but it stopped working when I ran updates, including your last major update.

[2016-05-09 21:08] Reedyseth commented on #219
In the background I can't see any resource loaded by the plugin. Do you use a cache plugin? can you clear it ?

[2016-05-09 21:16] crowinck commented on #219
Yes, both WP Engine and Cloudflare caching is used. I have just purged both caches.

[2016-05-09 21:48] Reedyseth commented on #219
Would you mind pointing this out? where did you see it?

Also disable the position of the checkbox.

![image](https://cloud.githubusercontent.com/assets/1228711/15129199/69c3a884-15fd-11e6-842f-db3f55380069.png)

[2016-05-09 21:59] crowinck commented on #219
I know it's doing that because I'll altered the code on the staging clone of the site to echo whether the conditional was resulting in false or true.
`if (function_exists('subscribe_reloaded_show')){
	subscribe_reloaded_show();
} else {
	echo 'function does not exist';
}`
StCR Box Position is already set to "no."

[2016-05-09 22:07] Reedyseth commented on #219
ooh, I see,

Replace that code for this one:

[code]

[2016-05-09 22:29] crowinck commented on #219
That does it! Thank you. I recommend updating your FAQ tab on wordpress.org with this solution.

Are the background files loading now? Please let me know if other functions of the plugin might not be working.

[2016-05-09 22:46] Reedyseth commented on #219
Good to hear that, yes I have updated that one but it will be available on the next update.

They don't because the checkbox is not yet included. In what post you have it included ?

[2016-05-09 22:55] crowinck commented on #219
I just did it on the staging site, I'll roll out the coding changes to the live site later tonight. It's good to know that they'll load once the opt in field is present. I'll let you know if I run into other problems.

[2016-05-09 22:56] Reedyseth commented on #219
Copy that, I will keep posted.

[2016-05-10 11:16] richo67 commented on #218
I wonder, any progress on this?

[2016-05-10 15:44] Reedyseth commented on #218
Not so far, but I have added the **Bug Minor** label to keep track of it.

[2016-05-11 01:31] crowinck commented on #219
It looks like the manage subscriptions page is giving out a 500 error. Here's the old code:
`if (isset($wp_subscribe_reloaded)){ global $posts; $posts = $wp_subscribe_reloaded->subscribe_reloaded_manage(); } `
Do you have an updated version?

[2016-05-11 01:33] crowinck commented on #219
Also, could you consider creating some wrapper functions that you can update yourself to give theme developers a consistent code to interface with the plugin in the future?

[2016-05-11 15:04] Reedyseth commented on #219
@crowinck

This should be what you need:
[code]
Don't forget to disable the Virtual Management Page, since I think you are using a custom template file.

Great suggestion, so far I see that the user only needs to manipulate the checkbox display, do you have any other idea?

[2016-05-11 17:53] realtimeparadigm opened #220 "Bug Report: the subscribe to comments below the comment form not visible"
I loaded the plugin and followed the settings from the Screenshots on WordPress.org plugin page.
I cannot see the subscribe to comments below the comment form.
I'm running WordPress 4.5.2 on the Divi Theme (Elegant Themes).

I use the plugin Sweet Captcha  a drag and drop visual to prevent spam comments. People often comment on my blog and I wanted a way to subscribe to comments.

In my css panel:

[2016-05-12 00:14] crowinck commented on #219
Thank you, that worked.

I would just say that if you hand out any code snippets in your documentation, it's a good idea to insulate that code from future updates. It's hard to say how many people will be using them once you give them out. I see you already have one shortcode, which is a good way to wrap a function, especially since shortcodes fail gracefully if the code for them isn't present. In

[2016-05-20 09:15] side777 opened #221 "DON'T use "WP_PLUGIN_URL.""
Please DON'T use `WP_PLUGIN_URL`, it is not SSL aware and doesn't support domain mapping on multisites.
**Instead use: `plugins_url()`.**
[http://codex.wordpress.org/Determining_Plugin_and_Content_Directories](http://codex.wordpress.org/Determining_Plugin_and_Content_Directories)

[2016-05-20 14:39] Reedyseth commented on #221
@side777 Thank you for the suggestion !

[2016-05-23 21:32] alichakery opened #222 "[Solved] This plugin turned all of my pages into "subscription-manager" page"
Hello,

When I enable this plugin it takes over all my pages for "Subscription Manager" page !!!

Would you please help me to solve this issue ?

Thank you.

[2016-05-23 21:34] alichakery commented on #222
OHH.. this was my own fault in creating the custom notification management page.

This issue is solved ... thank you

[2016-05-23 21:54] Reedyseth commented on #222
Hi @alichakery Good to hear that you solved it.

Regards.!!

[2016-05-23 21:54] #222 closed

[2016-05-27 22:15] Niackery opened #223 "Generate StCR Unique Key Doesn't Work"
When I go to the Subscribe to Comments Reloaded Options tab, and click the red Generate button at the bottom, the page reloads blank below the tabs. If I then click on the Options tab and reload the page, the StCR Unique Key field is still the same (as in, a new key isn't generated).

[2016-05-27 23:23] metal450 opened #224 "Validation Error: Element link is missing required attribute property"
Running stcr 160115 (latest) on WP 4.5.2 (latest), my posts are no longer validating.  Here's a screenshot of the validator's output:

http://screencast.com/t/eff1J4slMHwl

The error is "Element link is missing required attribute property."  Disabling stcr eliminates the validation error.

[2016-05-29 03:45] Reedyseth commented on #223
Hi @Niackery You can fix this by updating the file `options/panel5.php`

by replacing this code
[code]
for this one
[code]

This bug is already fix and will be available for the next version.

[2016-05-29 04:07] Reedyseth commented on #224
Hi @metal450 ,

Look to me that you are validating you site with xampp, I went through the original validator and that error did not show up. I got other type of errors but not the one that you mentioned.

https://validator.nu/?doc=http%3A%2F%2Fdesarrollandoweb.com.mx%2Fmysql%2Fconexion-php-mysql%2F

Regards.!!

[2016-05-29 04:12] Reedyseth commented on #220
@realtimeparadigm I apologize for that, there is a WIP for this behavior. Look to me that you enable the `StCR Box Position` to Yes, please set that to No and verify that the checkbox is visible.

[2016-05-29 04:23] metal450 commented on #224
Yup, it's a local instance of the validator - but it (should be) using the exact same schema as the online version...

The URL you're testing is http://desarrollandoweb.com.mx/mysql/conexion-php-mysql/; if I view the source of that page, there are no occurrences of "stcr" (http://screencast.com/t/YsQICxiCb). So clearly something's behaving differently beyond the validator itself.  When I view sour

[2016-05-29 04:39] Reedyseth commented on #224
Alright @metal450 I got it, is just that the CSS style is being loaded inside the `<body>` tag so I will include that on the header instead, thank you for the report.

[2016-05-29 04:45] metal450 commented on #224
Great, glad it was so easy :)

[2016-05-29 05:11] Reedyseth commented on #224
As a matter of fact it is not :disappointed: because the way WordPress uses to enqueue the style does not allow or have the function to put it on the header, there are some outdated solutions for this so you will have to keep this error.

This script is loaded only when you have the option `StCR Box Position` set to Yes, if you set it to No the the script will not be loaded. I recommend you to hav

[2016-05-29 05:49] metal450 commented on #224
I assume you mean the option "Enable default checkbox" under the "Comment Form" tab?  If so, changing that to "No" does restore validation...but then no "subscribe" checkbox is shown at all...

(note: it validated properly back on version 150820, from which I'm trying to update)

[2016-05-29 06:00] Reedyseth commented on #224
I was taking about this option:

![image](https://cloud.githubusercontent.com/assets/1228711/15631620/474779a6-2530-11e6-8b01-b49efdd7d142.png)

[2016-05-29 06:03] metal450 commented on #224
That option was already set to no :/  I tried both settings, and in either case, validation fails the same way.

[2016-05-29 06:04] Reedyseth commented on #224
Would you mind testing the development version ?

[2016-05-29 06:10] metal450 commented on #224
You mean just the current master?

Tried it; I can't get to the plugin's options anymore.  They aren't listed on the WP settings menu, and if I go to the plugin's "Settings" link from the Plugins page, it gives "You do not have sufficient permissions to access this page."

As soon as I reverted to the version from wp.org, it worked again.

[2016-05-29 06:14] Reedyseth commented on #224
I meant the [development](https://github.com/stcr/subscribe-to-comments-reloaded/tree/development) one.

I just fixed that.

[2016-05-29 06:27] metal450 commented on #224
Just tried development.  It's also giving me the error, both with "StCR Box Position" as "Yes" and as "No."

[2016-05-29 07:09] Reedyseth commented on #224
if you go to the file `wp_subscribe_reloaded.php` line **1000** and comment

[code]
You are going to get rid of that.

[2016-05-29 07:14] metal450 commented on #224
Yup, that does it - thanks :)  No other negative side-effects of just removing that tho?

[2016-05-29 07:17] Reedyseth commented on #224
Yes, like I said, that will be remove eventually :)

[2016-05-29 07:23] metal450 commented on #224
Sounds good - so I'll just temporarily hack my local copy, until the next official version is pushed out :)

Thanks again!

[2016-05-29 17:43] Reedyseth commented on #216
Hello @giutae For adding a subscription you can use the method `add_subscription`, see

https://github.com/stcr/subscribe-to-comments-reloaded/blob/160106/subscribe-to-comments-reloaded/wp_subscribe_reloaded.php#L542

[2016-05-29 17:43] #216 closed

[2016-05-29 18:21] Reedyseth opened #225 "Safely Unistall of StCR"
Add option that when active allow the plugin to be safely uninstall, this means that either the subscriptions and the options should remain after using the WordPress uninstall function. This will allow the users to change between versions without loosing the information.

If is desire that the plugin completely delete all the information then deactivate this option.

- [x] This option has to be en

[2016-05-29 18:23] Reedyseth commented on #225
See also https://github.com/stcr/subscribe-to-comments-reloaded/issues/205

[2016-05-29 18:24] Reedyseth commented on #198
And here https://github.com/stcr/subscribe-to-comments-reloaded/issues/200

[2016-05-29 18:27] Reedyseth commented on #196
WIP for this feature, also reported here https://github.com/stcr/subscribe-to-comments-reloaded/issues/220

[2016-06-02 14:43] lucianop opened #226 "554 Message not allowed - Headers are not RFC compliant"
A few weeks ago, due to #215, I started using `master`. Since then, Yahoo has been rejecting all mail with the following non-delivery receipt:

    A message that you sent could not be delivered to one or more of its
    recipients. This is a permanent error. The following address(es) failed:
      <recipientemailhere>@yahoo.com.br
        host mta5.am0.yahoodns.net [66.196.118.33]
        SMTP er

[2016-06-02 16:39] Reedyseth commented on #226
Hi @lucianop

You can download the version from the `development` tree where I have fixed all the headers sent by the plugin.

[2016-06-02 17:08] Niackery commented on #223
Thank you!

[2016-06-02 18:09] lucianop commented on #226
Hello Israel,

I tried latest `development` (`467999e11939a099f55c8d471be130e1b9ccc899`), but no luck. Subject header is still sent twice and Yahoo is still unhappy.

[2016-06-02 19:07] Reedyseth commented on #226
Oh, you are right, I totally missed that, now you can pull the development repository and test it again.

Also with this report I figured out why the notifications were not delivered to my gmail account, I was looking into that issue for weeks haha.