[2016-06-03 10:48] lucianop commented on #226
I confirm this new version is working fine. Glad to know this fixes delivery to Gmail as well.

[2016-06-05 08:55] wickedpuppy commented on #203
Same problem here.

[2016-06-07 20:19] Reedyseth commented on #203
Hi Guys, I apologize for the late response I will be trying to replicate the issue.

Regards.!!

[2016-06-07 21:02] Reedyseth commented on #226
Sometimes the files are cached, please try to delete the cache.

Sometimes some validation trigger this message and is find not having the the key value.

As mentioned above, please try to clear any cache if you have it, I have not been able to replicate your issue.

[2016-06-08 00:50] lucianop commented on #226
After some investigation, I realized the issues were indeed not related to the original issue, and edited my comment. Thanks for your answers, I appreciate it.

[2016-06-08 02:19] Reedyseth commented on #226
Awesome, great to hear that, thank you for the confirmation..!!

[2016-06-11 14:42] wickedpuppy commented on #203
Great! Looking forward to that!

[2016-06-13 04:39] forabetterjob opened #227 "UI Hangs : when sending to more subscribers"
Hi, First of all, your plugin is amazing.. loving it.

The issue is, for the posts around 30-40 subscribers, when i **reply** for somebody (on wordpress comments page), it takes at least 2 - 3 minutes for ajax complete. In the mean time if I open post(website page) in new tab, it doesn't open until the reply is done in the last window.

I observed time taken to send emails is proportional to numbe

[2016-06-13 15:02] Reedyseth commented on #227
Hello @forabetterjob thank you for your comment and pointing this out.

Right now the structure of the plugin works like that so I am planning to add a digest system, not ETA for this though.

Best Regards.!!

[2016-06-13 15:05] Reedyseth commented on #203
@dkd-talwar @wickedpuppy

So on this case you only need the prefix (en) before the comment subscription slug?

[2016-06-13 15:14] wickedpuppy commented on #203
What I'm developing now defaults to english, and has a prefix for the translations only,

Similarly, there's also the issue with the language used in the feedback e-mails.

[2016-06-13 15:15] dkd-talwar commented on #203
This is How handled the issue temporarily, Still there are bugs left.
a) I have created custom page template, as you have defined in
https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#create-a-real-management-page
b) Then created 2 pages for both languages selected the page template,
c) Then used the code in Pull request #208 (Certainly not perfect, and require optimization)

I am now

[2016-06-13 15:17] dkd-talwar commented on #203
Yep., Issue with emails are also there. Fixed partially with Po and Mo file, But still not completely fixed.

[2016-06-13 15:41] Reedyseth commented on #203
OK As soon as I have a change to test the https://github.com/stcr/subscribe-to-comments-reloaded/pull/208 I update my findings.

[2016-06-13 16:50] forabetterjob commented on #227
That will be great..! Thank you..!

[2016-06-13 17:03] dkd-talwar commented on #203
Using the same setup as mentioned in
https://github.com/stcr/subscribe-to-comments-reloaded/issues/203#issuecomment-225612085

One question
Subscribe_reloaded_management_content -> is for content in email right ? To manage the subscriptions ?
but this text is visible after email is entered on /comments-subscriptions/ page by a non-author
I think there should be a another option in stcr_manager.php

[2016-06-16 01:03] raamdev opened #228 "When deleting the plugin, the options are not cleared from the database"
When deleting the StCR plugin, the plugin options are not being deleted (cleaned) from the database. As a result, there's no easy way to do a complete uninstall of the plugin.

Normal practice for WordPress plugins is to delete all data related to the plugin when deleting it so that the WordPress database does not get clogged with data from plugins that are no longer installed.

Related: https://g

[2016-06-16 01:05] Reedyseth commented on #228
@raamdev Thank you for the feedback :+1:

[2016-06-18 13:53] MuslimaChallenge opened #229 "incompatibility ?"
Hello ,

I configured the plunning but the option to subscribe to comment does not appear.

How to know what is the problem and if this plugin is compatible or not?

Thank you

Sabah

[2016-06-19 16:30] Tche111 commented on #153
Hi Reedyseth,
Thanks for your answer and sorry for the time of reply.
I tried this solution but it didnt work... I then browsed the threads here and the following code you provided:
`<?php global $wp_subscribe_reloaded; if (isset($wp_subscribe_reloaded)){ $wp_subscribe_reloaded->stcr->subscribe_reloaded_show(); } ?>`
Makes a droplist appear where I want it. Nevertheless I can not confirm the choic

[2016-06-20 20:01] Reedyseth commented on #153
Hi @Tche111

Do you mean that how an administrator knows what option a user did? Can you explain this a bit more?

Regards.!!

[2016-06-23 13:21] side777 opened #230 "!important rule"
There's an `!important` rule in stcr-plugin-style.css:

[code]

You use a very common word as class name with no other selector narrowing the rule down. Please don't do this! It affects any .hidden element, not just your's... Instead use:

[code]

or whatever name the parent element has. Or just a specific class name.

BTW: there's nothing in this file besides this single rule. Is this really wort

[2016-06-23 14:26] Reedyseth commented on #230
@side777

Thank you for the feedback !

As for now is tiny bits what the request and response send/receive, not big issue, but since the behavior of the plugin checkbox will change I might remove that.

[2016-06-23 14:27] Reedyseth commented on #229
@MuslimaChallenge if you have this on a live site please share the URL so that I might take a look.

Regards.!!

[2016-06-23 14:55] gbvaz opened #231 "Comment notifications not being sent"
Hi!

I've installed the plugin on my wordpress blog. I'm using Sendgrid as my email handler. I've successfully received emails for managing the comments subscriptions, but never for new comments.

Is there anything I can do in order to solve this problem?

Thanks!!

[2016-06-23 15:17] Reedyseth commented on #231
@gbvaz
Do you know if the status of the subscribers is to Active or Replies ?

[2016-06-23 15:50] Tche111 commented on #153
Hi Reedyseth,
Thanks for your answer here are some further explanations:
The hereabove code allows me to display the droplist or the tickbox where I want in my posts. The user can make the choice or tick the box but he can not confirm his choice... To do so he has to submit a new comment.

I have been using stc or stc-reloaded for years and I believe that it was possible to subscribe without posti

[2016-06-23 16:07] gbvaz commented on #231
@Reedyseth Is currently set to Active (Y)

[2016-06-23 16:32] gbvaz commented on #231
I think I've found the "problem", not exactly a problem. I was testing making new comments with the same email. Then I tried  commenting with another email, and it worked :+1:

Thanks for the help, sorry for all the trouble!

[2016-06-23 16:32] #231 closed

[2016-06-23 18:32] Reedyseth commented on #231
No problem, good to hear that it is working !

[2016-06-24 10:08] MuslimaChallenge commented on #229
Merci pour votre réponse ,

Voici le lien http://muslimachallenge.fr/index.php/2014/09/20/simple-slider-post/
I have another question please : How to translate the pluginns in French?

Regards !

[2016-06-26 14:08] extremecarver opened #232 "Blank Page on replyging to comment"
Well I think since Wordpress 4.4 (not really sure since when exactly - it's about 3 months ago) when replying to a comment - the comment is correctly recorded - however a blank page is shown.

This happens on the website front-end.
On the backend - the Admin comment page instead - below the comment field - "Internal Server Error" pops up in red. reloading the page and the reply is shown.

I deacti

[2016-06-26 14:15] Reedyseth commented on #232
Hello @extremecarver I haven't test StCR on a nginx server, I will setup the environment and let you know if I can replicate your issue.

[2016-06-26 14:23] extremecarver commented on #232
Wow - quick reply. Oh forgot to say - page is blank and url will be:
domain/wp-comments-post.php - no matter on which subpage it was written. WP permalink structure is custom - but the common: /%category%/%postname%/
So something bout the rewriting is clearly broken here.

So if you reply to a comment on domain/category1/hellopost --> you will be redirected to domain/wp-comments-post.php and not o

[2016-06-26 14:46] Reedyseth commented on #232
Are you using this on a development site? Do you have URL?
On Jun 26, 2016 8:23 AM, "extremecarver (felix)" <notifications@github.com>
wrote:

[2016-06-26 14:52] extremecarver commented on #232
I used it on all my sites:

you can try out here:
https://openmtbmap.org/test3/support/comment-page-3/#comment-15866

it looks pretty wild because it's twenty sixteen theme and no plugins but
subscribe to comments activated.

just reply to your own comment or my test comment on top. Not to some other
in order to feed them unwanted emails.

On 26 June 2016 at 16:46, Israel Barragan C. <notification

[2016-06-26 18:32] extremecarver commented on #232
Ups - really sorry for the trouble. I just tried out the development version - and using it the problem is gone. Should have done that before reporting.

[2016-06-26 18:32] #232 closed

[2016-06-26 19:17] Reedyseth commented on #232
No problem, thank you for reporting anyways.
On Jun 26, 2016 12:32 PM, "extremecarver (felix)" <notifications@github.com>
wrote:

[2016-06-27 22:17] Reedyseth commented on #153
Hi @Tche111 , yes, you can subscribe without commenting, in order to do that you have to add the tag `[subscribe_link]`

You can create a link by putting the tag `[subscribe_link]` on the link address (anchor tag),

![image](https://cloud.githubusercontent.com/assets/1228711/16397537/522b3b28-3c82-11e6-94d3-44be1345f17a.png)

so to have the result like the following image you will do something lik

[2016-06-28 20:16] Reedyseth commented on #223
FYI the fix of the bug is now on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/7cde41a30975d2751db9d0c4971f0831cd456739. I will close the issue.

[2016-06-28 20:16] #223 closed

[2016-06-28 20:47] Reedyseth commented on #197
This issue is fix with the commit 0cf6afa

[2016-06-28 20:47] #197 closed

[2016-06-28 20:51] Reedyseth commented on #230
@side777

I have removed the enqueue of this style on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/98d553e33f8a958a4e20800faeff16106b8864e6

Regards.!!

[2016-06-28 20:52] Reedyseth commented on #229
By the way do you have the option to move the subscription box above the submit button?

[2016-06-28 23:31] Reedyseth commented on #224
@metal450 I have implemented the WordPress way to put the checkbox befor the submit button, would you download the development version again and give it a try ?

[2016-06-28 23:33] metal450 commented on #224
Sorry, in the midst of a very big site overhaul, won't be able to test this for awhile.  If a new version hasn't been pushed out by the time everything is stable on my end again, I'll give it a look.

[2016-06-29 17:04] MuslimaChallenge commented on #229
It's okay !!!

Merci :)

[2016-06-29 17:48] #229 closed

[2016-07-01 02:54] forabetterjob opened #233 "Reply without sending email to all.."
Hi, It will be nice if we have option to reply only to the commented person, for similar questions, my answer is more or less the same. I don't want to send such answers to all the subscribers.

Options like "Reply", "Reply All" etc.

I will see if I can work on this.

[2016-07-03 12:13] Dysschord opened #234 "No Subscribe link"
I have used this plugin in the past and it worked fine. I installed on my site and the link to Subscribe does not show anywhere. I did add the `<?php if (function_exists('subscribe_reloaded_show')) subscribe_reloaded_show(); ?> ` line to the comments.php but it doesn't make a difference. My theme is Iconic One. I have had to install a different subscribe plugin for now because I need this option.

[2016-07-03 20:40] Reedyseth commented on #234
Hi @Dysschord you can fix that by using this code insteadÑ

`<?php global $wp_subscribe_reloaded; if (isset($wp_subscribe_reloaded)){ $wp_subscribe_reloaded->stcr->subscribe_reloaded_show(); } ?>`

Some users have fixed this already, seeÑ

https://wordpress.org/support/topic/custom-subscribe-button-placement-no-longer-working?replies=5

Also this fixed and will be available on the next version.

R

[2016-07-07 22:03] Angusbrow opened #235 "Easy question....."
Can this plugin also be modified to allow a notification on new posts, or is it already supposed to do this? My install does not seem to send notifications on new posts but works fine for comments . Thanks!! Angus

[2016-07-07 22:07] Reedyseth commented on #235
Hello @Angusbrow, as for now the plugin only work with comment notification, this feature has been requested and will be add it in future releases.

Regards..!!

[2016-07-07 22:10] Angusbrow commented on #235
Yes please, would happily donate to this :) Any suggestions as to a complimentary plugin that would do the post email? The ones Ive tried don't send a clickable link in the email, only a cold one, frustrating. Yours are always clickable, must be well written html :) Thanks again.

[2016-07-07 22:16] Reedyseth commented on #235
Not for now, I know there might be some out there.

I am working in lots of patches and fixes for the new release as soon as the new version is stable I can take a look at this requirement.

[2016-07-07 23:34] Angusbrow commented on #235
Any idea why your permalink comes to web email client hot clickable and other plug in emails show as cold, even though both in html format...?

[2016-07-07 23:43] Reedyseth commented on #235
Yes, they are sending the raw email without encoding it in HTML.

[2016-07-13 20:18] Almirouse opened #236 "Comments posting is extremely slow when this plugin is enabled"
The more subscribers to a post you have, the more lag you see on new comments.

I'm talking about HUGE lags, from few seconds to more than a minute before the page refresh, if you have ten subscribers for example.

Can you fix this issue please?

For example, I guess that mails could be delievered asynchronously, after the page reloads.

[2016-07-13 20:19] Reedyseth commented on #236
Thank you @Almirouse,

I will keep my eyes on this issue.

Regards.@@

[2016-07-13 20:23] Almirouse commented on #236
Thank you! The fix is pretty critical because on large websites the plugin becomes totally unusable!

[2016-07-18 20:19] terrizgit opened #237 "Manage subscriptions link results in server error when crawled"
I discovered this problem through an alert from Google. I had 30 smartphone errors and 127 desktop errors dating back to mid-late April. All said the link was causing a 5xx error.

When I click the link on a random page, a new page is loaded but other than the header and menu, it has no content. Looking at the source, it is cut off after that point.

I've fixed this for Google by disallowing crawl

[2016-07-18 21:11] Reedyseth commented on #237
@terrizgit I will remove the information of the comments subscription from the query string, this will remove this kind of errors and also the information will not be visible on the query string. No ETA for this yet but I have all my eyes on this enhacement. Thank for reporting.

[2016-07-18 21:15] terrizgit commented on #237
Thanks for the fast reply! :)

[2016-07-27 18:15] xazatothx opened #238 "Upgrade broke plugin : unexpected T_STRING error"
Hi

I just upgraded the plugin on my site - been a while since upgraded plugin.   Upgrade broke my site with the error

Parse error: syntax error, unexpected T_STRING in /public_html/wp-content/plugins/subscribe-to-comments-reloaded-disabled/subscribe-to-comments-reloaded.php

I'm not even sure what version I was running previously.    For now I've had to disable the plugin.

any suggestions?

tha

[2016-07-27 19:03] Reedyseth commented on #238
Hi Dave, I apologize for that, right now the new version only works for PHP version 5.4.x and above.

I have a small fix that I haven't tested in order to allow the new version to work with older version, no ETA  though.

A suggestion is that you can contact your hosting provider and ask him to upgrade the PHP version, the one that you are using right now is very old. At leat it should be upgraded

[2016-07-27 19:09] xazatothx commented on #238
thanks for the quick response.   I feared this might be the issue.    Looks like I need to rewrite my custom theme to work with newer PHP.

[2016-07-27 19:13] Reedyseth commented on #238
If you look at the good side of the picture this is good for your site, you
can have more options to start testing more code options and libraries like
PHPUnit for your code, just to mention an example.

On Wed, Jul 27, 2016 at 1:09 PM, xazatothx <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasof

[2016-07-29 23:41] Polipo2 commented on #186
Hello, I deactivated StCr plugin because I moved to Disqus, after that I have too many 404 errors on GWT.

For example:

comment-subscriptions?srp=49139&srk=f69acae3919548a804e12af6e661f69b&sra=s
comment-subscriptions?srp=50048&srk=f69acae3919548a804e12af6e661f69b&sra=s
comment-subscriptions?srp=40160&srk=f69acae3919548a804e12af6e661f69b&sra=s

Can you help me?

[2016-08-01 13:59] Polipo2 opened #239 "404 Error on Google Webmaster Tool"
Hello, I deactivated StCr plugin because I moved to Disqus, after that I have too many 404 errors on GWT.

For example:
comment-subscriptions?srp=49139&srk=f69acae3919548a804e12af6e661f69b&sra=s
comment-subscriptions?srp=50048&srk=f69acae3919548a804e12af6e661f69b&sra=s
comment-subscriptions?srp=40160&srk=f69acae3919548a804e12af6e661f69b&sra=s

I have 4000+ 404 errors, can you help me?

[2016-08-01 15:10] Reedyseth commented on #239
@Polipo2
That is because google indexed your site, eventually they will disappear. There is nothing I can do on my side.

Regards.!!

[2016-08-01 15:10] #239 closed

[2016-08-01 21:23] raamdev commented on #186
@Polipo2 @clopez You should use Google Webmaster Tools to block access to `?srp=`:
https://support.google.com/webmasters/topic/4598466?rd=1

For example, you can add the following to your `robots.txt` file to block the Google Web Crawler from indexing specific pages:

[code]

[2016-08-02 04:55] MuslimaChallenge opened #240 "delete coment form"
Hello ,

I ' like to know how to delete the comment form knew my page legal notices please .

Thank you

[2016-08-02 05:20] Reedyseth commented on #240
Hello @MuslimaChallenge, you can search for that on the WordPress Codex.
StCR only display a chechbox with its label.

If you want to remove that chechbox you can disable the plugin or go to the
plugin options and disable the checkbox display option.

Regards.!!
On Aug 1, 2016 10:55 PM, "MuslimaChallenge" <notifications@github.com>
wrote:

[2016-08-08 05:06] MuslimaChallenge opened #241 "bug checkbox"
Hello ,

I zeroed my bog, and when I reactivated STCL well check the cache does not appear ...

Here the setting.

Enable the checkbox by default
  Yes

Checked by default
          No

advanced membership
  Yes

Here is my website:
http://muslimachallenge.fr/2014/09/20/simple-image-post/

Can you help me please ?

Sabah

[2016-08-09 14:44] Reedyseth commented on #241
HI @MuslimaChallenge

DId you add a real management page in a custom template?

[2016-08-11 06:14] Niackery opened #242 ""Replies to my comments" on Management Page when Option Not Active"
When a user requests their management page, the "Replies to my comments" option should only be available if the Advanced Subscription setting under the Comment Form tab is set to Yes. If Advanced Subscription is set to No, the option shouldn't be available on the management page.

Thanks!

[2016-08-11 13:54] Niackery opened #243 "Issues with Settings"
1.1) The text displayed via the One Click Unsubscribe field under the Notifications tab is displayed on the management page -- it's not sent via email. It should therefore be under the Management tab, for clarity. (I had it formatted with a greeting and salutation until I realized it wasn't actually an email message.)

1.2) I'm not sure, but I imagine this is why the post_title tag doesn't work we

[2016-08-11 15:36] Reedyseth commented on #242
@Niackery Do you find this useful? I mean when the Advance subscription is not enable the user have the option to subscribe or not, but as a user I would like to control if I want to receive notifications for all the comments or just mine.

[2016-08-11 15:40] Reedyseth commented on #243
@Niackery Thank you for this wonderful review, I will give myself time to go over each point and feedback you with comments. Also please check the development version that I mentioned to you on the WordPress site and then update your comments here.

Regards.!!

[2016-08-11 19:24] Niackery commented on #242
The way I see it, what's the point of offering the ability to disable the option upon initial subscription if it's still going to be available afterwards in subscription management? Ultimately, that's just one extra step for users, and not convenient at all. So to me, "disabled" should mean "disabled," not "hidden."

But to answer your question, yes, it's definitely useful for me since I have all

[2016-08-11 19:26] Niackery commented on #243
Will do :) Thanks!

[2016-08-11 22:40] Niackery commented on #243
Results of my testing so far...

1.1 - 1.2 - 1.3) No change

2.1 - 2.2) The links now render correctly, but they don't actually work. Same as with [this WordPress thread](https://wordpress.org/support/topic/text-page-text-mail), the links don't load the Management page; instead, they load the content of the Request Link field under the Managment Page tab. Users are basically sent on a perpetual lo

[2016-08-12 02:44] Niackery commented on #243
Figured out issues 1.2 & 1.3. Am still using the development version of the plugin for now... In subscribe-to-comments-reloaded/templates/one-click-unsubscribe.php, locate:

[code]

Changes:

[code]

Uses post_title instead of post_name for the post_title tag, and adds the code for the post_permalink tag.

[2016-08-15 17:11] Reedyseth commented on #243
Hi @Niackery , I have been working in another [issue](https://github.com/stcr/subscribe-to-comments-reloaded/commit/3ed4d8b5ffbbc519871469ad5c5081404f4afa80) of the plugin and haven't been able to review all the comments, but they are next after I finish the other code and test it.

[2016-08-16 10:58] prigara commented on #24
Is there any documentation on configuring one click unsubscribe? I was trying to enable that, but with no luck. Thank you!

[2016-08-16 15:25] Reedyseth commented on #24
Hi @prigara

To enable the one click unsubscribe in your notifications you have to add the link on the notification message like this:

![image](https://cloud.githubusercontent.com/assets/1228711/17704091/1dc2a728-6391-11e6-8dc3-eb8a854044b1.png)

Make sure to add the tag **[oneclick_link]** on the  URL, the plugin will change that to the actual link.

Now when a new user receive a new notificatio

[2016-08-16 16:15] vbdeco opened #244 "[post_title] problem"
Hi,

I've got a problem with the [post_title] tag.

My post title is "article test 2", and when i use [post_title], i've got "article test 2". The number 2 is not considered in the URL.

Could you tell me why ?

Regards.

[2016-08-16 16:20] Reedyseth commented on #244
Just to confirm, do you setup this on the **Notification subject section**?

![image](https://cloud.githubusercontent.com/assets/1228711/17706879/0abe6b12-639b-11e6-8baf-426c7df73e0b.png)

[2016-08-16 16:24] vbdeco commented on #244
Yes : [http://hpics.li/25ab713](url)

[2016-08-16 16:26] Reedyseth commented on #244
Image not available, you can copy and paste it here on the editor.

[2016-08-16 16:28] vbdeco commented on #244
![capture](https://cloud.githubusercontent.com/assets/21063667/17707105/2bc47524-63df-11e6-8797-9eea2fa171ad.png)

[2016-08-16 16:41] Reedyseth commented on #244
I just recreated an article using the same Post Name and everything worked. Please share a screenshot with the error that you are having.

[2016-08-16 16:43] vbdeco commented on #244
Try to subscribe without comment (in private mode for example)

![capture d ecran 2016-08-16 a 18 42 36](https://cloud.githubusercontent.com/assets/21063667/17707568/455a79dc-63e1-11e6-9759-539492d6c11a.png)

[2016-08-16 16:47] vbdeco commented on #244
![capture-d ecran](https://cloud.githubusercontent.com/assets/21063667/17707708/e2db31ba-63e1-11e6-9529-4f09afcb5124.jpg)

[2016-08-16 16:50] vbdeco commented on #244
You could see that first [post_title] is not good, but the second is ok.

![capture](https://cloud.githubusercontent.com/assets/21063667/17707778/41042026-63e2-11e6-98e8-e05e3064bbb6.jpg)

[2016-08-16 16:56] Reedyseth commented on #244
OK, I see,

You have your link broken.

This is the insert link window that I mentioned before:

![image](https://cloud.githubusercontent.com/assets/1228711/17707934/e5da8bd2-639f-11e6-978a-f699929deb26.png)

What values do you have in your side, please share your values.

[2016-08-16 17:02] vbdeco commented on #244
For the first :
![first](https://cloud.githubusercontent.com/assets/21063667/17708131/ed90971a-63e3-11e6-8c8f-eb91d3085e31.png)

For second :
![second](https://cloud.githubusercontent.com/assets/21063667/17708139/f6bed446-63e3-11e6-9792-55a8911e37f7.png)

[2016-08-16 17:12] Reedyseth commented on #244
Please paste the value of the message here, you ca get that from the source code:

![image](https://cloud.githubusercontent.com/assets/1228711/17708438/3786f130-63a2-11e6-9360-35db68baa4d1.png)

For the pasted code using the **insert code** of this GitHub editor

[2016-08-16 17:15] vbdeco commented on #244
`<p style="text-align: justify;">Vous pouvez suivre la discussion sur l'article "<strong>[post_title]</strong>" sans avoir &agrave; laisser un commentaire. Pour cela, entrez simplement votre adresse email dans le champ ci-dessous, et vous recevrez un message &agrave; chaque fois qu'un nouveau commentaire sera ajout&eacute;.</p>
<div class="comment_mail" style="text-align: justify;">Cette adresse n

[2016-08-16 17:38] Reedyseth commented on #244
I cannot reproduce your issue, I have use the same code and also created another post with the name "article test".

After reviewing the code in your site the links are for differente post, for article and article-2.

Also another thing is thatyou have a link in the post title, but with the html that you shared, there is not an anchor tag that points to the post link.

As a last resource you can g

[2016-08-16 17:45] vbdeco commented on #244
This is what i do :
![capture d ecran 2016-08-16 a 19 43 32](https://cloud.githubusercontent.com/assets/21063667/17709542/d813cbd6-63e9-11e6-9a45-3d74622f520a.png)

And this is what i've got :
![capture d ecran 2016-08-16 a 19 44 55](https://cloud.githubusercontent.com/assets/21063667/17709574/03703c74-63ea-11e6-9c24-4780a159a5bf.png)

[2016-08-16 17:47] vbdeco commented on #244
`<p style="text-align: justify;">"<strong>[post_title]</strong>" Vous pouvez suivre la discussion sur l'article "<strong>[post_title]</strong>" sans avoir &agrave; laisser un commentaire. Pour cela, entrez simplement votre adresse email dans le champ ci-dessous, et vous recevrez un message &agrave; chaque fois qu'un nouveau commentaire sera ajout&eacute;.</p>
<div class="comment_mail" style="text-

[2016-08-16 17:50] vbdeco commented on #244
Could you confirm that you have the same problem on my website when you try to subscribe without comment ?

[2016-08-16 17:52] Reedyseth commented on #244
I see the same result as you in your site.

When I setup your same message in my site with the same post title I see it
different, something is adding a link to the post title, but it is not the
plugin.

On Tue, Aug 16, 2016 at 11:50 AM, vbdeco <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasofte

[2016-08-16 20:20] Niackery commented on #243
No worries -- I've been working on something else too :)

[2016-08-17 09:56] prigara commented on #24
@Reedyseth, thanks for your reply. That worked great! I didn't know the option name - it's not listed in the description to the Notification message field.

[2016-08-17 14:47] Reedyseth commented on #24
You're Welcome

I apologize for that, my bad. On the next version is included :+1:

[2016-08-17 16:05] #244 closed

[2016-08-17 17:32] Reedyseth commented on #238
Just FYI, I tested the plugin down to version 5.3.13 and it works !

What PHP version are you running ?

[2016-08-17 17:59] #226 closed

[2016-08-17 18:01] #241 closed

[2016-08-17 19:18] Reedyseth commented on #209
This issue was the result of a wrong settings page url see https://github.com/stcr/subscribe-to-comments-reloaded/commit/467999e11939a099f55c8d471be130e1b9ccc899

[2016-08-17 19:18] #209 closed

[2016-08-17 20:20] #240 closed

[2016-08-17 20:22] #234 closed

[2016-08-17 20:24] Reedyseth commented on #233
@forabetterjob I apologize for the late response. This feature is already available on the plugin.

[2016-08-17 20:26] Reedyseth commented on #195
Hello @drreen are you still having this issue?

[2016-08-17 20:33] Reedyseth commented on #212
This Typo is already fixed, see https://github.com/stcr/subscribe-to-comments-reloaded/commit/e0b1e2008c0519524a0b0ebd6908f415dfb138a5#diff-4f598bc924f96f6f2eb1368f728d7b99

[2016-08-17 20:33] #212 closed

[2016-08-17 20:43] drreen commented on #195
I switched to postmatic at this point already

[2016-08-17 20:43] Reedyseth commented on #195
Thank you for the confirmation !

[2016-08-17 20:43] #195 closed

[2016-08-17 20:46] Reedyseth commented on #200
Issue solved on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/56e914fbcb3753448bde064b43810f5e7ba4ec26

[2016-08-17 20:46] #200 closed

[2016-08-17 20:47] Reedyseth commented on #198
Issue solved on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/56e914fbcb3753448bde064b43810f5e7ba4ec26

[2016-08-17 20:47] #198 closed

[2016-08-17 20:53] xazatothx commented on #238
thanks for that.   I was on 5.2!!  I just upgraded to 5.3 and your plugin now activates OK.

[2016-08-17 20:59] Reedyseth commented on #238
Thank you for the confirmation.

Regards.!!

[2016-08-17 20:59] #238 closed

[2016-08-17 21:20] Reedyseth commented on #198
Fixed on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/56e914fbcb3753448bde064b43810f5e7ba4ec26

[2016-08-17 21:27] Reedyseth commented on #196
Hi, this is fixed by this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/8fe6929f3328fbf2fc3da9ac2df615d4953a6f8f and https://github.com/stcr/subscribe-to-comments-reloaded/commit/98d553e33f8a958a4e20800faeff16106b8864e6 and will be available on the next release.

[2016-08-17 21:28] #196 closed

[2016-08-17 21:29] Reedyseth commented on #220
Hi, this is fixed by this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/8fe6929f3328fbf2fc3da9ac2df615d4953a6f8f and https://github.com/stcr/subscribe-to-comments-reloaded/commit/98d553e33f8a958a4e20800faeff16106b8864e6 and will be available on the next release.

[2016-08-17 21:29] #220 closed

[2016-08-18 05:22] forabetterjob commented on #233
Hi @Reedyseth , Thanks for the response.

But I see only one option "**Approve & Reply**" and I think I have the latest version ( Version 160115).

[2016-08-18 15:24] Reedyseth commented on #233
Would you mind sharing a screenshot?

[2016-08-18 16:08] forabetterjob commented on #233
![image](https://cloud.githubusercontent.com/assets/19899034/17781166/d3759980-658b-11e6-8f1c-654fd80a22f1.png)

I have attached the screenshot of my comments.. ! **Blue color button "Approve and Reply"** is the only option i see.

[2016-08-18 16:54] Reedyseth commented on #233
OK, I see it now, this is a tricky one(not impossible) and outside of the scope of the plugin. The purpose of the plugin is to let the user manage where they want to be subscribe and control the notification method. I will consider to add this enhacement to the admin area.

[2016-08-18 18:18] Reedyseth commented on #192
Fixed on this commit https://github.com/stcr/subscribe-to-comments-reloaded/commit/56e914fbcb3753448bde064b43810f5e7ba4ec26

[2016-08-18 18:18] #192 closed

[2016-08-18 21:31] Reedyseth commented on #191
Translation Added a02ff96a84f5d6ac0b8993ab76ef8bcb553f8229

[2016-08-18 21:31] #191 closed

[2016-08-18 21:35] Reedyseth commented on #206
Translations reference updated in commit a02ff96a84f5d6ac0b8993ab76ef8bcb553f8229, it will be available on the next Milestone https://github.com/stcr/subscribe-to-comments-reloaded/milestone/1

[2016-08-18 21:35] #206 closed

[2016-08-18 21:39] Reedyseth commented on #210
@flaviorbianchi You can give it a shot now https://github.com/stcr/subscribe-to-comments-reloaded/archive/development.zip

[2016-08-19 07:52] forabetterjob commented on #233
Thanks @Reedyseth . You guys are wonderful. I have written about the plugin in our blog. Hope this helps.
http://www.forabetterjob.in/stcr-helped-us-increase-visitors/

[2016-08-19 11:57] Reedyseth commented on #233
@forabetterjob

Thank you for that I appreciate it !

[2016-08-19 23:09] Reedyseth commented on #225
This commit closes this enhacement a89313b57a2ed00d6767b76efccfd52ed4fc3ea2.

[2016-08-19 23:09] #225 closed

[2016-08-19 23:14] Reedyseth commented on #205
This commit closes this request a89313b57a2ed00d6767b76efccfd52ed4fc3ea2.

There is a new feature called **Safely Uninstall** that allow you to delete the plugin using the WordPress plugin interface. If you have the option set to **Yes** everything but the subscriptions created by the plugin will be wipeout. So after you made sure that you have this option to **Yes** you can deactivate the plugin

[2016-08-19 23:18] Reedyseth commented on #228
@raamdev Thank you for the suggestion, this commit commit closes this enhacement a89313b57a2ed00d6767b76efccfd52ed4fc3ea2.

[2016-08-19 23:18] #228 closed

[2016-08-20 00:08] raamdev commented on #228
Cool! :-) 👍

[2016-08-22 17:37] Reedyseth commented on #218
@richo67 I apologize with the late response.

I had setup my development with SSL, but both links generated with HTTPS and HTTP works. What are the settings that you have in your `.htaccces` file ?

[2016-08-22 17:48] richo67 commented on #218
@Reedyseth never mind, I have totally change everything and I do not need anything. I even do not remember what was the issue. It is almost half a year,sorry. My site is now fully https no issue there anymore.

[2016-08-22 17:48] #218 closed

[2016-08-22 18:01] Reedyseth commented on #218
Thank you for your response.

Regards.!!

[2016-08-22 18:06] Reedyseth opened #245 "The More Info link broken"
The More Info link under the Mass Update panel is not working.

[2016-08-22 22:57] Reedyseth commented on #126
@nedkeller

This commit fullfil this request dd3bb95.

I will release the code on this friday **26-Aug-2016**

Make sure to update your code before installing the new update to avoid double subscription.

[2016-08-22 22:57] #126 closed

[2016-08-22 23:41] Reedyseth commented on #219
@crowinck FYI I have updated the readme information as you suggested and will be available on next release. Thank you for your comments. https://github.com/stcr/subscribe-to-comments-reloaded/commit/e3b1781480f1f96ccb4164caa6bc5c84cfdc3197#diff-9f82425cf174b914c3c17bd08e5c37ddR68

[2016-08-22 23:41] #219 closed

[2016-08-22 23:42] #210 closed

[2016-08-23 00:15] igendel opened #246 "he-IL translation of subscribe options not appearing"
Hi, thanks for this great plugin!

In my blog I recently switched from default subscription type to the drop-down box. While the other plugin strings appear in Hebrew as expected, in the drop-down box itself I see the options in English - "Don't subscribe", "All", "Replies to my comments".

While not an expert, I did use Poedit to check the .po file; it already has the correct translations for the

[2016-08-23 00:37] Reedyseth commented on #246
Hello @ido,

Open your translation file with any editor and search for a string with the
value **fuzzy**. Get rid of that complete line. You have to do this on
every match so you can use the search and replace function of your editor.

Then save the file and now open it with Poedit and click on update to get
the reference. Now repeat the same steps once more. With that you should
get the translati

[2016-08-23 00:53] igendel commented on #246
That's one fast response!

I couldn't find any instance of "fuzzy" in the entire .po file... the relevant string records seem to be something like this (of course the Hebrew font won't show up correctly here):

#: <option value='none'" . ( get_option(
#: 'subscribe_reloaded_default_subscription_type' ) === '0' ?
#: "selected='selected'" : '' ">" __( "Don't subscribe", 'subscribe-reloaded'
#: "</op

[2016-08-23 01:07] Reedyseth commented on #246
Please send me your files and the versión that you are using, as soon as I
have a change I will check it out.

My email is reedyseth (at} Gmail [d0t) com
On Aug 22, 2016 6:53 PM, "Ido Gendel" <notifications@github.com> wrote:

[2016-08-24 04:45] Reedyseth commented on #246
Here is the translated file in case someone need it. It works for the version 160115

https://gist.github.com/Reedyseth/7cec8ed5e324b12e9e6580d22785cc8c

[2016-08-24 04:45] #246 closed

[2016-08-24 04:47] Reedyseth commented on #245
This is a false issue. the link is working.

[2016-08-24 04:47] #245 closed

[2016-08-25 18:14] Bobz-zg opened #247 "Checkbox not showing / function doesn't exist"
Hi,

I have an issue with the plugin, at first I thought it was caching problem but turns out not after all.
Plugin is active and I set in Options not to show form, then I manually add it to my comments template:

[code]

Sadly this shows that function doesn't exits at all.

If I remove the function from template, and then try to activate the plugin trough options then I can see only part saying:

[2016-08-25 18:16] Reedyseth commented on #247
Hello @Bobz-zg ,

Yes there is a bug with that version that I already fixed. This weekend I will be releasing the new update, but it will be helpful if you could test it before.

You can download it from here:

https://github.com/stcr/subscribe-to-comments-reloaded/archive/development.zip

[2016-08-25 18:18] Bobz-zg commented on #247
Hy @Reedyseth
Thanks for quick reply, I will give it a test and let you know how it went.

[2016-08-25 18:20] Reedyseth commented on #247
Thank you. I will appreciate it !

[2016-08-26 08:15] Bobz-zg commented on #247
Hi @Reedyseth

I have checked and now it's working for me.
Have found one problem, when I want to get to subscription page manager_link shortcode is not parsed, not sure is it me or not. I do get it in email but it's not shown on page after form submit

<img width="647" alt="screen shot 2016-08-26 at 09 44 34" src="https://cloud.githubusercontent.com/assets/420604/17998484/ff0f5d3a-6b74-11e6-93c2-

[2016-08-26 12:54] jorgitobg opened #248 "bulk suscribe to all users"
hi,

I used your plugin "subscribe to comments reloaded" a lot of years ago... but because a hosting problem we need to clean database and erase all plugin data by mistake.

Now we need to bulk suscribe all users with a valid email on comments... (we have more than 40.000 coments), this is possible?.

Regards,

[2016-08-26 13:08] Reedyseth commented on #248
Hello @jorgitobg ,

If you still have acces to the database you can your this query:

`SELECT * FROM PREFIX_postmeta WHERE meta_key LIKE '\_stcr@\_%';`

where PREFIX is the one that you set in your WP options.

With that query you can retrieve all the subscriptions and the export them.

[2016-08-26 13:13] jorgitobg commented on #248
Hi Reed,

Thanks for your fast answer..... we lost the old database with plugin data, so my question is if it is possible to import suscribers from posts directly and auto subscribe them to these posts where they did make a comment....

Regards,

[2016-08-26 13:16] Reedyseth commented on #248
It is possible to subscribe them to the post, but having the relationship in every comment will be a little bit tough.

Let me work in something and I let you know what I get.

[2016-08-26 13:21] jorgitobg commented on #248
Thanks Reed you are great!

[2016-08-26 14:52] Reedyseth commented on #247
@Bobz-zg Thank you for the suggestion on the markup. Yes that view needs a lot of UI improvement, as well as responsive support.

Yes that part is buggy because it used to display the manager link, but you could hack this very easy by entering any user email and get the manager link, this is why I removed the functionality for That Tag.

The solution is to add two sections, 1 for the frontend mess

[2016-08-26 15:44] jorgitobg commented on #248
I found I also need authors get auto subscribed to their published posts

[2016-08-26 16:30] Reedyseth commented on #248
@jorgitobg This feature is already implemented on the new version. Now the authors can auto subscribe to Custom Post types. The new version will be out in a couple of days.

[2016-08-26 16:36] jorgitobg commented on #248
Hi Isabel,

Thanks but this was not my question.

Have your plugin the function to bulk import ALL comments and suscribe to
the post where were created?

Regards,

On Fri, Aug 26, 2016 at 6:30 PM, Israel Barragan C. <
notifications@github.com> wrote:

[2016-08-26 16:38] jorgitobg commented on #248
Hi Reed! sorry I thought you were other person and reply by email....

Maybe could you help me to auto-suscribe authors to all comments??? On plugin options I activate this option but also I need to activate it on ALL posts (20.000).

Regards

[2016-08-26 20:38] Reedyseth commented on #247
@Bobz-zg

I have added the solution as I mentioned, please give another try to the development code by downloading againg the files.

https://github.com/stcr/subscribe-to-comments-reloaded/archive/development.zip

[2016-08-26 23:07] Reedyseth commented on #104
Hello @timpritlove ,

I apologize for the long and delay response. I created my multisite installation and tested everything with the latest development code and everything is working like a charm. There were so many bugs and fixes including the ones on this issue. Basically there were hard code and also some function callings with error. I will be releasing the plugin update in  a couple of days

[2016-08-26 23:09] Reedyseth commented on #205
I have [tested](https://github.com/stcr/subscribe-to-comments-reloaded/issues/104#issuecomment-242872938) the latest revision with your issue and now everything is working.

[2016-08-26 23:09] #205 closed

[2016-08-26 23:09] #104 closed

[2016-08-27 09:57] Bobz-zg commented on #247
@Reedyseth

Have tested and still have the same issue with manage_link shortcode not parsing.
Looks like you need to: `<?php echo do_shortcode($content); ?>`

Also, another issue is now present, I got empty email that should send me link to manage my comments

[2016-08-27 15:35] Reedyseth commented on #247
Did  you noticed that now there is an extra field on the notification options?

One Field is to display the notification request to a user and it only parse the `[blog_name]` tag.

![image](https://cloud.githubusercontent.com/assets/1228711/18028344/79aebeae-6c39-11e6-8e48-3a4cea1ae026.png)

The other field is use for the email notification, in that field you can use the `[blog_name]` and `[manage

[2016-08-27 15:37] Reedyseth commented on #248
Yes, I just need to finish some work on the plugin and the I can help you with a SQL query, you can put it in phpmyadmin.

[2016-08-27 15:47] jorgitobg commented on #248
Thanks Reed, sorry about the rush!

[2016-08-30 11:31] jorgitobg commented on #248
Hi Reed, Any update?

[2016-08-31 17:43] Reedyseth opened #249 "Links not working on new Installation"
The links on all the messages are not clickable on new version. Modify the new options values.

[2016-08-31 23:37] Reedyseth opened #250 "Confirmation link expired? Blank links on notifications"
Issue reported here:

https://wordpress.org/support/topic/confirmation-link-expired?replies=4#post-8824111

Original message:

[2016-08-31 23:49] Reedyseth commented on #250
After checking your your plugins settings I found two issues, the links are broken and the management messages are a little bit wrong, so to fix them please do the following.

Update any tag that refers to a link like this image:

![image](https://cloud.githubusercontent.com/assets/1228711/18150190/30bc4dc6-6fa2-11e6-8024-5c8018eb7477.png)

or you can click the gear icon and setting up there:

![i

[2016-09-01 00:14] nickloper commented on #250
Thanks. I've updated those links, but the confirmation link is still giving me that expired message when I click on it, and no way to subscribe to the desired comment thread after inputting my email to request the manage subscriptions page.

![image](https://cloud.githubusercontent.com/assets/21373843/18150704/da286a34-6f9d-11e6-9023-52956c47b3d9.png)

Here's what I see after I click the confirmat

[2016-09-01 00:42] Reedyseth commented on #250
I see, in the mean time please deactivate and activate the plug in.
On Aug 31, 2016 6:14 PM, "nickloper" <notifications@github.com> wrote:

[2016-09-01 03:24] nickloper commented on #250
Thanks Israel, deactivated and activated again, but I'm still getting the
same "expired" link error message when I click on the confirm subscription
link.

On Wed, Aug 31, 2016 at 5:42 PM, Israel Barragan C. <
notifications@github.com> wrote:

[2016-09-01 05:12] DavidFB1 opened #251 "Bug Report: Comment form formatting broke"
The latest update broke the formatting, placing the "manage" sentence and link right after the "Comment" label and winding down the side of the comment box. This is in Cryout Creations Mantra theme. It was formatted reasonably prior.

![subscribe-error](https://cloud.githubusercontent.com/assets/19560675/18156047/ea59bd52-6fc7-11e6-8e42-7f6f459f0de6.gif)

[2016-09-01 05:31] Reedyseth commented on #251
Hello @DavidFB1 ,

The subscription message goes above the submit button, the form used by the them should be using the Standar wordpress rules. You will have to update your CSS styles of the form accordingly.

What is your site URL ?

[2016-09-01 06:10] Reedyseth commented on #250
@nickloper ,

I see that the subscribers email key is not being generated, do you have access to you database to make a change?

[2016-09-01 10:42] micha1848 opened #252 "After Update 90% of translation lost."
After the last Update about 90% of my german Translation are lost. Thre overwrite by the english defaults...

_Version 160831 of the Plugin and WP = 4.6._

[2016-09-01 10:45] micha1848 opened #253 "subscribe_link generate wrong URL"
on My Page the "subscribe_link" generates the Wrong URL if the User is not loged in.
The the : is missing...
So it produced a Link like: https//......

If your logged in, it produced the right link: https://......

_Version 160831 of the Plugin and WP = 4.6._

[2016-09-01 14:27] Reedyseth commented on #252
Hi @micha1848 ,

I apologize for that, did you make changes in the translation files or it just stopped working ?

[2016-09-01 14:28] Reedyseth commented on #253
@micha1848

OK, let me check that out and I will come back with more info.

[2016-09-01 14:44] micha1848 commented on #252
Translation Files?
Ok, the Plugin it self is german that works.
But the individual Messages are english after Update. At Commentform the complete Messages are overwritten with english.
At the "administration page" the title are german, but all the Messages are the english Orignals.
And on the Notification Page all my German Translation are still there...
No Idea whats Happend :-)

[2016-09-01 15:07] vbdeco opened #254 "Feature Request: Tags for Management Page message"
Hi,

Do you think it will possible to allow these tags for the Management Page message : [post_permalink] and [post_title].

It will be great for a "return to post" message at the end.

Regards... And thank you for this work !

[2016-09-01 15:11] Reedyseth commented on #252
This is pretty weird because the update does not mess with your messages.

On the new update there is a hidden page, I say hidden because is not visible in the options tabs.

If you go to the left menu of StCR you will see an option named StCR System.

![image](https://cloud.githubusercontent.com/assets/1228711/18172777/1b965d7e-7024-11e6-80cf-22c8881737e9.png)

Would you mind sending me the data

[2016-09-01 16:29] DavidFB1 commented on #251
Hi Reedyseth
The site is Davidya.ca
I have the plugin disabled at the moment due to the issue.
I can add custom CSS to the theme. Can you suggest what might work?

[2016-09-01 18:44] nickloper commented on #250
I'm not sure ... which probably means no. If you have specific instructions
I'll see what I can do.
ᐧ

On Wed, Aug 31, 2016 at 11:10 PM, Israel Barragan C. <
notifications@github.com> wrote:

[2016-09-01 18:45] Reedyseth commented on #250
@nickloper Thank you, I found the problem and I am working on it :+1:

[2016-09-02 00:31] Reedyseth commented on #250
@nickloper I have added the fixe,

Would you like to download the code and test it ?

https://github.com/stcr/subscribe-to-comments-reloaded/archive/development.zip

[2016-09-02 02:49] Reedyseth commented on #253
@micha1848 I went into a deep search and I could not find that issue, the url is generated by wordpress, make sure that your general settings are pointing to the correct site.

[2016-09-02 08:49] jorgitobg commented on #248
Hi Reed, any update?

[2016-09-02 09:29] oliverands opened #255 "Bug Report: Subscribing without Leaving a Comment"
I have just updated to v 160831. It appears that when someone tries to subscribe to comments on a post without leaving a comment, their subscription does not get saved. The whole process works (they see the confirmation page and get an email confirmation) but the email address is not saved for sending future comments.

The process works fine, though, if someone leaves a comment and requests to sub

[2016-09-02 09:52] micha1848 commented on #253
@Reedyseth
now iam realy confused....
If the link is set by your original Message, all is ok. If i wrote a translation and put in the Shortcode to the Linkfield, the ":" goes away....
After a deeper look from my site, the Proplem seems the TinyMCE. It wrote for the Shortcode the following code:
`<a href="http://[manager_link]">`

So i think it was half my mistake. Never Trust a WYSIWYG Editor ;-)

[2016-09-02 12:13] scarbit opened #256 "Bug Report: No check box after update"
Hi,

With this last version the check-box for subscribing is not appearing anymore.
Everything worked  just fine with previous version(s).
Please see options below (this is a fresh new installation of the plug in)

By manually adding the code in the comments template I end up with a check-box and a link to subscribe without commenting but:
1: notification e-mails are not sent.
2: it fails to ident

[2016-09-02 16:03] Reedyseth commented on #256
hI @scarbit ,

Thank you for reporting the issue, on this new Update StCR rely in your WordPress setup standarization, if the theme that you are using does not fit the WordPress standar then it will break, you can test this by activating any of the WordPress built-in themes.

As for the other issues I have fixed them and releasing the update during the day.

[2016-09-02 16:34] Reedyseth commented on #248
Hi @jorgitobg , Not yet, I have been in a lot of rush with the last update and bug fixes, I will come back to you later in the day.

Regards.!!

[2016-09-02 16:35] Reedyseth commented on #255
Hi @oliverands I apologize for the inconvenience, I have spot that issue and will be releasing the update later in the day, thank you for the report.

[2016-09-02 16:37] Reedyseth commented on #253
Yes, when you add the tag it add by default the `http://` protocol, I always click the gear icon and make sure that the tag is clean. The cooll thing in this new version is that you can switch between the Visual and Text view.

So all is good ?

[2016-09-02 16:40] Reedyseth commented on #253
Hi @micha1848

Yes, by default when you add a link WordPress adds you the `http://` protocol, I always click the gear Icon to make sure that everything is clean. The good think is that with the new update you can switch between the Visual view and the Text view, so you have access to the HTML code.

So all is good?

[2016-09-02 16:51] jorgitobg commented on #248
Dont worry sorry about the rush again :(

[2016-09-02 18:52] Reedyseth opened #257 "Bug Report: Double notification When notify author enable."
When the option **Subscribe Authors** is enable and the author is subscribe to his post two notifications are sent.

![image](https://cloud.githubusercontent.com/assets/1228711/18214807/d83c739a-710b-11e6-8980-37ac5184ed11.png)

It should only send one notification if the author is subscribed.

[2016-09-03 02:01] Reedyseth commented on #250
@nickloper I released the new update so please update.!!

[2016-09-03 02:02] Reedyseth commented on #255
@oliverands I released a new version so please update.

[2016-09-03 02:06] Reedyseth commented on #252
@micha1848 I released a new version so please update !

[2016-09-03 02:10] Reedyseth commented on #251
@DavidFB1 WIth in your site with the plugin disabled I cannot play with the CSS, I have another site with a theme with the same issue so I will give some test on it or if your theme is free I can download it and test it.

[2016-09-03 02:13] Reedyseth commented on #247
@Bobz-zg  A new version is out so please update and check it out !

[2016-09-03 03:15] DavidFB1 commented on #251
Yes the theme is free
https://www.cryoutcreations.eu/wordpress-themes/mantra
Thanks!

[2016-09-03 03:20] Reedyseth commented on #251
Awesome, that will Work. Thanks
On Sep 2, 2016 9:15 PM, "DavidFB1" <notifications@github.com> wrote:

[2016-09-03 04:51] scarbit commented on #256
Hi Reedyseth,

Thanks for the reply and for the update.

Unfortunately I am still experiencing the No.1 and No.2 issues.
![image](https://cloud.githubusercontent.com/assets/20117227/18222799/1d41b3fc-71ab-11e6-81fb-0d0df7c3fa58.png)

Please advise!

Br,
Alex

[2016-09-03 05:22] Reedyseth commented on #256
Hi Alex, two questions. What is your site URL? And what version are you running right now?. Please deactivate and activate the plugin.

[2016-09-03 08:25] oliverands commented on #255
Thank you for the quick fix!

[2016-09-03 09:01] oliverands opened #258 "Bug Report: Templated Used for Management Page"
Hi, I'm not sure if this is an issue with the plugin or with my configuration.

For some reason, the virtual management page is using a different default page style than the rest of my blog template. You can see my blog here: https://oliverands.com/community/

The management page is adding a left-hand sidebar that the rest of the site does not have. I have tried disabling the virtual management pa

[2016-09-03 12:04] Reedyseth commented on #258
Hi Todd,

Can you paste the code/content of your template file ??
On Sep 3, 2016 3:01 AM, "Todd Gibson" <notifications@github.com> wrote:

[2016-09-03 12:23] scarbit commented on #256
Hi Reedyseth,

The site url is http://www.trafictube.ro
Second one:
![image](https://cloud.githubusercontent.com/assets/20117227/18224791/e88d6798-71e9-11e6-8693-cc068bb9b536.png)

WordPress 4.6
STCRT management URL is the default one: /comment-subscriptions

On a second note, the authors are automatically subscribed to comments.
Br,
Alex

[2016-09-03 15:11] oliverands commented on #258
I'm sorry about this. I determined what the issue was. The management page is calling sidebar.php, and I am using a new custom template which does not include the sidebar. The sidebar.php file was included in the template even though the rest of the template was not making use of it. By removing content from it, I was able to get the management page to display without the sidebar content and to ma

[2016-09-03 15:11] #258 closed

[2016-09-03 16:23] Reedyseth commented on #258
Hi @oliverands no problem, I am always glad to help !

[2016-09-04 10:41] manu-p commented on #256
I'm facing the same issue on a wp site and not ready to change theme...

@scarbit "_By manually adding the code in the comments template I end up with a check-box and a link to subscribe without commenting_".

Do you mind explaining what code you added in comments.php (I guess) and at what line ?

[2016-09-04 12:57] Bobz-zg commented on #247
@Reedyseth I will give it a spin. Thanks.

[2016-09-04 14:34] Reedyseth commented on #256
@manu-p ,

You can add manually the checkbox with:

`<?php global $wp_subscribe_reloaded; if (isset($wp_subscribe_reloaded)){ $wp_subscribe_reloaded->stcr->subscribe_reloaded_show(); } ?>`

[2016-09-04 15:17] manu-p commented on #256
@Reedyseth : thank you ! Works better. :-)

Now I get trouble with the [subscribe_link]. I'm using it to allow people to subscribe to comments without commenting themselves, and from what I understood it is used to manage subscriptions too.

I followed the explanation found [here](http://behstant.com/subscribe-reloaded/realMgnPage.php) but so far I just get the following when I click in the link :

[2016-09-04 15:47] manu-p commented on #256
OK, I just edited subscribe.php to:
`<?php global $wp_subscribe_reloaded; if (isset($wp_subscribe_reloaded)){ global $posts; $posts = $wp_subscribe_reloaded->stcr->subscribe_reloaded_manage(); } ?> `

Now I get an empty page when I click in the [subscribe_link] (and [manager_link] too).

The corresponding URL is http://mysite/abonnements?srp=2230&srk=1b7633a75f52a8dde61895d3f2ea5d8b

The 'abonneme

[2016-09-04 21:59] micha1848 commented on #253
Sorry for late reply, i must earn some Money the last days ;-)

Yes its all ok, was a silly fault by myself.

[2016-09-04 21:59] #253 closed

[2016-09-05 04:38] Reedyseth commented on #256
Hi @manu-p to make those links works follow this tutorial:

https://www.youtube.com/watch?v=eFW-2NIRzBA

Also don't miss this other tutorial:

https://www.youtube.com/watch?v=yRxOY8yq_cc

[2016-09-05 04:40] Reedyseth commented on #256
As for that link, it is outdated, you can use this one instead:

https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

[2016-09-05 15:34] jorgitobg commented on #248
Hi Reed, I hope you enjoyed weeked!
Any update from this customization? I would really apreciate it....

[2016-09-05 16:11] Reedyseth commented on #248
HI jorgito, not yet, What I would do is to create the queries to work things out. Would you like to send me the database file into my email ? use reedyseth }at( gmail {d0t] com

[2016-09-05 21:52] Reedyseth commented on #255
I will be closing this issue to clean the queue, if you feel that is not yet resolve feel free to reopen it.

[2016-09-05 21:52] #255 closed

[2016-09-05 21:53] jorgitobg commented on #248
ok, what tables do you need?

[2016-09-05 21:53] Reedyseth commented on #247
@Bobz-zg Do you have all up a running without issues ?

[2016-09-05 22:54] Reedyseth commented on #224
@metal450 The new version is out with this checkbox improvement. I am closing the issue but feel free to open it in case is need it.

[2016-09-05 22:54] #224 closed

[2016-09-05 22:59] Reedyseth commented on #248
At least this tables:

* wp_commentmeta
* wp_comments
* wp_links
* wp_postmeta
* wp_posts
* wp_subscribe_reloaded_subscribers
* wp_term_relationships
* wp_usermeta
* wp_users

[2016-09-06 02:16] #252 closed

[2016-09-06 02:25] Reedyseth commented on #251
@DavidFB1 I downloaded the theme and replicate the issue, the thing is that the theme is adding some floating into the form elements, so you can fix the mess with this code:

[code]

![image](https://cloud.githubusercontent.com/assets/1228711/18259960/de6443f4-73a6-11e6-84d4-f6d85ca5118f.png)

[2016-09-06 03:40] nickloper commented on #250
When I try to upload the zip file to my dashboard I get this error:

Installing Plugin from uploaded file:
subscribe-to-comments-reloaded-development.zip

Unpacking the package…

Installing the plugin…

The package could not be installed. No valid plugins were found.

Plugin install failed.
ᐧ

On Fri, Sep 2, 2016 at 7:01 PM, Israel Barragan C. <notifications@github.com

[2016-09-06 04:05] Reedyseth commented on #250
Hi Nick, that happened because you tried to upload the GitHub zip file,
within that file there is another folder name
`Subscribe-to-comments-reloaded`, you have to make that folder a zip file
or you can download the correct file from the WordPress plugin site, just
click the orange button where the 160902 version is labeled.
On Sep 5, 2016 9:40 PM, "nickloper" <notifications@github.com> wrote:

[2016-09-06 04:15] nickloper commented on #250
OK, installed version 160902 now.

Now when I click the confirmation link, I don't get the confirmation link
expired error, but I get this page that still doesn't give me confirmation
I'm subscribed to the comment thread. Here's what it says:

Manage subscriptions

In order to cancel or suspend one or more notifications, select the
corresponding checkbox(es) and click on the button at the end of t

[2016-09-06 05:18] Reedyseth commented on #250
OK, can you send me that link to my email and also the settings that you have in the menu option, under the **StCR System** menu. I will check how things are, use:

reedyseth {at) gmail }dot[ com

[2016-09-06 14:46] jorgitobg commented on #248
Hi Reed, im sorry but I cant send you wp_users table.

Maybe you can create some script or sql commands and I will adapt it to our database?

Thanks

[2016-09-06 15:38] Reedyseth commented on #248
OK, I will be working in something else, I am busy at this moment but I
will see your issue on the weekend !

On Tue, Sep 6, 2016 at 8:46 AM, jorgitobg <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasoftengineering.com
Email: reedyseth@gmail.com

[2016-09-06 16:57] jorgitobg commented on #248
thanks!

[2016-09-06 19:55] DavidFB1 commented on #251
Thank you! Much appreciate the effort.
I also added the DIV tag to Default and Author fields so it fixed it for all users.
Thats a fix!

[2016-09-06 19:55] #251 closed

[2016-09-06 20:21] flaviorbianchi commented on #210
@Reedyseth how should I proceed to update using the files provided?
Just upload them into the directory or should I do something else?
Do you have a quick step-by-step?

[2016-09-06 21:15] Reedyseth commented on #251
Awesome, great to read that eveything is working.

[2016-09-06 21:17] Reedyseth commented on #210
@flaviorbianchi ,

Now the update is available through your WordPress Plugin Dashboard. Just after you install it, please deactivate and activate the plugin and you are good to go.

[2016-09-07 04:13] metal450 commented on #224
Sounds good - thanks again!

[2016-09-07 14:15] petertemple opened #259 "Post links have disappeared"
Last week, they were working correctly, no issues. This week, they have completely disappeared. I watched your video on the [confirm link] URL addition, but it didn't work.

I see there was a plugin update. It looks like that may be the cause, as it was my members that notified me that the link was no longer there.

[2016-09-07 15:24] Reedyseth commented on #259
Hi @petertemple Would you mind sending me a email with the StCR info. In the menu, there is a option called **StCR System**, please copy and paste that value and send it to my email at reedyseth }at) gmail [d0t) com

[2016-09-07 18:52] #256 closed

[2016-09-07 18:56] Reedyseth commented on #236
I am closing this issue since is duplicated from https://github.com/stcr/subscribe-to-comments-reloaded/issues/227 and is already reported. I am taking care of this, but since this is a big change it will take a while to get it done.

[2016-09-07 18:56] #236 closed

[2016-09-07 18:59] Reedyseth commented on #247
This commit closes this request: 2c5585d427b9a881106684cc11f5594c6a3f0140

[2016-09-07 18:59] #247 closed

[2016-09-07 19:07] Reedyseth commented on #254
Yes, it is possible and this will be ready for the next release. Thank you for the suggestion.

[2016-09-07 19:09] #186 closed

[2016-09-07 20:02] Reedyseth opened #260 "StCR now showing in some WordPress Themes"
There are some developers that did not update they code properly and for that reason the filter `comment_form_submit_field` is not working.

**Solution**: enable again the StCR position and fix it to use the correct jQuery selector.

[2016-09-07 20:33] Reedyseth commented on #177
This commit fixes this message: https://github.com/stcr/subscribe-to-comments-reloaded/commit/d3dcb4afcac98f893ec4cf68515003ef5da1af48#diff-36eb42427c97b743fcaca067d9a95695R392

[2016-09-07 20:33] #177 closed

[2016-09-07 20:34] #182 closed

[2016-09-07 20:52] Reedyseth commented on #260
This commit closes this issue: 9e2dbe56ecda97379b06f7f417fca082fd32e406

[2016-09-07 20:52] #260 closed

[2016-09-07 20:57] #37 closed

[2016-09-07 21:02] Reedyseth commented on #33
Although this issue is very old the ability to subscribe to Custom Post Types is now available dd3bb95864aca435b231ad4da385d078193fdb54

[2016-09-07 21:02] #33 closed

[2016-09-08 03:11] daxmacrog opened #261 "Lost all subscribers"
All of my subscribers have disappeared. I believe it happened after the most recent update to the plugin.

I tried deactivating and reactivating the plugin, per the FAQ, but it still doesn't list any subscribers. If I click “view all the subscriptions,” it does not find any, although I know I had about a dozen or so.

I took a look at my wp_postmeta database table. The records are still there (met

[2016-09-08 08:37] LeleDev commented on #227
Still no ETA?  The plugin at the moment does more harm than good, breaking up comments completely... I had to disable it all over my websites

[2016-09-08 09:10] Monter commented on #168
Problem is back in v160902

[2016-09-08 14:23] Reedyseth commented on #261
Hello @daxmacrog , This is the first time that someone report something like this. To me it sounds that you have some issues with your MySQL version, what MySQL and PHP version are you using?

[2016-09-08 14:25] Reedyseth commented on #227
@LeleDev , no ETA yet, but this is on my top priorities !

[2016-09-08 15:14] Reedyseth commented on #168
So after testing for a while with this version(160902) I am not able to reproduce this error, what is your website URL ?

[2016-09-08 16:21] Monter commented on #168
montyer.techlog.pl but revert to the old version. At the latest attempt to send a subscription without leaving a comment causing falling into a loop sending e-mail notifications, and a error 500 (the problem was reported some time ago).

[2016-09-08 16:29] Reedyseth commented on #168
Mark,

Can you paste the error found in your error log, that is in when you enter
into your CPanel. That will help me to narrow things down.

On Thu, Sep 8, 2016 at 10:21 AM, Mark eM <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasoftengineering.com
Email: reedyseth@gmail.com

[2016-09-08 16:50] daxmacrog commented on #261
Thanks @Reedyseth. MySQL 5.5 (InnoDB type and utf8mb4_unicode_ci collation) and PHP 5.6.

[2016-09-08 18:12] Monter commented on #168
I do not have CPanel, I have my own hosting set entirely by hand.
When the last time indicate with the same problems did not help either increase the memory limit, or other tricks.
I don't have special errors:

 - after the entry into subscription without leaving a comment, enter an e-mail and confirming party respond, and in the end there is a 500 error, this time, the server sends 10-15 times a

[2016-09-08 18:34] Reedyseth commented on #261
@daxmacrog I just tested StCR with those versions and have no issues. What does your apache error logs says ?

[2016-09-08 18:41] Reedyseth commented on #168
I see the error in your site, would you mind activate the latest version ?

[2016-09-08 19:48] Monter commented on #168
Currently, it is running the latest version of the plugin.
I have memory allocation errors in WP debug log:

[2016-09-08 20:47] Reedyseth commented on #168
Well, something is wrong in your server side. I've tested the plugin in different versions of WordPress, PHP and MySQL and everything works fine.

Also the newer version of the plugin show the version that is being used, here you don't have that

![image](https://cloud.githubusercontent.com/assets/1228711/18366112/9cf7a90a-75d2-11e6-85cb-6d0c57c24b94.png)

Something like this:

![image](https://cl

[2016-09-09 14:30] Monter commented on #168
Yeeeah, sure... SOA#1.
I use the plugin to minify the source code of the page to cut out all the stupid comments, unnecessary spaces and other junk - look at the bottom of the page code.
I use the plugin allows to send e-mails via an external SMTP server - just doing many users of WordPress.
And only your plug does not work, crashes a 500 error and sends notifications in a loop until the memory of

[2016-09-09 14:30] #168 closed

[2016-09-09 14:54] daxmacrog commented on #261
I turned on error reporting. This error was logged after attempting to leave a new comment with “Replies to my comment” selected (database name removed):

`[09-Sep-2016 14:08:06 UTC] WordPress database error Table 'database_name.wp_subscribe_reloaded_subscribers' doesn't exist for query
			SELECT meta_id, REPLACE(meta_key, '_stcr@_', '') AS email, post_id, SUBSTRING(meta_value, 1, 19) AS dt, SUBST

[2016-09-09 14:59] Reedyseth commented on #261
Can you see the table `wp_subscribe_reloaded_subscribers` in your database?

[2016-09-09 15:04] daxmacrog commented on #261
No.

[2016-09-09 15:21] daxmacrog commented on #261
@Reedyseth That did it! My subscribers are back. Thank you. Is there anything else I should do to clean up the database?

[2016-09-09 15:23] Reedyseth commented on #261
That's all. The only thing that might be corrupted is the encoding of your messages, but if you see all ok and the notifications as well then there are no other database issues.

[2016-09-09 16:54] #261 closed

[2016-09-09 17:33] Reedyseth commented on #167
A new update has been released, are you still having issues?

[2016-09-09 17:35] Reedyseth commented on #153
@Maudus  @Tche111 ,

A new update has been released, are you still having issues ?

[2016-09-09 17:44] Reedyseth commented on #133
A few days ago people from WPLM contacted me and said that they tested the latest code and is working. I am closing this issue but if you need to open please do so.

[2016-09-09 17:44] #133 closed

[2016-09-09 17:47] Reedyseth commented on #129
Hi @WnDSolutions.

I has been a lot since you reported this issues, the plugin development stopped for a while. There is a new update with many changes and fixes, please update.

If you need to re-open again this issues please do so.

Regards.!!

[2016-09-09 17:47] #129 closed

[2016-09-09 17:50] Reedyseth commented on #227
Also reported here: https://github.com/stcr/subscribe-to-comments-reloaded/issues/144

[2016-09-10 18:12] IdaBenz opened #262 "html code visible in the Management Email message"
Hi!

I have disabled HTML emails to make the links work. Every email message looks fine except from the Management Email message, which looks like this:

<p>[text]</br>
[link]

I cannot delete <p> and </br>in Menu --> Notifications. What do I solve this problem?

[2016-09-11 09:10] Reedyseth commented on #262
Hi @IdaBenz,

First off enable HTML emails, then follow this tutorial:

https://youtu.be/eFW-2NIRzBA
On Sep 10, 2016 12:12 PM, "IdaBenz" <notifications@github.com> wrote:

[2016-09-13 16:47] jorgitobg commented on #248
hi reed, any update? regards

[2016-09-14 01:22] Reedyseth commented on #260
![image](https://cloud.githubusercontent.com/assets/1228711/18496914/63b7c9e0-79e7-11e6-95c4-2e6ce4fd125d.png)

[2016-09-15 18:57] Fssanc opened #264 "Bug Report: [oneclick_link] not working"
As the title claims, I cannot achieve to show the One-click Unsubscribe link. When I put it as its explained at GitHub:

It just shows the shortcode itself… I already uninstalled the whole plugin and the problem is still there... any ideas?

Thank you for your time and this great work!

[2016-09-15 21:28] Reedyseth commented on #264
@Fssanc , Make sure, to add the tag in the notification message, that is the only place where it works.

![image](https://cloud.githubusercontent.com/assets/1228711/18568165/0a884a84-7b59-11e6-908b-eaed8f2fe484.png)

[2016-09-15 23:27] Fssanc commented on #264
Oooh... it cannot be used on any other spot?? It would be perfect to use it right after the comments form, where you subscribed... there is not a way to find the function to build the link? I can add the parameters or even create a form to unsubscribe, but i do not know where to find the parameters to send... :S

Could you help me with this? Thank you again, @Reedyseth !

[2016-09-15 23:31] Reedyseth commented on #264
Yes, as a matter of fact I have created a ticket https://github.com/stcr/subscribe-to-comments-reloaded/issues/185 with this request. This option will be ready for the next release.

[2016-09-15 23:39] Fssanc commented on #264
Alright! I actually thought it was already implemented... x)

So, thanks one more time for your nice work with this plugin, its a really good job!

P.S.: I will try to help a little bit translating some parts that remain in english to spanish! ;)

[2016-09-16 00:31] Reedyseth commented on #264
Gracias, I will appreciate !
On Sep 15, 2016 5:39 PM, "Fssanc" <notifications@github.com> wrote:

[2016-09-17 19:39] wickedpuppy commented on #203
Any news?

[2016-09-18 11:27] Monter opened #265 "Invalid "To" e-mail address "7a166cf69508e3ac55f5a0dcaff10a1f""
When the reader wants to change the type of subscription STR tries to send 12 times in a loop notification to the specified ID instead of an subscriber e-mail:

![stcr_error_sent_emails](https://cloud.githubusercontent.com/assets/9859492/18615322/b30359c8-7da3-11e6-9640-940dbf641c7f.png)

[2016-09-19 13:52] enotundr opened #266 "Fatal error when responding to comment"
Hello,

I am getting a fatal error after responding to a comment. It looks like the system is not recognizing the email address which should get a notification about a new reply.

How this can be fixed?

Thanks

[2016-09-19 14:07] #266 closed

[2016-09-19 21:55] Peterpc58 opened #267 "Management url"
I have updated the plugin and my management url does not work anymore.
It used to be:
/index.php/2012/04/10/manage-subscriptions
How can I find the right link?

[2016-09-20 10:07] jorgitobg commented on #248
hi reed, any update? regards

[2016-09-20 17:51] Reedyseth commented on #248
HI @jorgitobg, I have not found the change to go deep in to this issue,
some other have rise, but I keep my on this.

On Tue, Sep 20, 2016 at 4:07 AM, jorgitobg <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasoftengineering.com
Email: reedyseth@gmail.com

[2016-09-20 17:53] Reedyseth commented on #266
@enotundr You closed the issue. Found the solution ?

[2016-09-20 21:35] jorgitobg commented on #248
thanks reed I will wait :)

[2016-09-21 12:46] ravisaive opened #268 "Bug Report: You do not have sufficient permissions to access this page."
I keep getting the error "**You do not have sufficient permissions to access this page**." while clicking on the this link

http://www.tecmint.com/wp-admin/options-general.php?page=subscribe-to-comments-reloaded/options/index.php&subscribepanel=1&srf=email&srt=equals&srv=jay.ali%40live.com

[2016-09-21 15:04] Reedyseth opened #269 "One Click Unsubscribe – Slug of the permalink instead of the real post title"
This was Reported by [@ben69007](https://wordpress.org/support/users/ben69007/) here:

https://wordpress.org/support/topic/one-click-unsubscribe-slug-of-the-permalink-instead-of-the-real-post-title/

[2016-09-21 15:07] Reedyseth commented on #268
Hi @ravisaive, that URL changed in the new version.

Where did you click that trigger this error ?

[2016-09-21 15:10] Reedyseth commented on #265
Hi @Monter I will give it a try to reproduce this issue. You do this in the management page correct ?

[2016-09-21 15:17] Reedyseth commented on #267
Hi @Peterpc58 , what is your website ?

Regards.!!

[2016-09-21 15:37] tolkodelo commented on #227
As I wrote on wordpress.org, I haven't had any bounce issues yet, but getting tons of comments emails isn't convinient at all. And there's no point in reading them comment by comment in a mailbox anyway. Would be good to have all the comments for each post sent in one email, say, every hour (or make the time interval an option to choose).

[2016-09-21 15:54] bobinoz opened #270 "Bug Report: <short description>"
Hi

After the most recent update to this plug-in, the subscription options have disappeared from the front end as has my ability to manage those subscriptions. After the update I checked in options and my StCR Position was not selected at all. I have since tried both yes and no and neither has fixed it.

I am using Thesis 2.2 Classic Responsive Skin with WordPress V4.61. Site is www.bobinoz.com.

[2016-09-21 16:15] Reedyseth opened #271 "Options Safely Uninstall and StCR Position not set"
The Options **Safely Uninstall** and **StCR Position** are not set on the last update(160915)

[2016-09-21 16:49] Reedyseth commented on #270
@bobinoz I don't get to see the code of the last update in your site. What version do you have right now ?

[2016-09-21 16:51] Reedyseth commented on #227
@tolkodelo Thank you for move you comment to here, still working on some fixes to move to this one.

[2016-09-21 17:08] bobinoz commented on #270
If you mean of the plug-in, it's Version 160915. If you mean WordPress, it's version 4.61.

[2016-09-21 20:10] Reedyseth commented on #270
@bobinoz Please make sure to have the StCR position to Yes, then let me know to check your site

![image](https://cloud.githubusercontent.com/assets/1228711/18727239/03434d40-8005-11e6-80da-cf415790fdfc.png)

[2016-09-22 00:32] Monter commented on #265
I updated the plugin from within WordPress. Twice, because there were two updates. At some point, someone decided to add to the subscription, another person left a comment. Trying to send notifications occurred at some ID number instead of an e-mail. The above screenshot is from a plug Postman. After restoring version STCR used before the problem disappeared - comment notifications are sent correc

[2016-09-22 02:18] bobinoz commented on #270
Okay, it is set to Yes now, but the situation is the same, still no subscription boxes at the front end.

[2016-09-22 03:04] Reedyseth commented on #270
The OK, keep it like that and I will check what is going on.
On Sep 21, 2016 8:18 PM, "bobinoz" <notifications@github.com> wrote:

[2016-09-22 03:34] Reedyseth commented on #270
@bobinoz

Everything seems to be working in your site, I don't find any weird thing.

![image](https://cloud.githubusercontent.com/assets/1228711/18736298/e5a8e248-8042-11e6-97e0-68ad314dbc99.png)

The management page:

![image](https://cloud.githubusercontent.com/assets/1228711/18736314/13b657a6-8043-11e6-893a-2eeaaee07cfc.png)

[2016-09-22 03:35] Reedyseth commented on #270
Also go to the settings and activate the **HTML Emails** option.

[2016-09-22 04:17] bobinoz commented on #270
Hi

Sorry, I didn't know you'd be around at this time the day, I've been working on this myself as well. Since my last comment here, I checked in my themes forum because I had asked them if they could help as well, being as the suggestion was it could be a theme related problem.

They suggested I add the following code into my custom PHP file for the theme...

add_action( 'hook_bottom_comment_form

[2016-09-22 04:40] bobinoz commented on #270
Hi

Okay, the more I look into this the worse it appears to be getting. I have gone into my cPanel and purged the varnish, so that should have solved any caching issues if that was the problem. Nothing has changed though, I still have the same problem and I found another one.

The following post has two comments...

http://www.bobinoz.com/blog/20571/samsonvale-lake-how-to-enjoy-the-outdoor-life-in

[2016-09-22 05:37] bobinoz commented on #270
To clarify the missing comments on the front end, I disabled StCR and the comments were still missing, so maybe not related? Here's what's happening though, if you visit the page there are no comments...

http://www.bobinoz.com/blog/20571/samsonvale-lake-how-to-enjoy-the-outdoor-life-in-australia/

if you click on this link though which I got from the backend where the comments can still be found,

[2016-09-22 05:58] Peterpc58 commented on #267
http://riethovensetennisvereniging.nl/

[2016-09-22 06:37] ravisaive commented on #268
I have updated the plugin to most recent version, but when I click on the
link below as shown in the attached I get error saying *"You do not have
sufficient permissions to access this page." *

http://www.tecmint.com/wp-admin/options-general.php?page=subscribe-to-comments-reloaded/options/index.php&subscribepanel=1&srf=post_id&srt=equals&srv=22755

Also users who confirmed subscription, they don'

[2016-09-22 06:38] bobinoz commented on #270
An update.

Really sorry about this, but the missing comments problem is definitely not to do with your plug-in. Let me explain.

On further investigation it appears to me that these are the only two comments that are missing and then when I looked closely this is what is happening.

If you access the post from the front end of my blog, the URL starts with /blog/20571/samsonvale
if you access the

[2016-09-22 08:46] fusion3media opened #272 "Manage page problem"
Hi,

I followed your instructions to create the manage subscriptions page exactly as they are here: https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

The link manage link at the bottom of the blog is this https://www.expatassure.com/comment-subscriptions?srp=7630&srk=65a3309a6c45e86b9bcbd463649b38d1

but when it loads it goes to here https://www.expatassure.com/https:/www.e

[2016-09-22 12:10] Reedyseth commented on #267
Hi @Petetpc58,

Are you using the real management page?

Regards.!!
On Sep 21, 2016 11:59 PM, "Peterpc58" <notifications@github.com> wrote:

[2016-09-22 13:21] fusion3media commented on #267
I think my issue is the same as this :-)

[2016-09-22 15:13] juniorBR opened #273 "Bug Report: Site vanished after update from v160902 to v160915"
Hi,

After updating the plugin from the v160902 to v160915, my website vanished, only showed a blank screen. Then I deleted the plugin using FTP and it went back https://goo.gl/Ku9XZn

When trying to fix the problem, there was a Fatal Error message that I don’t know if it is directly related to the updating problem or related to my attempts to fix it.

Fatal error: Uncaught Error: Call to undefine

[2016-09-22 20:15] Reedyseth commented on #273
I theory this error should only raise if the function `is_plugin_active()` is used within a template file. On this case the error ocurr within the Admin page where is should work without any problem.

I tried to replicate the issue by installing the comment reply plugin, but that plugin does not work on the latest wordpress version. So my suggestions is to delete that plugin.

Do you have pending

[2016-09-22 20:49] juniorBR commented on #273
I didn't understand very well... Are you saying that "Subscribe to Comments Reloaded" v160915 are not compatible with WP4.6.1? Because this is the only plugin I have to manage subscriptions and notifications from comments. I have it also installed it in other sites, but I am really afraid to update. This is another website I have that uses Subscribe to "Comments Reloaded" plugin https://goo.gl/uvL

[2016-09-22 21:22] Reedyseth commented on #273
It is compatible with that version and up to the latest WordPress development version. What I tried to say is that error only raises when the plugin detects an installation of the plugin Comment Reply or when that plugin was previously used.

You can test that by removing this [line](https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/utils/stcr_manage

[2016-09-23 01:55] Reedyseth opened #274 "No longer see manage with "Enable double check""
Issue reported here:

https://wordpress.org/support/topic/no-longer-see-manage-after-completing-subscription/

[2016-09-23 05:01] Reedyseth commented on #274
This commit c7a4685 fixes this issue, so now you can download the development version and give it a try.

[2016-09-24 02:23] Reedyseth commented on #272
@fusion3media ,

I tried to replicate your issue with not success, looks like something is wrong in the page that you created. Did you assign the template to the page?

[2016-09-24 20:53] juniorBR commented on #273
Okay, I will try!

But the same problem may not happen again in the future updates of the plugin?

Thanks

[2016-09-26 03:01] Gunifaz commented on #261
Hello, the same thing happened to me. The problem is that I´m not very good with programming... can someone help me, please?
Thanks!

[2016-09-26 14:02] gbvaz opened #275 "How can I subscribe authors to their own articles retroactively?"
Hi,

This not a bug nor an enhancement proposal so, I'm sorry if this is not the appropriate place to ask this.

I'm trying to retroactively subscribe authors to their own articles, not just new ones. How could I do that using SQL or a custom function on wordpress?

For example, I was thinking about running a script or method that would iterate over all my posts, fetching the author, and subscribi

[2016-09-27 05:11] CodyBoen opened #276 "Issue: Typing In Email To See Your Subscription?"
I installed this plugin today and I had to set up the actual page for users to be able to check their memberships. I am not sure if its a bug or if its intended to be this way, but when logged in users go to manage their subscriptions it asks for them to type in their email before it takes them there.

Now, if this is actually intended to work that way. Would you be able to tell me how I can get i

[2016-09-27 09:14] Peterpc58 commented on #267
No, the virtual page

[2016-09-27 09:46] fusion3media commented on #272
I did assign the template to the page.  If you do "view page" on the page it is fine:

![image](https://cloud.githubusercontent.com/assets/22365595/18868264/7070f270-849f-11e6-8fd7-0ed779382e99.png)

But if you click on the link uhnder the blog comments (on blog page) it goes to the following link
https://www.expatassure.com/comment-subscriptions?srp=7552&srk=65a3309a6c45e86b9bcbd463649b38d1 which

[2016-09-27 20:11] djmceltic opened #277 "comment-subscriptions virtual page only working for admin"
I am not sure when this started but our users just sent in this issue last week.

When anyone with admin perms clicks on "subscribe" on the front end they get page not found for - comment-subscriptions/?srp=29986&srk=4b5588d026b3d0416bb91cb24da866a0&sra=s&srsrc=f

If anyone with admin perms clicks comment-subscriptions/?srp=29986&srk=4b5588d026b3d0416bb91cb24da866a0&sra=s&srsrc=f  they get to ente

[2016-09-27 20:54] djmceltic commented on #277
I did try to create a page with the `[subscribe_link]` shortcode.

Again this works for admins but not for any other user group.  The other user groups simply see the shortcode text, while admins get the working version...

I am trying to nail down what is causing this because we have literally hundreds of pages running on shortcode and we have never had an issue with perms/permalinks/shortcode.

[2016-09-28 15:27] jorgitobg commented on #248
Hi reed, any update from this? regards

[2016-09-29 14:28] Reedyseth commented on #273
@juniorBR , no, that won't happend again, I will deprecate the importantion of that plugin subscriptions.

[2016-09-29 14:39] Reedyseth commented on #261
@Gunifaz Just go to your PHPMyAdmin and search for the query box. Make sure to select your WordPress database. Paste and execute the following code.

[code]

[2016-09-29 14:46] Reedyseth commented on #275
Hi @gbvaz , the plugin does not have a hook for that, but it is a great idea.

Since I see that you have programming knowledge I can create a query for you to achieve this, I am just a bit busy with my current Job, but as soon as I have something I will post it here.

Regards.!!

[2016-09-29 18:48] JRabDawg opened #278 "Couldn\’t find an email with the SRE key"
This error has been cascading multiple times a day for about a week now in this log:

/wp-content/plugins/subscribe-to-comments-reloaded/utils/log.txt

[ERROR][2016-09-21 13:14:43] – Couldn\’t find an email with the SRE key: ( )

[ERROR][2016-09-29 13:32:33] – Couldn\’t find an email with the SRE key: ( )

[ERROR][2016-09-29 13:33:47] – Couldn\’t find an email with the SRE key: ( )

[ERROR][2016-0

[2016-09-29 19:12] Reedyseth commented on #278
@JRabDawg

In order to get a confirmation link you have to enable the **double check** options:

![image](https://cloud.githubusercontent.com/assets/1228711/18968407/15cef8be-8646-11e6-9193-0ff32e4d5e0e.png)

This happend when for some reason the SRE key is not send in the query string, you don't have to worry about, unless you are having issues with the plugin like problems whille manageging the

[2016-09-29 19:24] JRabDawg commented on #278
I just tried that, but it still isn't fixed. Error in log and no email received.

[2016-09-29 19:27] Reedyseth commented on #278
I see, there is an error on the latest version, I have fixed that already on the development code. If you could test the development version that would be awesome.

Please download it from here:

https://github.com/stcr/subscribe-to-comments-reloaded/archive/development.zip

[2016-09-29 19:27] JRabDawg commented on #278
Just clicking on the subscribe link on a post page before even entering an email address on the manage page causes the error:

![image](https://cloud.githubusercontent.com/assets/22529222/18968979/36a3b0da-8659-11e6-8226-2cf82dfa7002.png)

[2016-09-29 19:44] JRabDawg commented on #278
Copied up the files in the zip and overwrote what was there. Same error during execution shown above.

[2016-09-29 19:52] JRabDawg commented on #278
I am getting emails once entered now, so that's good, but the error still is in the logs from the above screenshot execution.

[2016-09-29 20:27] Peterpc58 opened #279 "auto delete notification on deleting message"
When you add a comment to a message, you automatically get a mail when someone else adds a comment.
But when your comment is deleted, you are also automatically don't get any emails anymore.
Is it possible to keep the email address on the list?
So when your comment is removed you still get emails on new comments?

[2016-09-29 21:07] Reedyseth commented on #278
Yes, I will work on those messages, for now you can ignore them.

[2016-09-30 05:11] desrox commented on #274
I implemented [c7a4685](https://github.com/stcr/subscribe-to-comments-reloaded/commit/c7a4685fd1263191b65e799ccadb3a5f48613676) fix to the stcr_manage.php file. The subscription was successful this time but there still is no option to manage the subscription once subscribed.

[2016-09-30 13:34] Gunifaz commented on #261
I will do it and I'll let you know. 
Thank you Israel!

Sent from Yahoo Mail on Android

  On Thu, Sep 29, 2016 at 8:39 AM, Israel Barragan C.<notifications@github.com> wrote:

The problem is that I´m not very good with programming... can someone help me, please?

@Gunifaz Just go to your PHPMyAdmin and search for the query box. Make sure to select your WordPress database. Paste and execute the fo

[2016-10-01 01:43] CodyBoen commented on #276
No solution to this..

[2016-10-01 02:22] Reedyseth commented on #276
Hello @CodyBoen,

The normal behavior should be that once they sign up they should directlly,I have been with a lot of work, but I wil work on this.

[2016-10-01 15:40] mglbrignola commented on #273
Just to let you know I experienced the same error. Solved it by removing the suggested line.

[2016-10-01 19:05] nutellino1 commented on #232
Hi all, I have the same problem when I reply to a comment gives me "Internal Server Error" message !

will specifically that the hosting server I have two websites, on a site works and on no.

I have disabled all plugins and activated the default theme, but the problem remains

Can someone help me ?

[2016-10-03 09:56] extremecarver commented on #232
For me the problem was gone as soon as I switched to the development version - and then with later updates kept on working. Right now I'm on normal 160915 and it works fine.
(160115 did not work correctly for me - v160831 solved the problem ad did the intermediary dev version).

[2016-10-03 11:52] jorgitobg commented on #248
Hi reed, any update from this? regards

[2016-10-03 13:53] bobinoz commented on #270
Oh my word, just got back from my holiday and I'm looking at this properly again. This problem occurred about 10 hours before I was flying out of the country, gosh I must've been quite stressed, what a load of rubbish I have written here! They are two completely different posts and I have made a complete fool of myself.

So, please do ignore everything I've said above apart from one thing. I do st

[2016-10-03 15:51] Reedyseth commented on #248
Hi @jorgitobg, I apologize for not have it yet, My current jobs does not
leave me enough time to get on this, I hope to get something this week.

On Mon, Oct 3, 2016 at 5:52 AM, jorgitobg <notifications@github.com> wrote:

--

*Israel Barragán Castillo*Software Developer Engineer
Datasoft Engineering
Cel. +52(614) 345-5651
Web: www.datasoftengineering.com
Email: reedyseth@gmail.com

[2016-10-03 16:11] jorgitobg commented on #248
Thanks Reed, dont worry I will wait to next week :)

[2016-10-04 21:22] scabot opened #280 "SQL and PHP errors after upgrading"
Hello.

Thank you for you work.

After last upgrading to the latest version from the consolidated upgrades page my whole site stopped functioning:
The error log showed the following messages (My site is in hebrew so you get part of the error in hebrew but it quite clear that it is a database error):
[04-Oct-2016 20:54:18 UTC] שגיאת מסד נתונים Table 'bendowan_wp01.wp_comments' doesn't exist לשאילתה

[2016-10-06 05:09] MuslimaChallenge opened #281 "Nothing appears"
Hello, I followed the installation of plugins and settings but nothing appears on my blog.

Here is the link :
http://muslimachallenge.fr/2016/08/07/bonjour-tout-le-monde/

Thank you

[2016-10-06 20:04] Peterpc58 commented on #267
how can I fix my problem?

[2016-10-07 18:56] UnSleep opened #282 "Bug Report: <short description>"
I saw the plugin in spanish, then i modified the admin options (appeared in english) and now all the front end is in english... How to back it to spanish defaults?

[2016-10-08 14:34] TiagoGouvea commented on #248
I wrote a mass subscription code, to get all (old) comments and subscribe everyone:
https://gist.github.com/TiagoGouvea/4a3283eb929e1872fe86c151e3fa4c47

[2016-10-09 02:00] Gene-W opened #283 "Visible Shortcode and HTML"
Hello,
I'm having trouble finding where I can fix this issue. I have shortcode showing on the manage subscriptions page and HTML code showing between comments in the "reply to" comment section. I've attached images showing this. Thank you for your help!

![image](https://cloud.githubusercontent.com/assets/19363963/19217023/c27525e8-8d99-11e6-9ab1-4f5d10d9c2e3.png)

![image](https://cloud.githubuse

[2016-10-11 12:55] tbartels commented on #257
I have a feeling this is caused by the following code:

https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/wp_subscribe_reloaded.php#L233-L236

[code]

If the option to automatically subscribe authors is selected "Yes" and the author email is the same as the admin email then there will be two calls to `notify_user`. One via the autosubscribe and one f

[2016-10-12 09:22] Merllin commented on #250
Hello,

I had a similar problem using version 160915: the email confirmation link doesn't display the confirmation page for subscription.

I made a change in **stcr_manage.php**, on line 124 **srek** instead of **sre**:
`$manager_link .= ( ( strpos( $manager_link, '?' ) !== false ) ? '&' : '?' ) . "srek=" . $this->utils->get_subscriber_key( $clean_email ) . "&srk=$subscriber_salt";`
and now is wor

[2016-10-13 10:14] jorgitobg commented on #248
Thanks Tiago, I will test it asap... regards

[2016-10-13 16:07] jorgitobg commented on #248
I just used script on a php file outside the wp loop and didnt work... the script cant get comments "$comments = get_comments(array('type'=>'comment'));"... any help how must I execute script?

[2016-10-13 17:42] jorgitobg commented on #248
`<?php
/** Loads the WordPress environment and template. **/
if ( !isset($wp_did_header) ) {
	$wp_did_header = true;
	require_once( dirname(__FILE__) . '../wp-load.php' );
	wp();
}
global $wp_subscribe_reloaded;
echo "************************************************************************<BR/>SUSCRIBE OLD COMMENTS<br><br>";
// Get all comments on database

				$date = 0;
				//$date_after = '3 we

[2016-10-13 17:42] jorgitobg commented on #248
I improved a little the script to massive add suscribers on STCR with filters....

[2016-10-13 18:29] TiagoGouvea commented on #248
Excelent! Thanks!

[2016-10-14 13:54] genexweb opened #284 "Make page slow after commenting"
Hi,
I am using your plugin stcr at: http://www.couplesinstitutetraining.com/
I am facing strange behaviour in your plugin.
If I comment without subscribing it's fast and when I comment and subscribe to notification it times out.

Please let me know how this can be fixed. I will share you more details about other plugin being used in site after your response.

Thanks

[2016-10-17 06:12] CodyBoen commented on #276
Please let me know when this is implemented if you can.

[2016-10-17 22:00] nickloper commented on #250
When I make that change and re-enable the plugin, I get the confirmation
email and click on the link, it takes me to this page:

Manage subscriptions

In order to cancel or suspend one or more notifications, select the
corresponding checkbox(es) and click on the button at the end of the list.
You are currently subscribed to:

No subscriptions match your search criteria.

Disabling again.
ᐧ

On Wed

[2016-10-18 13:00] Merllin commented on #250
It seems you are receiving the [manager_link], not the [confirm_link]

Your confirmation link look like this?
domain.com/comment-subscriptions/**?srek=**a9...a032e**&srk=**59...257**&srp=**49906**&sra=c**

[2016-10-18 17:45] Merllin commented on #250
If you disable the double check are you subscribed to comments?
If not, it's possible to have a conflict between plugin and database. You should check your error_log and post the error here.

Regards

[2016-10-19 17:05] tcetindamar opened #285 "HTPPS issue"
Hello there,

Recently I've installed SSL certificate for my website but after this wp-slimbox2 is not loaded on Google Chrome and I can see the following error message:

http://domainname.com/wp-content/plugins/wp-slimbox2/css/slimbox2.css?ver=1.1
This request has been blocked; the content must be served over HTTPS.

How can I resolve this issue?

Thanks a lot in advance...
Tarkan

[2016-10-21 02:57] alexstine opened #286 "Error when subscribing"
Hello,

First I was not getting emails, so I did some debugging. With all other plugins deactivated with the Twenty Sixteen theme, this is the errors I was shown when trying to subscribe.

Fatal error: Uncaught exception 'phpmailerException' with message 'Invalid address: ' in /homepublic_html/wp-includes/class-phpmailer.php:946 Stack trace: #0 /home/public_html/wp-includes/pluggable.php(352): PHP

[2016-10-22 02:44] tech55541 commented on #286
Hello @Reedyseth

I can no longer replicate this error message, but email notifications are not being sent. User registration emails are working using the same address, and [This Plugin](https://wordpress.org/plugins/comment-mail/) is having no problems. Something wrong in the code here.

I also have SSL enabled on my site if this makes a difference.

Thanks for the great plugin, would like to sta

[2016-10-22 10:39] jorgitobg commented on #248
Hi! after using script and done with suscribing all commenters (more than 41k comments), now when I try to enter STCR admin subscriptors page I receive a blank page, the rest of STCR admin pages works fine..... some debug on hosting shows a very big SQL query that never ends....  any idea? Regards,

[2016-10-23 04:20] TrueValhalla opened #287 "Bug Report: checkbox is positioned above submit button"
Even when the option "StCR Position" is set to NO the checkbox is always positioned above my submit button. I had to disable the plugin because of this behavior.

[2016-10-25 16:46] gbvaz commented on #275
Hi, I would really like to do this. How can you help me?

[2016-10-26 19:29] Ofeelie opened #288 "Bug Report: email"
Hello,

I would like my readers can comment without leaving their email. Is it possible to transform the email field  in this way (like the url field)?

Thank you in advance.
All the best,
Ophélie

[2016-10-27 01:36] jorgitobg opened #289 "STCR - blank page on subscriber management"
Hi!
After using script and done with suscribing all commenters (more than 41k comments), now when I try to enter STCR admin subscriptors page I receive a blank page, the rest of STCR admin pages works fine..... some debug on hosting shows a very big SQL query that never ends.... any idea?

More info on: https://github.com/stcr/subscribe-to-comments-reloaded/issues/248
Regards,

[2016-10-30 16:29] evangelismcoach opened #290 "Email notifications are formatted horribly - something must be missing"
This is what subscribers are seeing, and admin notifications are seeing. . . .

There is a new comment to 7 Secrets to Great Hospitality.
Comment Link: https://www.evangelismcoach.org/7-secrets-to-great-hospitality/#comment-192471">https://www.evangelismcoach.org/7-secrets-to-great-hospitality/#comment-192471">https://www.evangelismcoach.org/7-secrets-to-great-hospitality/#comment-192471">https://

[2016-10-31 16:47] frabers opened #291 "Post on Google+ doesn't appear on my Blog"
Hi, in my blog, only in the latest 2 post, content published on Google+ doesn't appears on. For example, in this article: http://www.webmarketing-immobiliare.com/2016/10/31/workshop-web-marketing-immobiliare/

Thank you,

[2016-11-01 20:28] asideofsweet opened #292 "Bug Report: <comment notifications not displaying properly>"
My comment notification emails from my website (http://asideofsweet.com) are showing up as the code version instead of a pretty text version (see screenshot). Any ideas on how to fix this? Thanks!

<img width="794" alt="screen shot 2016-11-01 at 1 27 27 pm" src="https://cloud.githubusercontent.com/assets/23199592/19906169/f84677d0-a036-11e6-8e41-2822db1bf98c.png">

[2016-11-02 19:50] terrizgit opened #293 "Authors not subscribed to posts > 30 days"
I've been having to manually remind authors to respond to comments - today I discovered they weren't being notified that there was a comment to reply to!

I looked at the subscriptions and I see that there are many for October, but few before that. My authors post about 5 times a week, so there should be many more before that.

- I installed the plugin 2 years ago, so this isn't an issue of retroa

[2016-11-03 19:38] MauroParri opened #294 "Management page"
Good morning,
because I can not see the virtual management page (/? page_id = 999999) I created a page called "manage" inscriptions (http://www.ilsapere.org/gestisci-iscrizioni/) after following the directions given here (http://behstant.com/subscribe-reloaded/realMgnPage.php), but unfortunately I do not see anything!

The code entered in subscribe.php page is as follows (I would not have been wro

[2016-11-03 21:17] Reedyseth commented on #294
Hello @MauroParri those instruction are outdated, please follow this one instead:

https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

[2016-11-04 09:34] MauroParri commented on #294
Thanks so much,
Now the page can not display it, but I still have a small problem:
Which link should I use to let people subscribe without commenting? the
shortocode [manager_link] does not work if entered by hand in the
description (aui attached)

2016-11-03 22:17 GMT+01:00 Israel Barragan C. <notifications@github.com>:

--
Mauro Matteo Parri
cell. 349 4572810

[2016-11-05 12:06] IrishKnight commented on #286
Hello,

Thanks for the great job!

I'm facing exactly the same issue. Hopefully it will be resolved soon. Can't use the plugin.

[2016-11-05 13:18] tech55541 commented on #286
@IrishKnight, this request has been open for quite a while, might want to start looking for another plugin. I use this plugin and am quite satisfied with it. They have a support team that will reply to you as well.
http://comment-mail.com/
They have a free plugin and a pro version of the plugin. Really great, developers are one step away to discuss with on GitHub.

Thanks.

[2016-11-05 15:03] emiliano1991 opened #295 "problem subscriber"
hi,

i've an issue with subscribers.
When an user subscribe to post, it's not saved on list.
the list is ever empty.

why ?

i've just try to deletel completely the plugin and re install.

it's happen also on my server.
if i try to the same site on local works.

thanks

[2016-11-06 05:49] nullproblemo opened #296 "[manager_link]"
When a subscriber clicks on the link he got he doesn't see the management page but only this: [manager_link]

[2016-11-07 18:05] ropezg opened #297 "confirm link no longer working"
Hi!

I've been using this plugin for over a year now and just today realized that something went wrong:

The confirm link is no longer working.

I tested subscription with "Replies only" and "All comments" option and also the Simple subscription checkbox, the result is the same.

So I write a comment and I receive the email:

You have requested to be notified every time a new comment is added to:

[2016-11-11 10:10] OleksiiPieshkov commented on #296
I have nearest problem. By clicking this link I've got the empty page without any managing function. Same situation to press button int he comments "Manage your subscriptions" - will get empty page. Will be glad for advice with solution.
P.S. Users not allowed on website in admin panel (https://lifeisfreedom.net/).

[2016-11-16 10:53] jorgitobg commented on #289
Any update?

[2016-11-18 07:01] Sodom77 opened #298 "Bug.. Pages appearing by themselves"
I have numerous "Pages" of the word "Document" and an odd number listed on my page section. When trying to delete it creates another "Page".

[2016-11-20 10:06] ElisabettaParravicini opened #299 "Double emails to subscribers when someone add a comment"
Subscribers are receiving 2 or more notifications when someone add a comment. How can I resolve it?

[2016-11-22 08:02] CodyBoen commented on #276
Any updates for this?

[2016-11-23 18:37] parker-west opened #300 "Bug Report: Getting 404 page when confirming comment subscription"
Hello,

My users are getting a 404 when confirming their comment subscriptions via the confirmation email that gets sent. Any idea why this might be happening?

[2016-11-23 18:38] rimshot212 commented on #300
Here is a page that you can use for testing: https://www.cardpaymentoptions.com/credit-card-processors/card-cutters/

[2016-11-23 18:41] rimshot212 commented on #297
I'm having this problem as well.

[2016-11-23 19:24] Reedyseth commented on #297
Hello Guys, I apologize for not keeping track of this issue the project is out of budget and I am out of time. I will keep my hands into your issues as soon as I can. Best Regards.!!

[2016-11-24 09:14] nfkb opened #301 "Bug Report: People do not receive the email when subscribed to a post"
Hello,

I’m sorry for my noob question. The issue is that people do not receive their notification email 🙁
(Me neither when testing with an another email)

I run WP 4.6.1, StCR 160915

The plugin is installed, I can browse through the various subscriptions and so on. The comment subscription page is ok.

I’ve tried to Deactivate/Reactivate without success.

My blog is here http://www.nfkb0.com

Wh

[2016-11-24 17:59] #283 closed

[2016-11-24 18:06] Gene-W opened #302 "SW Options in Editor Location"

[2016-11-29 04:02] Gene-W commented on #302
actually stuck this in the wrong github, sorry :)

[2016-11-29 04:02] #302 closed

[2016-12-06 11:11] SanderMe opened #303 "Bug Report: illegal mix of collations"
StCR shows the following error message. What do I need to do to solve this?

WordPress databasefout: [Illegal mix of collations (utf8mb4_unicode_ci,IMPLICIT) and (utf8mb4_unicode_520_ci,IMPLICIT) for operation '=']
SELECT meta_id, REPLACE(meta_key, '_stcr@_', '') AS email, post_id, SUBSTRING(meta_value, 1, 19) AS dt, SUBSTRING(meta_value, 21) AS status, srs.subscriber_unique_id AS email_key FROM w

[2016-12-06 13:08] SanderMe commented on #294
I have followed the steps as described in the link: https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page. However if I change the permalink my posts are not visible any more.

Furthermore the management page looks like a post and when i click on continue reading I get a page could not be found error.

Thanks.

![screen shot 2016-12-06 at 14 06 24](https://cloud.githubuserconten

[2016-12-08 00:19] paulenty5 opened #304 "The problem with the second language in sitemap.xml"
After updating Wordpress to the latest version and update the plugin All in One SEO Pack and Polylang, in the file sitemap.xml I cannot see the pages URLs for a second language
What can be the reason?
Website: computerra.it

[2016-12-15 09:25] wyse92 opened #305 "Manage subscription page not found"
I’m using Subscribe To Comments Reloaded v160915 and when people click the link to see or update their subscription, they get a ‘page not found’ error. The virtual management page is activated.

It’s a new case because i didn’t had this kind of problem using previous releases.

This is a great Plugin, but i don’t know how to investigate to resolve that.

Thanks for help.

[2016-12-16 06:01] nfkb commented on #301
Sorry but is there any support for this plugin ??? I've written several messages without any answer !

[2016-12-16 06:25] Reedyseth commented on #301
Hi @nfkb,

I apologize for not replying to your messages before, the plugin is out of
budget and I was out of time to keep the development, but I will return to
the development the next week. Also I will take a look into your issue.

Regards.!!
On Dec 15, 2016 11:01 PM, "nfkb" <notifications@github.com> wrote:

Sorry but is there any support for this plugin ??? I've written several
messages withou

[2016-12-17 12:22] ultimatepapermache opened #306 "Bug Report: text messages include html code"
Hi. In the options screen I set the "enable html emails" to "no," but the test emails I receive contain html code. How do I stop this from happening? This is how my emails currently look when I receive them in my inbox:

<strong>There is a new comment to Daily Sculptors Group Page.</strong>
Comment Link: <a href="<a href=">http://www.ultimatepapermache.com/daily-sculptors-group-page/comment-page-7

[2016-12-18 08:17] aaron13100 commented on #296
I also have this issue.
![screen shot 2016-12-18 at 9 15 11 am](https://cloud.githubusercontent.com/assets/16979849/21292362/d38233b2-c502-11e6-8676-dbfd8e8a97a1.png)

[2016-12-22 12:45] nutellino1 commented on #232
Hello @extremecarver, sorry but how do I switched to the development version?

[2016-12-22 16:42] Merllin commented on #303
You should run a SQL query to change the collation for table wprn_subscribe_reloaded_subscribers.
`ALTER TABLE wprn_subscribe_reloaded_subscribers CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;`

[2016-12-22 17:02] Merllin commented on #305
Probable cause is a conflict in your database. Could you post the error log here?

[2016-12-22 17:07] Merllin commented on #297
I think it's a conflict in your database, check this: [https://github.com/stcr/subscribe-to-comments-reloaded/issues/303](url)
If you will find something simillar in your error_log, you should change the collation for table wp_subscribe_reloaded_subscribers

[2016-12-22 17:26] Merllin commented on #297
You should also check this: https://github.com/stcr/subscribe-to-comments-reloaded/issues/250#issuecomment-253162823

[2016-12-22 17:29] Merllin commented on #301
Check your error_log and psot the error here. Id is simillar to this one https://github.com/stcr/subscribe-to-comments-reloaded/issues/303
you have a conflict in your database.

[2016-12-26 09:23] wyse92 commented on #305
Hello and merry Christmas!

I suppose you mean SQL error_log ?

Thanks

[2016-12-26 17:02] Merllin commented on #305
In /wp-content/plugins/subscribe-to-comments-reloaded//utils/stcr_manage.php, on line **124**, change **sre** with **srek**:
`$manager_link` .= ( ( strpos( $manager_link, '?' ) !== false ) ? '&' : '?' ) . "srek=" . $this->utils->get_subscriber_key( $clean_email ) . `"&srk=$subscriber_salt";`

And check your site error log if is something related to subscribe to comments
![error_log](https://cloud.

[2016-12-26 17:12] Merllin commented on #300
Try this: [https://github.com/stcr/subscribe-to-comments-reloaded/issues/305#issuecomment-269227173](url)

[2016-12-27 22:45] clauditorium opened #307 "Bug Report: <using "StCR Position" option makes "notify me" box disappear>"
I use StCR on my Wordpress site. When I choose 'Yes" on the StCR Position option, it causes the "notify me" box and accompanying text to disappear, instead of moving it above the "Post comment" button.

Any idea how I can fix that?

[2016-12-30 14:30] AlphakDotNet commented on #273
Hi!
I had a very similar error in one of my sites. Logs were flooded of this kind of messages:

I tried a quick and dirty analysis of the situation - please forgive me if I'm wrong, I have knowledges about PHP but not about the Wordpress development framework.

The log says function called is `stcr\is_plugin_active()` (so function is in namespace stcr).
But when searching for this function content

[2017-01-04 15:19] Ekanuba opened #308 "The problem with location"
Hi!

I'm a beginner, therefore maybe I don't know, this problem is easy to solve.  But I need help.
I have problem, it's on picture - https://goo.gl/oGEK4q

What should I do, that text of plugin was down the commentform? And if is it possible - step by step.

Thank you very match in advance!!

[2017-01-05 21:01] atMaarten opened #309 "Bug Report: Unable to unsubcribe from notifications"
The form for the users to unbsubscribe themself from the notifications does not show well.
The fields are not appearing on Wordpress 4.7 (dutch) with X theme 4.6.4

See the page in question: https://goo.gl/6O7Obt

[2017-01-08 11:02] Ysery opened #310 "Canonical link is not correct on the "Management Page""
Hello.
I use a popular plugin "All In One SEO Pack". In it are included "canonical". On the "Management Page", we see the error:

`<link rel="canonical" href="https://example.com/https://example.com/?page_id=9999999.html" />`

Search engines go, but there is no such page. This is bad for all. How to fix it?

Sorry for my English.

[2017-01-09 05:02] katrinarrlyn opened #311 "Bug Report: <short description>"
When you click on any link to virtual management page, it always goes to:
http://www.https//www.domain.com/comment-subscriptions/?srp=91&srk=3ac2de8c94a1ddb89e430fade52dda78

Is it because it doesn't support https url?

[2017-01-09 05:25] Reedyseth commented on #311
Hi @katrinarrlyn , I tested the plugin in a https environment and it works, at least on my side. What is your site ?

[2017-01-09 05:47] katrinarrlyn commented on #311
It's wierd.
https://www.talkabella.com/start-with-why/ and redirect to http://www.https//www.talkabella.com/comment-subscriptions/?srp=15&srk=3ac2de8c94a1ddb89e430fade52dda78&sra=s&srsrc=f

I checked the Management URL settings, everything looks fine.

[2017-01-09 06:48] katrinarrlyn commented on #311
@Reedyseth I know what's wrong now, thank you!

It's the tags which automatically added http://

[2017-01-10 23:20] xberg opened #312 "Suggestion: disable the log"
Hi,
Your plugin automatically generates a log file with all the commentors' email in clear text. Not great for spam.
Can we disable this?
thanks

[2017-01-12 12:03] #308 closed

[2017-01-15 06:10] Snixykitchen opened #313 "Bug Report: Optin option not showing up"
I have the plugin installed and activated but the comment opt in is not showing up - it used to work fully but as of September, it is no longer appearing on my blog. ([snixykitchen.com](url))

[2017-01-15 15:17] JnLlnd opened #314 "[manager_link] not processed in Manage subscription page"
The Manage subscriptions form (screen shot 1) send a page with the unprocessed placeholder [manager_link] (screen shot 2).

1) http://quickaccesspopup.com/temp/scr-01.png
2) http://quickaccesspopup.com/temp/scr-02.png

[2017-01-17 10:16] olafdehemmer opened #315 "button "image à la une" (image in front ?) and "insérer une image" (insert an image) not working"
Hello,
I cannot anymore insert an image in a Wordpress article, both from the ""image à la une" (image in front ?) and "insérer une image" (insert an image) pages, where I can load image from my computer
see the attached screen images, where the blue action button on the bottom right "insérer un article" and the to right cross to close the page are not responding, but other action buttons on the p

[2017-01-17 10:51] olafdehemmer commented on #315
sorry, the Wordpress update seems to solve the issue ;-)

[2017-01-17 10:51] #315 closed

[2017-01-17 12:33] JnLlnd commented on #314
Running WP 4.7.1

[2017-01-23 16:04] viriava opened #316 "Bug Report: Adding Email bug"
Hello, when i add my email, i do not see on plugin backend. you can try here https://www.reliablepsd.com/comment-subscriptions/

http://take.ms/kP0nT is empty

maybe plugin conflicts?

i have this
http://take.ms/HL3kG
http://take.ms/Cb880

subscribe_reloaded_admin_bcc: no
subscribe_reloaded_admin_subscribe: no
subscribe_reloaded_author_label: You can <a href='[manager_link]'>manage the subscriptio

[2017-01-24 02:40] Reedyseth commented on #316
Hi, can you share the steps that you did so that I can recreate the issue on my dev side.

Is yours the reliablepsd site?

[2017-01-25 04:44] thelawstudentswife opened #317 "Bug Report: Users not being added; Notifications not sending"
Although I have installed/uninstalled, and followed all of the recommended settings, new commenters are not being added to my subscription page even when the notification box is checked (I have it set to be checked by default). They are also not being notified of responses via email. HELP!

[2017-01-25 18:51] thelawstudentswife commented on #317
My developer resolved this by doing the following and suggested that I bring it to the developer's attention. Sending to you now!

FROM DEVELOPER:
I found there were collation errors being reported by wordpress in the sites error log:

tail -f errorlog
WHERE meta_key LIKE '_stcr@\%' AND postid = '24285' AND SUBSTRING(meta_value, 22) = 'C'
ORDER BY dt ASC
LIMIT 0,18446744073709551610 made by requir

[2017-01-26 15:19] Placzek opened #318 "Can't see subscribers after update"
Hello,
I updated to the latest version of STCR last night and now I cannot see the thousands of subscribers I had. Please advise at your earliest convenience.

[2017-01-26 16:02] Reedyseth commented on #318
Last time I heard about this issue was that for some reason some information was not read correctly by the plugin. On this case you need to make so changes into the database, do you have access to your database with phpMyAdmin ?

[2017-01-26 16:46] Placzek commented on #318
Yes, I can access with phpMyAdmin. I also just realized that I am running WP version 4.7.1 and your plugin page says "Compatible up to: 4.7-alpha". Is this a problem?

[2017-01-26 18:15] Reedyseth commented on #318
I haven't tested the plugin into that version, so far.

What we can do is deactivate the plugin and then execute the following query:
[code]
then activate the plugin. This will make sure that your subscribers information is in a table need by the plugin.

Let me know how it goes.

Regards.!!

[2017-01-26 18:34] Placzek commented on #318
Thank you for your reply. I received the following:
"MySQL said:
#1146 - Table 'b5362135186919.wp_options' doesn't exist"

[2017-01-26 19:34] Reedyseth commented on #318
Make sure to use your correct WordPress table prefix.
On Jan 26, 2017 11:34 AM, "Placzek" <notifications@github.com> wrote:

[2017-01-27 18:12] pedropais opened #319 "Double checking not working"
When using double checking for email addresses, two issues are occurring, one is a major problem, the other an annoyance:

- Major problem: the link that comes on the email address gets the user to the "Management page message", instead of the "Subscription processed" page. Therefore, the email address is not confirmed and nothing happens.
- Annoyance: althought correctly formatted `<a href="[conf

[2017-01-28 17:45] edie-etoile commented on #317
### I got this issue on a new installation.

# To any who need more instructions on how to fix:

1. Backup your database.
2. Confirm your backup is good.
3. Open database in phpMyAdmin and click on the wpXXX_subscribe_reloaded_subscribers database table.
4. Click on Structure Tab. Notice that the "subscriber_email" and "subscriber_unique_id" columns both have a Collation of: "utf8mb4_unicode_520_c

[2017-01-29 21:23] johburr opened #320 "Management Page and site-specific header image"
Hi Reedyseth,

thanks for the great plugin! I have a few questions regarding the management page.

I set up a real management page as described here on GitHub https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page.
But it seems as if the created page isn't loaded correctly when I click on the link to manage my settings under a post. The site URL of the real management page is htt

[2017-01-30 08:24] viriava commented on #316
Hello, i just activated plugin.

but it works on demo server. when i clone... any ideas?

plugins and themes and hosting is same

thank you

[2017-01-30 08:24] viriava commented on #316
yes mine website. how can i help?

[2017-01-30 17:21] Reedyseth commented on #316
If it's working in one of your side I recommend to verify your server settings and check where is the difference. Let me know what you can do, maybe I can help you...

[2017-02-01 07:24] clauditorium commented on #307
Still haven't resolved this issue...

[2017-02-01 15:56] Reedyseth commented on #307
Hi @clauditorium, what it your site URL ?

[2017-02-01 15:57] Reedyseth commented on #320
Hi @johburr, I will check your issue in more detail later in the day. Regards.!!

[2017-02-01 16:22] clauditorium commented on #307
http://twinpeaksreviews.com

[2017-02-01 18:03] viriava commented on #316
server is same... just different domains. i can pay for the support. thank you

[2017-02-01 18:06] Reedyseth commented on #316
@viriava Please send me an email to reedyseth [at} gmail {dot] c0m

[2017-02-02 06:00] viriava commented on #316
sent :)

[2017-02-02 09:47] johburr commented on #320
Hi Reedyseth,
I just realised that I'm using the Custom Permalinks plugin. Could this cause the problem...???
Kind regards.

[2017-02-09 06:50] clauditorium commented on #307
Hey @Reedyseth were you able to look into this?

[2017-02-09 23:24] jobtrotteuse opened #321 "Bug Report: <short description>"
Hello

I installed Subsribe to Comment on my WP blog but nothing appears at the end of the comment list. Can you tell me why ? Is there some setting I should do ?
I'm using the Goodnews theme on WP 4.7.2
Thank you for your answer

Jobtrotteuse

[2017-02-13 13:03] ZcommeZanne opened #322 "Can't install corrctly on one of my site"
Hello,

I can't install correctly Events Manager on www.danselavie.fr (WP 4.7.2 with Divi) :
![capture d ecran 2017-02-13 a 13 57 55](https://cloud.githubusercontent.com/assets/25743838/22884396/fd73c3ba-f1f4-11e6-8da8-a5d6a8750b6f.png)

I installed it correctly on www.annebeguin.com (WP 4.7.2 with Divi) : ![Uploading Capture d’écran 2017-02-13 à 13.58.18.png…]()

I already uninstalled it and re

[2017-02-13 23:33] peraburek commented on #317
thank you, I had the same issue, changing "subscriber_email" and "subscriber_unique_id" columns both have a Collation of: "utf8mb4_unicode_520_ci", which needs to be changed to: **"utf8mb4_unicode_ci"** helped

problem is resolved, developer should integrate this fix into future releases

[2017-02-14 02:51] thinkluke opened #323 "Bug Report: users not being subscribed to the website."
user not being subscribe even after submit comment and checkbox is checked.. not sure what is hapening.

https://www.fishingspots.com.au/s/esperance/

[2017-02-14 08:06] peraburek commented on #323
look here [https://github.com/stcr/subscribe-to-comments-reloaded/issues/317]

[2017-02-14 22:26] thinkluke commented on #323
all good, i have it sorted i

On Tue, Feb 14, 2017 at 6:06 PM, peraburek <notifications@github.com> wrote:

--

Kind Regards
*Luke Van Lathum*

luke@thinkluke.com
0435 294 506
thinkLuke.com <http://thinkluke.com/>

[2017-02-15 15:32] Reedyseth commented on #317
Hello Guys, thank you for your effort in solving this. The plugin never mess around with the database collation so this error raised on the newer versions of WordPress. I am doing some arrangements to sort this out in the new update. Best regards.!!

[2017-02-20 14:46] Acetech76 opened #324 "No notification received unless the person replying is also subscribed"
Hi,

I am using stcr on my wordpress 4.5.3 installation and almost everything works as it should, however there is an issue with a subscribed member not receiving a notification when the person replying isn't subscribed themselves.

I noticed this bug was reported a couple of months ago on the wordpress forum however there have been no further updates.

Is there a known workaround for this issue p

[2017-02-20 14:51] Acetech76 opened #325 "Can I auto fill the email address for logged in members?"
Hi,

I'm pretty impressed with stcr, however I'm wondering if there is a way to "fetch" a logged in email address to auto fill the email field in the subscription management page to save members needing to fill it in (so they can just click send)?

I did spot a "working on it" post on here however there has been no further updates from what I can see, therefore I was wondering (hoping) that there

[2017-02-20 15:15] Reedyseth commented on #324
Hi @Acetech76 , I am afraid to tell you that seems that you are using the first version of the plugin, this repository is for the reloaded version, I doubt that this version of plugin runs in your WordPress version.

Regards.!!

[2017-02-20 15:16] Reedyseth commented on #325
Hi, Please see #324

[2017-02-20 15:29] Acetech76 commented on #324
Hi @Reedyseth

Sorry that was a typo (a bad one at that), I am using wordpress 4.5.3 and the reloaded

Thanks!

[2017-02-20 15:34] Acetech76 commented on #325
Hi @Reedyseth

I explained on the other post that I made a typo, I am using wordpress 4.5.3 and the reloaded plugin (the latest version from wordpress which I only installed a few days ago).

Regards

[2017-02-20 15:52] Reedyseth commented on #325
@Acetech76 , I will look into this, this is a good request and I will be taking a look into it soon.

[2017-02-20 15:57] Reedyseth commented on #324
No problem !

@Acetech76 Unfortunately I haven't been in the WordPress forums since a long time. Your issue make sense to me, I have replicate this issue on my dev environment and the work on the fix, I will look into this as soon as I finish a project with a customer.

[2017-02-20 16:07] Acetech76 commented on #324
Excellent news!

Will the uodate be added here or on wordpress or both (so I know where to keep an eye out)

[2017-02-20 16:08] Acetech76 commented on #325
That would be great, I'll keep an eye out for updates

Thanks!

[2017-02-20 16:39] Reedyseth commented on #324
The update is release on WordPress, but before releasing the version in WordPress the code will be here, so if you now a bit of coding or installing plugins manually you can test it before is release to the community :smiley:

[2017-02-23 17:30] lindsayvansomeren opened #326 "StCR not appearing after install"
Hello,

StCR is not appearing at the bottom of my comments form ([link to a post](https://www.notoriousdebt.com/diversify-your-income-avoid-financial-extinction/)) and I have no idea why. There is text for "you can manage the subscriptions of this post," but not checkbox.

I am not using Jetpack or anything, and I've cleared my cache after updating the settings (see attached photo).

I'm not reall

[2017-02-23 18:00] Reedyseth commented on #326
Hi @lindsayvansomeren ,

I just checked your site and the issue is related to your theme styles. Your theme is hiding the labels, as a result the checkbox is not visible. You will have to customize the checkbox elements under the **comment Form** tab, just take all the subscription elements out of the html label.

I apologize for not explaining this in plain English, however, there is no other way

[2017-02-23 18:24] lindsayvansomeren commented on #326
Thanks @Reedyseth

I'm not sure what a "subscription element" is, but I tried deleting all of the code in the Custom HTML box under the Comment Form tab and that didn't work. I then pasted the code back in and saved it since that didn't solve the problem.

Can you please tell me how much the pro support costs, and how to proceed with this if it's within my price range?

Thanks again for your quick

[2017-02-23 18:36] Reedyseth commented on #326
Actually is not that expensive, it cost $25.00 dollars for a Year and you will also get access to the PRO options once they are complete, in the mean time I will make sure that the plugin is working for you.
**Note**: The support is related only to the plugin issues

[2017-02-23 18:44] lindsayvansomeren commented on #326
What are the other pro options? I can't seem to find a link to a pro version anywhere...

Thanks!

[2017-02-23 19:06] Reedyseth commented on #326
As I mentioned above, I am working on that version, is not visible to the public yet, but it includes:

* Settings importing/exporting.
* Subscribers importing/exporting so that you can migrate to another site.
* New Post notifications to your subscribers. You can use a checkbox or a widget
* Notification queue deliver for a large amount of subscribers (This will prevent you site to hangout while

[2017-02-23 19:14] lindsayvansomeren commented on #326
Oh, I see! My apologies.

Yes, this does sound like something I would be interested in. The pro features sound cool and I'd be excited to try them once available, but if you are able to provide support in the meantime for the price given, I'd definitely pay for it.

Do you have a payment system in the meantime, or can I send you a payment through Paypal or something? Do you need me to set you up w

[2017-02-23 19:19] Reedyseth commented on #326
Yes Paypal will work, please send me an email to reedyseth [at] gmail {dot] com so that I can give you more details.

[2017-02-23 23:43] pedropais commented on #319
@Reedyseth , am I the only one having this issue?

[2017-02-23 23:58] Reedyseth commented on #319
Hi @pedropais

I will be trying to replicate your issue. What version of the plugin are you using?
Please send me the information of the **StCR System** menu option to my email at reedyseth {at} gmail [dot) com

[2017-02-24 00:34] pedropais commented on #319
Hi @Reedyseth
Thanks for your reply.
I'm using version 160915 . I'll send you the requested info right away.

[2017-02-24 00:36] Reedyseth commented on #319
Thank you, I will review it and you know. I Will update here.

[2017-02-24 15:33] #326 closed

[2017-02-25 19:59] ohsik opened #327 "Subscribers missing ! Collation Error"
Nothing shows up on the Manage subscriptions page. Search is not working either.

<img width="1364" alt="screen shot 2017-02-25 at 11 54 38 am" src="https://cloud.githubusercontent.com/assets/4256774/23334379/cec297ce-fb51-11e6-9000-af2837c155f8.png">

[2017-02-25 20:03] Reedyseth commented on #327
Hello @ohsik,

This is because on the newest version of WordPress not it detect a conflinct between the colations.

In phpMyadmin run this query:

[code]
If you don't have access to phpMyAdmin then install a WordPress plugin named Database Browse, you can run the query inside your WP Admin Page.

[2017-02-25 20:04] Reedyseth commented on #327
Closing this issue because is already reported, See #303

[2017-02-25 20:04] #327 closed

[2017-03-01 12:38] meijin2k opened #328 "Installed but not working"
I have gotten the plugin installed, but cannot get it to function. Everything on the customer facing side looks great. I leave a test comment that does get added to the system, but nothing goes to the test email account I am using. The comment is there in the backend and displays on the post.

I installed the plugin Check Email and using it works as it does show the emails can be sent from WP.

I

[2017-03-01 22:46] pedropais commented on #319
Hi @Reedyseth ,

Sorry to bother, but did you get my email? Any additional info I can provide?

[2017-03-01 23:03] Reedyseth commented on #319
Hi, I did give a quick look, but as soon as I have an opportunity I will
give a thorough look and come back to you with suggestions.

On Mar 1, 2017 3:46 PM, "pedropais" <notifications@github.com> wrote:

[2017-03-02 00:54] Monter commented on #265
Update: the problem occurs when one person will remove our consent (delete subscription) using the virtual page. User select remove, click button and send this data on site:

POST /comment-subscriptions/?sre=[code1]&srk=[code2]

where at this moment the attempt to send e-mail to [code1] - with error, of course.

[2017-03-09 09:00] hadasduvdy commented on #317
Hey,
I'm trying to change the subscriber_email table to "utf8mb4_unicode_ci" and receive an error message that the key length is missing. Added a screenshot:

![sqlerror](https://cloud.githubusercontent.com/assets/26297842/23742922/71eab828-04b7-11e7-81c7-dcd85abbdc17.PNG)

the "subscriber_unique_id" table was fine.

How to solve it?

Thank you,
Hadas

[2017-03-09 16:24] jnz31 opened #329 "Bug Report: double-opt-in link leads to file request-managment-link.php instead of confirm.php"
hi
i installed the tool and checked the option "Enable double check". this works fine, i receive the email with a subscription link. but when i click it, i get redirected to the manage subscriptions page, instead of the confirmation page. if i disable line 462&463 (`$this->utils->_is_valid_key( $key, $email ) && $this->is_user_subscribed( $post_ID, $email, 'C' ) &&`) in wp_subscribe_reloaded.php,

[2017-03-09 16:35] jnz31 commented on #329
so after a little bit more fiddling i now ONLY changed line 393 ’$email_by_key  = $this->utils->get_subscriber_email_by_key( $sre );’ ( $sre instead of $srek ) in file wp_subscribe_reloaded.php and all seems to work fine..

[2017-03-09 17:14] jnz31 commented on #329
orrrr. is it, that simply the $_POST key is set false in subscribe-to-comments-reploaded/utils/stcr_manage.php line 124..? instead of sre change it to srek (would make sense, wouldn't it?!), since EK would be Email Key.. muah.

[2017-03-09 17:36] Reedyseth commented on #329
Hi @jnz31 thanks for taking the time to look into the code in such a deep way. I might check this issue during this days, I will use your information to narrow things down.

Regards.!!

[2017-03-12 07:31] hadasduvdy commented on #317
The SQL query full message:

these are the settings on PHPmyAdmin:
![phpmyadmin_screenshot](https://cloud.githubusercontent.com/assets/26297842/23829921/854302f8-0706-11e7-9f90-33559d0fdba5.PNG)

Thank you,
Hadas

[2017-03-12 07:42] Reedyseth commented on #317
On that query you are changing the table column type and not the collation, use this query instead:

[code]

[2017-03-12 08:04] hadasduvdy commented on #317
Great, it works now!
Thank you!

[2017-03-12 08:17] Reedyseth commented on #317
Awesome, great to hear that. Regards.!!

On Mar 12, 2017 1:04 AM, "hadasduvdy" <notifications@github.com> wrote:

Great, it works now!
Thank you!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/stcr/subscribe-to-comments-reloaded/issues/317#issuecomment-285929058>,
or mute the thread
<https://github.com/notifications/unsubscribe-

[2017-03-14 11:10] Ysery opened #330 "Bug: Undefined index RC when double option is enable."
Hello.
 When I open `wp-admin/admin.php?page=stcr_manage_subscriptions` , the log file writes this:

`PHP Notice: Undefined index: RC in …/wp-content/plugins/subscribe-to-comments-reloaded/options/panel1.php on line 191`

I think that this is something like “Unconfirmed (Неподтверждённый)” (it is not displayed)

![image](https://cloud.githubusercontent.com/assets/24987252/23897900/f6f3ea92-08bf-11

[2017-03-14 15:21] Reedyseth commented on #330
Hi, thank for for reporting this. I will take a look as soon I finished
some pending issues.

Regards.!!

On Mar 14, 2017 4:10 AM, "Ysery" <notifications@github.com> wrote:

[2017-03-15 11:17] martindnnetdk commented on #297
Hi
I'm also having this problem and I've tried the solutions as described in this thread however none of them worked.
Is there anything new to this matter?

[2017-03-16 18:47] Merllin commented on #297
Check  yoursite.com/error_log and yoursite.com/wp-content/plugins/subscribe-to-comments-reloaded/utils/log.txt and post the content here.

[2017-03-26 13:44] sathees3101 opened #331 "Language Issue German - Same issue like#206"
Hi,
I have downloaded today the latest version of Stcr. Like #206  I have now the same issue in german. The text in the fields remain english.
How can change that in german?

Thanks!
Kind Regards
Sathees

[2017-03-27 16:29] dertimm commented on #331
Here the same with Plugin Version 160915 on WordPress 4.7.3 :(

[2017-03-28 21:39] Reedyseth commented on #331
@sathees3101 I apologize for the inconvenience, that looks to me that some references to the translation files are missing.

What it needs to be done is to refresh those reference in th PO files, this is the faster way to have it working, otherwise I will have to update those references, did you download the code from the WordPress repositories?

Regards.!!

[2017-03-29 12:38] sathees3101 commented on #331
Thanks for the reply!
Yeah i have downloaded it  from the Wordpress repositories.
What do I have to do to get this working?

Regards,
Sathees

[2017-04-04 17:50] Reedyseth opened #332 "Bug: Undefined index RC when double option is enable."
This bug was reported here: https://wordpress.org/support/topic/error-undefined-index-in-log-wordpress/

[2017-04-04 17:51] Reedyseth commented on #332
Bug confirmed and replicated.

[2017-04-05 16:53] cosefrank1 opened #333 "Bug Report: <short description>"
Hello!

[2017-04-05 21:57] Reedyseth commented on #328
Hello @meijin2k thank you for reporting this. I have confirmed the bug that you reported, this is an easy fix, but it will be available until the next release.

Regards.!!

[2017-04-05 22:07] Reedyseth commented on #332
This issue is duplicated as part of #330

[2017-04-05 22:07] #332 closed

[2017-04-05 22:21] Reedyseth commented on #312
Hi @xberg , I apologize for the late response.

Yes, but on the current version this is not available. I have worked on this and the next update will contain this option to disabled it and also to deleted in case the file is large.

As a plus option I have added the option to auto purge the log in case you want to have it enable but want to keep control of the file size. This will run hourly, twic

[2017-04-06 09:30] xberg commented on #312
Fantastic: thanks!
If I may suggest: I would recommend having the log off my default: once it's known by spammers that there is a log file with email addresses, they will simply spider all wordpress sites to see if they contain your plugin and then retrieve the log file with emails.

[2017-04-06 21:10] Reedyseth commented on #312
Thank you for the suggestion. I have already set it up to off by default.

[2017-04-07 02:02] #330 closed

[2017-04-07 02:02] #328 closed

[2017-04-07 02:02] #312 closed

[2017-04-07 09:27] mbmbhh opened #334 "how to connect email to host"
hi
how to connect emailing to host
when this plugin send email. it will send from this mail suren.r1host.com and it will go spam mail.
can i connect this email to my host?

[2017-04-07 14:26] Reedyseth commented on #334
Hi @mbmbhh, on the current version is not possible to connect to an email server. I am working on a feature to create a connection using SMTP, but there is not a  ETA for this change. Alternately you can use the plugin in junction with another plugin to setting up the email delivery using STMP.

[2017-04-07 16:38] Reedyseth commented on #322
Hi @ZcommeZanne , this plugin is not develop for me, this is the repository for Subscribe To Comments Reloaded. I hope you find a solution to your issue.

[2017-04-07 16:38] #322 closed

[2017-04-07 16:42] Reedyseth commented on #321
@jobtrotteuse I apologize for the late response. The could 2 reasons of why the subscription box is not display.

1. Your plugin them is no developed with the WordPress coding standars. On this case you can go to the options and then set to Yes the option to **StCR Position**.
2. Make sure that your theme is not applying a `display none;` attribute to the comment form label.

[2017-04-07 16:45] Reedyseth commented on #323
Hi @thinkluke

Can you please share what was your issue and the solution please ?

[2017-04-07 16:50] #318 closed

[2017-04-07 17:10] Reedyseth commented on #313
@Snixykitchen I apologize for the late response. There could 2 reasons of why the subscription box is not display.

1. Your plugin them is no developed with the WordPress coding standars. On this case you can go to the options and then set to Yes the option to **StCR Position**.
2. Make sure that your theme is not applying a `display none;` attribute to the comment form label.

[2017-04-10 13:04] RichardUUU opened #335 "Conflicting Instructions"
In the [KB](https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page), the instructions say:
"Make a copy of your template's page.php"
but the image shows making a copy of index.php.

Which is it?

[2017-04-10 15:01] Reedyseth commented on #335
Hi @RichardUUU , my bad, Yes there is a mistake there, you should make a copy of your `page.php` file and the rename the template name inside there, it should look something similar to this:

[code]

[2017-04-10 15:23] RichardUUU commented on #335
I tried that and it doesn't seem to work (I'm using AVADA theme). But now I notice another discrepancy:
The php code at the top you show above ends with: get_header(); ?>
That is not present in the instructions on the KB.
Which is correct?

[2017-04-10 15:27] Reedyseth commented on #335
This is because it may be different in your theme. Would you mind pasting the inside of your `page.php` file right here ?

[2017-04-10 15:31] RichardUUU commented on #335
Here it is with your code added

`<?php
/* Template Name: Subscribe To Comments */
if (isset($wp_subscribe_reloaded)){ global $posts; $posts = $wp_subscribe_reloaded->stcr->subscribe_reloaded_manage(); }
?>
<?php
/**
 * Template used for pages.
 *
 * @package Avada
 * @subpackage Templates
 */

// Do not allow directly accessing this file.
if ( ! defined( 'ABSPATH' ) ) {
	exit( 'Direct script acce

[2017-04-10 15:38] Reedyseth commented on #335
You have to change it for this:

Here it is with your code added:
[code]

[2017-04-10 15:40] RichardUUU commented on #335
Awesome! Thanks. Can't wait to see how that works.
Cheers, Richard

[2017-04-10 15:51] Reedyseth commented on #335
There is no need to say that you should test your code in a development environment before deploying into a production site. Although this will not harm you theme at all since is only another template.
Regards.!!

[2017-04-10 16:18] RichardUUU commented on #335
Hmmm. When I click on subscribe without commenting, I get:

`Parse error: syntax error, unexpected '*', expecting end of file in /home/patriotg/public_html/wp-content/themes/Avada/subscribe.php on line 3`

[2017-04-10 16:35] Reedyseth commented on #335
Try this one:

[code]

[2017-04-10 17:03] RichardUUU commented on #335
Seems to work. I'll test it thoroughly. Thanks.

[2017-04-10 17:04] Reedyseth commented on #335
Awesome, no problem, You're Welcome !

[2017-04-10 17:04] #335 closed

[2017-04-11 21:04] travispflanz opened #336 "PHP Fatal error: Call to undefined method in page-comments-subscription.php"
I get this error in my error_log every day for as long as I can remember. I am just now getting around to finding a solution. I have also posted this issue in the plugin's support forum on the WordPress repository, here - https://wordpress.org/support/topic/php-fatal-error-call-to-undefined-method-in-page-comments-subscription-php/

Please advise.

Thanks,
Travis

----------------

[11-Apr-2017 16

[2017-04-11 21:07] Reedyseth commented on #336
Hi @travispflanz , This is regarding a method that cannot be find in that context.

Can you paste the code in you template file?

[2017-04-11 22:28] Reedyseth commented on #329
Hi @jnz31 I apologize for the late response. I manage to replicate the issue and I found the root cause. The issue was the generation of the confirmation link, I will be pushing the changes later on the day. Thanks for reporting.

Regards.!!

[2017-04-11 22:37] Reedyseth commented on #329
https://github.com/stcr/subscribe-to-comments-reloaded/blob/master/subscribe-to-comments-reloaded/utils/stcr_manage.php#L125

[2017-04-12 03:03] travispflanz commented on #336
Uhh... Nevermind. I didn't actually open the file. It appears that a line of code was pasted in the wrong spot. I think someone who was helping me out made a mistake.

[2017-04-12 03:03] #336 closed

[2017-04-12 03:33] Reedyseth commented on #336
No problem,thank you for the confirmation.  Regards.!!

[2017-04-13 04:51] rridley opened #337 "Struggling on how messages are posted"
![screenshot at 2017-04-12 22 48 22](https://cloud.githubusercontent.com/assets/4624790/24990601/71c987da-1fd2-11e7-9e9f-891682992792.png)

Any idea on how to fix this? I can make the checkbox appear ok at the bottom by setting the custom width to 100px, but can't do anything about this message.

[2017-04-13 19:15] RichardUUU opened #338 "Wrong Default Email"
For both the “manage your subscriptions” form and “subscribe without commenting” form, the default email address that pops up is wrong. The email does exist on the computer, but it is not who is logged into wordpress.

Where does this default come from, and how can I change it? Or, how can I simply turn off having a default pop up?

Ultimately it would be awesome if you could detect the email of l

[2017-04-13 19:54] RichardUUU opened #339 "Confusing Menu"
On the management form, below the list of subscribed emails, you have two options:
Select all Invert selection

It would be much more clear that these are two separate options if there were a separator between them. Maybe a | or just more space would do.

Cheers, Richard

[2017-04-14 02:46] Reedyseth commented on #324
@Acetech76 FYI this error has been fix and ready to be release on the next update.!

[2017-04-14 02:46] #324 closed

[2017-04-14 03:03] Reedyseth commented on #338
Hi @RichardUUU

You can change the sender email address on the options, see the screen below.

![image](https://cloud.githubusercontent.com/assets/1228711/25031753/60bf3b46-208c-11e7-99de-53a1bcde51aa.png)

If you do not set the email address the it will take the default email from the admin wordpress. Right now the plugin uses the default WordPress email function, this lead sometimes to get the n

[2017-04-14 03:15] Reedyseth commented on #339
@RichardUUU This make sense to me. I will work on that and let you know.

[2017-04-14 03:19] #329 closed

[2017-04-14 03:29] Reedyseth commented on #305
This issue is the same issue #329, this issue is older but they refer to the same problem.

[2017-04-14 03:29] #305 closed

[2017-04-14 03:29] Reedyseth commented on #305
@Merllin Thank you for your time to share the code.

[2017-04-14 04:45] RichardUUU commented on #338
There is a misunderstanding. I have filled in the sender email, but this is different.

My logged-in user (not administrator) clicks on:
        "Or: subscribe without commenting."

A new page says: "You can follow the discussion on (post name) without needing to leave a comment. Just enter your email address."

Below that is an email field, with a suggested email filled in. It is not the user's e

[2017-04-14 04:46] RichardUUU commented on #339
Thanks very much.

[2017-04-14 04:50] Reedyseth commented on #338
Would you mind sharing a screenshot ?

[2017-04-14 04:58] RichardUUU commented on #338
Here it is. I have anonymized the email address.

![image](https://cloud.githubusercontent.com/assets/14031396/25033581/449fcba8-20ad-11e7-842d-4e4cb82db9cd.png)

[2017-04-14 05:01] Reedyseth commented on #338
OK, there is no way that I can replicate the issue, you will have to share your website url so that I can go and run my tests by creating a subscription like any other user will do.

[2017-04-14 05:02] RichardUUU commented on #338
Sure. Try it at https://www.freedomite.com/

[2017-04-14 07:16] Reedyseth commented on #338
I think you have a cache problem because I just open a post and no email is on the email input area. I registered into the site and No issue has been raised. Please make sure to clean your your browser cache and if you have a Caching plugin do the same as well.

[2017-04-18 02:22] Reedyseth commented on #188
@lolobu Thank you for the suggestion. Feature added.

Regards.!!

[2017-04-18 02:22] #188 closed

[2017-04-19 15:25] chrisk87 commented on #331
Hi,

i have also the same issue with the german language. I use Version 160915.

Is there now a new version with a fix? If you need a translation, i can help to translate the missing words to german or fix existing translations.

[2017-04-19 15:30] chrisk87 commented on #331
And here some example of the language pack, there the german words are missing:

#: options/panel1.php:169
msgid "All Comments"
msgstr ""

#: options/panel1.php:170
msgid "Unconfirmed"
msgstr ""

[2017-04-19 15:40] Reedyseth commented on #331
@chrisk87  I am releasing a new version on the 28th o this month, it include the translation references updated, but I would like to validate that with you guys,

[2017-04-19 15:42] chrisk87 commented on #319
Hi,
i see you fix the line of code (#issues329) and will update in in  Next Release v170412. What is the relase date?

[2017-04-19 15:45] chrisk87 commented on #331
Can you provide me the new german language file, so i can check or correct it before 28th of april?

[2017-04-19 18:15] Reedyseth commented on #331
I will update the file with my current codebase so you might see a few empty lines.

[2017-04-19 18:20] Reedyseth commented on #319
Yes, I changed the milestone date so that I can make more validations on the fix. So the release date will be on April 28th. Although you can already download the code and test it.

https://github.com/stcr/subscribe-to-comments-reloaded/archive/master.zip

[2017-04-19 18:20] #319 closed

[2017-04-19 18:40] #316 closed

[2017-04-19 19:09] #300 closed

[2017-04-19 19:12] Reedyseth commented on #297
Issue solved on #305

[2017-04-19 19:12] #297 closed

[2017-04-19 19:14] #250 closed

[2017-04-19 19:19] Reedyseth commented on #299
Hi @ElisabettaParravicini I apologize for the inconvenience and also for the late reply. Are you still having this issue, if so, please feel free to re-open the issue.

Regards.!!

[2017-04-19 19:19] #299 closed

[2017-04-19 19:21] #298 closed

[2017-04-19 20:11] Reedyseth commented on #301
@nfkb Are you still having this issue? Please if the error persist reopen the issue and I will be glad to help. Regards.!!

[2017-04-19 20:11] #301 closed

[2017-04-19 20:19] Reedyseth commented on #303
@Merllin Thank you for your suggestion. That did the trick. I have noticed that this error raises when users are importing/exporting the database. The thing is that StCR takes the database collate and uses to create the `wp_susbscribe_reloaded_subscribers` table so if the collates clashes then this issue is the result. I have change the default collate of the table new installations, as for the cu

[2017-04-19 20:19] #303 closed

[2017-04-19 20:20] #313 closed

[2017-04-19 20:21] #304 closed

[2017-04-19 20:23] #291 closed

[2017-04-19 20:36] Reedyseth commented on #294
Guys, can you confirm that your issue is solve with the latest version? Please if you still have problems reopen the issue.

Regards.!!

[2017-04-19 20:36] #294 closed

[2017-04-19 20:38] Reedyseth commented on #292
@asideofsweet I apologize for the late response. Please enable the HTML email option. If your issue is not resolve feel free to reopen the issue.

[2017-04-19 20:38] #292 closed

[2017-04-19 20:40] Reedyseth commented on #293
Hello @terrizgit , Did you manage to solve the issue? Please feel free to reopen the issue if you still struggling to get this done.

Regards.!!

[2017-04-19 20:40] #293 closed

[2017-04-19 20:41] Reedyseth commented on #295
Hi @emiliano1991 I apologize for the late response. Can you confirm that you don't have this bug anymore. Feel free to reopen the issue.

Regards.!!

[2017-04-19 20:41] #295 closed

[2017-04-19 21:42] Reedyseth commented on #296
Hello Guys, I apologize for the late response. This is because the link is not created correctly. I urge you to watch this video where I teach you how to create the links.

https://youtu.be/eFW-2NIRzBA

[2017-04-19 21:42] #296 closed

[2017-04-20 01:20] Reedyseth commented on #254
Instead of adding the tag I add a back to post link. Having this option enable make sense so no need to add it on the comments settings.

![image](https://cloud.githubusercontent.com/assets/1228711/25208979/466cf0aa-2535-11e7-90c0-42401ee392f5.png)

[2017-04-20 01:20] #254 closed

[2017-04-20 01:21] #56 closed

[2017-04-20 01:22] Reedyseth commented on #339
Issue fixed.

![image](https://cloud.githubusercontent.com/assets/1228711/25209015/7a72abe2-2535-11e7-8612-4a4a6ba708ae.png)

[2017-04-20 01:22] #339 closed

[2017-04-20 02:39] terrizgit commented on #293
Hi,

The issue appears to have been fixed by my deactivation/reactivation of the plugin, I can't think of anything else I did. Authors are being subscribed as designed, since Oct 2016. And as some old posts get updated, it is subscribing authors retroactively. All good.

I did run into another snag though - I had 500 subscriptions (I have another plugin that creates multiple versions of an event,

[2017-04-20 02:41] terrizgit commented on #293
P.S. - thanks for following up!

[2017-04-20 04:59] #183 closed

[2017-04-20 17:00] chrisk87 commented on #331
Hi thank you for providing the new code. Here are my suggestions for the german translations:

There are some words missing or some translation not correct. Hope it helps you :)

- First the orginal version of the relevant code sections
- Second (after the original version) the corrected german version
[German_Translation.txt](https://github.com/stcr/subscribe-to-comments-reloaded/files/944715/Ger

[2017-04-20 18:34] Reedyseth commented on #331
@chrisk87 Thank you for the file, I  just inspected it. I notices that it does not open correctly on Poedit. Would you mind modify the german translation file with Poedit and share it ?

[2017-04-20 21:30] chrisk87 commented on #331
I try my best and translate a lot of things to german and correct some phrases wie Poedit for you:

[subscribe-reloaded-de_DE_V2.zip](https://github.com/stcr/subscribe-to-comments-reloaded/files/945525/subscribe-reloaded-de_DE_V2.zip)

[2017-04-21 14:49] Reedyseth commented on #331
Could you send me the file to my email? Right now I am under a firewall and cannot work with files on GitHub. use my email reedyseth [at_ gmail <dot> com

[2017-04-21 14:51] #338 closed

[2017-04-21 14:55] Reedyseth commented on #337
Hi @rridley , please share your website with the plugin running so that I can take a look !

Regards.!!

[2017-04-21 15:55] Reedyseth commented on #325
@Acetech76 I have worked on this request. Just to confirm, the Auto fill is when the Users that are logged in are requesting to be subscribe without commenting correct?

[2017-04-21 16:08] Acetech76 commented on #325
Hi @Reedyseth,

It's great to hear that you've been working on this!

Yes it's for logged in users clicking to subscribe without commenting but also for logged in users clicking to manage subscriptions on posts they're subscribed to.

Thanks!

[2017-04-21 16:25] Reedyseth commented on #325
Awesome, thank you for your answer. I will add that too :+1:

[2017-04-21 21:17] chrisk87 commented on #331
I have send you the file via mail. Hope you got it.

[2017-04-21 22:35] Reedyseth commented on #325
@Acetech76 Enhancement Added !

[2017-04-21 22:35] #325 closed

[2017-04-21 22:36] #323 closed

[2017-04-21 23:01] Reedyseth commented on #331
I did, I just sent you the file with the references updated, please review it.

[2017-04-21 23:59] rridley commented on #337
I do not have the plugin running right now. This is a heavily used website and I can't afford to run a plugin that isn't working. I did attach a screen shot of what was happening. Currently we are using "Lightweight Subscribe to Comments", but it's management capabilities are not as good as this plugin.

That plugin has the exact same issue, but also included a check box that would allow moving th

[2017-04-25 03:53] rridley commented on #321
Solved the issue, but I don't know if there are any long term effects over this resolution.

In xxxx on line 1122:

echo $output . $submit_field;

changed to:

echo $submit_field . $output;

And it works fine now as long as the option "StCR Position" is set to "no". The field appears below the "submit" button and everything else seems to work.

[2017-04-25 03:54] rridley commented on #337
Solved the issue, but I don't know if there are any long term effects over this resolution.

In "wp_subscribe_reloaded.php" on line 1122:

echo $output . $submit_field;

changed to:

echo $submit_field . $output;

And it works fine now as long as the option "StCR Position" is set to "no". The field appears below the "submit" button and everything else seems to work.

[2017-05-01 11:26] StyleofAq opened #340 "Translator plugins mess up theme"
-

[2017-05-01 11:28] StyleofAq opened #341 "Post views plugins display"
-

[2017-05-01 11:49] sathees3101 commented on #331
Hi Reedyseth,
is this fix part of the recent update?

Thanks.

[2017-05-01 15:30] #341 closed

[2017-05-01 15:30] #340 closed

[2017-05-02 09:52] chrisk87 opened #342 "Version 170428: Subscription Overview in Wordpress Admin Console"
In the Wordpress Comment Subscription Overview i see in the german (maybe in all versions?) not the correct subscription status.

- Status Unconfirmed ("Unbestätigt") is correct.
-But if the status changed to "confirmed", the field in the admin wordpress console is empty.
- If the user goes to the "manage my subscription" page and click "deactivate" the status goes back in the admin wordpress cons

[2017-05-02 19:05] Reedyseth commented on #331
Hi @sathees3101 , yes the recent update includes this fix. Does it work for you ?

[2017-05-02 19:07] Reedyseth commented on #342
Hi @chrisk87, as soon as I get a chance I will take a look at this. Thank you for your report.

[2017-05-02 19:09] Reedyseth commented on #337
Hi @rridley , I will come back to this issue with an explanation as how the output is generated, in fact you can customize the HTML elements where the subscription box is wrapp.

[2017-05-04 08:09] mglbrignola opened #343 "500 error after upgrade"
After upgrading to new version through the Admin console, my website disappeared.

Got the errorlog through FTP, and it showed this at the bottom:
[04-May-2017 08:03:58 UTC] WordPress database error You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'wp_postmeta WHERE meta_key LIKE '_stcr@_%'' at line 1 for query  S

[2017-05-04 08:34] mglbrignola commented on #343
So I changed the line 208, added a space between the double-quote and the word FROM.
Uploaded the file using FTP, and now I'm getting error:
[04-May-2017 08:32:17 UTC] PHP Fatal error:  Call to undefined function stcr\is_plugin_active() in /home/ez4mai1q/omily.me/wp-content/plugins/subscribe-to-comments-reloaded/utils/stcr_upgrade.php on line 243.

[2017-05-04 08:52] mglbrignola commented on #343
Was able to solve this issue by applying the fix for issue 273.
A more permanent solution would be appreciated.

[2017-05-04 15:04] Reedyseth commented on #343
Good day @mglbrignola !

So this is happening when the plugin is trying to import the subscriptions from comment reply, I guess. It has been hard to replicate the issue on my development environment but I will try to see if applying the fix by @AlphakDotNet on #273 is the correct way to go.

[2017-05-05 01:10] mwaterhouse opened #344 "Font Awesome Use?"
Hi
I notice font-awesome was added at the last update. But it's being output on both the admin and the user side. I couldn't see anywhere it was being used on the user side - so was that intentional for a future update?
If intended - it's a lot of overhead (30k css + some big font files) to output a few icons so could an option to turn icons off be included?
Thanks.

[2017-05-06 00:28] Ysery opened #345 "Date format"
Hello
As on the management page make time in the format **day** - **month** - **year** hours : minutes : seconds?

Sorry for my English

[2017-05-06 00:38] Reedyseth commented on #345
Hello Ysery, actually somehow better. I will add an option to allow any
formatting on the plugin options.

I will add this as an enhancement.

Thanks for the suggestion !

On May 5, 2017 6:28 PM, "Ysery" <notifications@github.com> wrote:

As on the management page make time in the format day - month - year hours
: minutes : seconds?

Sorry for my English

—
You are receiving this because you are s

[2017-05-06 08:48] Ysery commented on #345
Thank you. I will wait

[2017-05-06 12:08] Ysery opened #346 "Not very good"
If js is disabled, then any text entered into the e-mail form is stored in the database

![sn1](https://cloud.githubusercontent.com/assets/24987252/25772175/c020e1b4-326d-11e7-9751-8811856d9c72.PNG)

We open **81** articles

![sn2](https://cloud.githubusercontent.com/assets/24987252/25772174/c01fe4bc-326d-11e7-9e10-3c0f3b2ac7c3.PNG)

Sorry for my English

[2017-05-06 15:03] Reedyseth commented on #346
@Ysery Does this happen on the Admin Options or the Management Page ?

[2017-05-06 15:46] tevyaw opened #347 "Daily digest of comments?"
Hi, the only problem with this plugin (a very good plugin I've been using for a long time) is that there's no way to set a daily (or weekly) digest of comments. On one site we manage, a post exploded getting tons of traffic when it was featured on another site. Most of the commenters left the "all comments" option selected. This is leading to a huge number of emails being sent by the site, each ti

[2017-05-06 16:15] tevyaw opened #348 "Sending 30-40 times the number of emails it should?"
I stand behind what I said in #347 - that's a very deep issue with the plugin and makes it a liability, anytime a post gets lots of comments. However, it turns out there were only 35 comment subscribers on that particular post I mentioned. So each new comment should have only generated 35 emails. For some reason, it seems StCR was sending 30-40 emails to each subscriber, for each new comment! That

[2017-05-06 18:42] Ysery commented on #346
**Reedyseth**
It's not visible here _wp-admin/admin.php?page=stcr_manage_subscriptions_

But here you can already see _wp-admin/admin.php?page=stcr_manage_subscriptions&srf=post_id&srt=equals&srv=81_

And here's another example:

![snim](https://cloud.githubusercontent.com/assets/24987252/25775056/d10ff226-32a4-11e7-9ffd-79ee7f7a7187.PNG)

There is no verification if you disable javascript, you ca

[2017-05-07 12:30] berlindave commented on #230
I think the problem in Version 170428 on the repository described by @side777 still persists.

There's still this `!important` rule:
[code]
Unfortunately this is interferring with rules in some themes. Better it should read (referring to @side777 's proposal):
[code]
Would it be possible to fix this?
Best regards, David

[2017-05-07 14:13] Reedyseth commented on #230
Hi @berlindave , I did not noticed that this raise again, this will remove on the next release. In the mean time you can just delete the content of the css to get rid of the problem.

[2017-05-08 01:35] kaplunkiigirl opened #349 "Unable to add subscription"
Hi,

I have StCR installed on one of my sites and it's working perfectly, but I've just installed it on another site and for some unknown reason it's unable to add subscriptions.

I've tried subscribing through the front end, and also using the manual addition in the back end, and neither is being successfully recorded in the list of subscriptions.

I've turned on logging, but I'm not sure where t

[2017-05-09 07:31] chrisk87 opened #350 "Double Opt-In problems for Subscription of more than one post"
If i want as user to subscribe a second post, i got the message that i already are subscribed.  I got no mail to confirm my subscription. But i check the status of the subscription in the admin wordpress console. The status goes directly to confirmed without any double check.

Why is the Double Opt-In check only active for the first comment subscription? I need the double opt-in check for each new

[2017-05-09 07:32] chrisk87 opened #351 "Message after subscription of one (same) post"
If i subscribe to the comments of one post and i active the subscription i follow all new comments corretly. Now i close all broswer tabs and click again later on the same post to write a second comment to the same post. Before and also after i enter the text for the comment i see after the comment box below the same message form of my first subscription with the content that i will get a mail and

[2017-05-09 14:10] nickaccent opened #352 "sql error on upgrade script"
stcr_upgrade.php line 208, missing space before FROM and missing % sign in LIKE declaration,

currently:
. "FROM wp_postmeta WHERE meta_key LIKE '_stcr@_%'"

should be:

. " FROM wp_postmeta WHERE meta_key LIKE '%_stcr@_%'"

[2017-05-09 16:58] Reedyseth commented on #352
Hi @nickaccent Great catch I will update the code with that space.

Regards.!!

[2017-05-10 07:33] sathees3101 commented on #331
Hi @Reedyseth I have updated. However I cannot see any changes on the language of the text (see attachment). What can i do? Thanks!

![stcr_text in english instead of german](https://cloud.githubusercontent.com/assets/26690110/25887773/b6c7ffaa-3563-11e7-94c5-f7b75e723525.png)

[2017-05-10 08:02] nickaccent commented on #352
Please also note the missing the % from before the phrase 'stcr@%' in the original string.

Thanks

[2017-05-11 15:16] felixonmars commented on #273
Replacing `is_plugin_active` by `\is_plugin_active` doesn't work here, though. The SQL fix is needed and the function needs to be fixed in a different way. For my installation I just removed the function (so the check is always true), but there must be a cleaner way...

[2017-05-11 15:22] Reedyseth commented on #273
Like I said before, I will remove this funciton to import the comments from the comment reply plugin and eventually this error will disappear.

Thank you guys for your effort on solving this.

[2017-05-11 15:24] Reedyseth commented on #349
Hello @kaplunkiigirl , are you running your website on a VPS  or a shared server?

[2017-05-11 15:27] Reedyseth commented on #344
Hello @mwaterhouse , it is used on the management page to style the sorting links and also to use the back arrow.
It is not my intention to remove the Font awesome CSS, but I will add an option to disable it in case someone want to. This will be added on the next reléase.

[2017-05-11 15:28] Reedyseth commented on #352
@nickaccent This function is deprecated on the plugin and will be remove on the next update.

Thanks for catching up that issue though.

[2017-05-11 15:35] Reedyseth commented on #352
Issue related #273 & #343

[2017-05-11 21:16] mwaterhouse commented on #344
OK, cool. Admin only is not a problem. But at the moment it's being output in both register_admin_scripts() AND register_plugin_scripts() - which means all site visitors download the code even though it's not used outside of admin :-)

[2017-05-15 06:54] Li-An opened #353 "text not translatable"
Hello, some text remains in English even with 100% complete translation - see capture.

![subscription](https://cloud.githubusercontent.com/assets/689870/26045797/1847af5a-394c-11e7-82ac-382395fe0c1e.png)

[2017-05-17 03:04] Reedyseth commented on #353
Hi @Li-An, Thank you for catching that. I will enable the translation on those words.

[2017-05-21 07:47] Horoskopanalysen opened #354 "Link works but Linkchecker says unknown error"
Hi, I have this link from soundcloud and many others from soundcloud:
https://soundcloud.com/horoskopanalysen/aszendent-aszendent-berechnen-kostenlos-was-bedeutet-der-aszendent-in-der-astrologie

the links work but Linkchecker says unknown error

Is this a bug?

[2017-05-24 14:12] Vibeque commented on #317
Hello Reedyseth,

I have the same problem (StCR installed last week on WP 4.7.5), and wondered if you think you will have a solution to this in the near future (that doesn't involve digging into the database), as I see the last comment was in March. If it all can work well "out of the box", I will install this plugin on several of my client's sites, as the rest works perfectly :)

Many thanks!

Vi

[2017-05-24 16:45] Jord03 opened #355 "[permalink_post] not working + HTML"
Hi there,

I've been using this plugin for ages but these have recently been brought to my attention. I'm not very tech savvy when it comes to plugins sorry, so I thought I would ask the below here to see if this is something I'm doing wrong, or if it's a bug with the plugin etc.

1. First off, it appears that on some of the management pages, the paragraphs are not showing and it's not looking lik

[2017-05-24 18:48] kashifkiduniya opened #356 "Bug Report: <Subscription not working>"
Hi
When someone tick the checkbox to subscribe the comment he/she doesn't subscribe and obviously they don't receive any notification. Even in my dashboard > Manage Subscription there is no any user. While Notification working fine for admin and post author.
Please suggest me best solution.

Thanks

[2017-05-25 09:13] affiliatementor opened #357 "How do duplicate WP template?"
I'm trying to create a real management page but I'm stuck on the part where "Make a copy of your template's page.php" I found the template but how exactly do I duplicate that template into a new separate one on WP's editor?

[2017-06-02 18:52] Reedyseth commented on #357
Good day @affiliatementor I apologize for the late response. I have noticed that the images on the StCR wiki are broken, I will fix them soon.

On this case, just copy this file and paste it in the same  directory, you have to rename the file something like **subscribe.php**, but the most important step is that you rename the file template file inside the file with a name that you might recognize

[2017-06-02 18:55] Reedyseth commented on #356
Hello @kashifkiduniya I apologize for the late response. Does this happened on a new fresh install or after installing the last plugin version?

[2017-06-02 19:10] Reedyseth commented on #344
Hi, this was also reported here: https://wordpress.org/support/topic/font-awesome-loading-twice/#post-9192060

Update is coming with the fix.

[2017-06-03 10:39] NN70007 commented on #321
Hello, I confirm this bug on fresh install.
Subscription does not work at all even if entered manually http://prntscr.com/ffe348
List remains empty.
Thanks for helping us out

[2017-06-03 14:08] NN70007 commented on #356
I confirm this even on fresh install

[2017-06-03 23:13] DoctorMicro commented on #356
Using the checkbox or subscribing with email not working. Using version 170428.

[2017-06-03 23:31] kashifkiduniya commented on #356
Hi @Reedyseth
Thanks for your response!
Actually i am having issue in the fresh install. Even i install plugin on my other websites but still doesn't work.
I checked my worpdress email its working fine.

Thanks

[2017-06-04 15:47] drome-blog commented on #356
I have the same problem with a fresh install.
Any solution available?
Thanks in advance

[2017-06-12 17:29] terrizgit opened #358 "Support - need help with /?page_id=999999"
I have a persistent problem with my management page, /manage-comment-subscriptions/ redirecting to 	https://www.solo-e.com/https:/www.solo-e.com/?page_id=9999999/. For a long time I couldn't figure out where it was coming from, until I happened on the StCR setup pages. The management URL was set correctly to /manage-comment-subscriptions/, so I looked into your instructions more fully.

My permali

[2017-06-12 17:33] Reedyseth commented on #358
Hi @terrizgit , you are almost there. The issue here is that calling the functino `subscribe_reloaded_manage()` change a a bit. Use it like this:

[code]
Check the wiki: https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#Real-Page

Regards.!!

[2017-06-12 17:56] terrizgit commented on #358
Whew! Thank you, that worked! :)

Peace,
Terri Z

[2017-06-12 17:57] Reedyseth commented on #358
Amazing, great to hear that. :+1:

[2017-06-12 17:57] #358 closed

[2017-06-21 19:12] sbradk opened #359 "Bug Report: Not working on two different blogs/themes"
I've installed this to two different blogs (different themes) and it doesn't work on either. I'm running the latest version of WordPress.

The drop-down list shows and it sends an email to confirm subscription. BUT, the user never shows in the management page; the subscribed column always shows no; when the user goes to manage subscriptions it says to check some items - but no items show on the ma

[2017-06-23 05:31] kaplunkiigirl commented on #349
On a shared server. I have another site on the same server using the plugin that works perfectly.

[2017-06-23 05:33] Reedyseth commented on #349
@kaplunkiigirl , this issue was related with a Database table that the plugin creates, this issue was on version 170428, but it has been fixed on version 170607. Are you using the last version in your fresh install ?

[2017-06-23 05:34] kaplunkiigirl commented on #349
I have version 170607 installed, but I haven't yet tried uninstalling and reinstalling the plugin. Do you recommend this?

[2017-06-23 06:47] kaplunkiigirl commented on #349
Yep, uninstalling and reinstalling (with a non-safe uninstall) did the trick. Thanks for pointing me in the right direction. All working now!

[2017-06-23 06:47] #349 closed

[2017-06-23 07:10] Reedyseth commented on #349
yes, just make sure that you have the option *Safely Uninstall* enable so that you can keep your subscribers.

![image](https://user-images.githubusercontent.com/1228711/27470344-b50b9306-57b0-11e7-84ad-0e08fafd6ecd.png)

so just delete the plugin and then install it again.

[2017-06-23 07:12] Reedyseth commented on #349
Amazing. Great to hear that everything is working. Just FYI. The **Safe Uninstall** help you to keep the subscribers untouched.

[2017-06-23 22:09] kaplunkiigirl commented on #349
I did the unsafe unsubscribe on purpose, because when I did a safe uninstall the problem wasn't fixed, and I assumed that was because the database tables weren't being properly recreated on the reinstall. But due to the bug, I didn't have any subscribers anyway (although I did lose all of my settings each time!)

[2017-06-24 11:47] thegulshankumar opened #360 "STCR CSS/JS optimization"
Hi,

As we activate STCR plugin, it loads its assets on all pages including the homepage.
To have light-weight experience for our visitors Below elements should be loaded only if the comment is open on any post.

[code]

One more thing, when I activate Shortcodes plugin and this plugin also. I don't know both plugin load same Font-awesome CSS. If there is any workaround to load only one time, it w

[2017-07-01 23:06] Camigogli commented on #356
Me too, this plugin seems exactly what I need but I can't make it work... it doesn't add any subscribers. Using a fresh install.

[2017-07-04 14:38] George75 commented on #356
Hi i have the same problem

[2017-07-04 18:21] superkev73 commented on #356
Also having this problem. I wonder if it was broken by the Wordpress 4.8 update?

[2017-07-05 12:47] Reedyseth commented on #356
Guys, on a fresh install please set to **No** the option **Safely Uninstall** and then delete the plugin.

![image](https://user-images.githubusercontent.com/1228711/27864923-c6aaf790-614d-11e7-9b1b-9de68f830eb0.png)

Afterwards install it again, you should be able to add subscriptions.

[2017-07-05 14:12] Camigogli commented on #356
Not working either... Sorry. I installed it, selected no as you said, then uninstall it. Then installed it again. Afterwards I closed my session and published a comment on the blog. Logged in again and clicked on "view all subscribers", hoping to see the mail I've just written for the comment, but nothing appeared. Is this what I should be doing?

[2017-07-05 14:14] Reedyseth commented on #356
I can hangout with you to sort it out, if you may. My email is reedyseth {at] gmail [dot) com

[2017-07-11 16:52] cookieandkate opened #361 "CSS file slows down site load"
Hi, thank you so much for your help with this issue. I'm making a GitHub request per your request. From Wordpress.org:

Hello! Thank you so much for this plugin. I have one little issue with it—it loads render-blocking CSS above-the-fold in the file contentstcr-plugin-style.css.

The only content in that file is .hidden{display:none!important;} and it doesn’t appear to be used with my settings. Is

[2017-07-11 18:13] Reedyseth commented on #361
Hello @cookieandkate, thank you for taking the time to create the issue here, I will take care of it.

Regards.!!

[2017-07-20 11:48] Diddlik opened #362 "http link generation error -> http:// -> http//"
I have on my site this issue.  After installation I get link in like this:
http://http//peep.pictures/blog/comment-subscriptions/?srp=11954&srk=3e877850644dd46ab82b5f1719ce2d4f&sra=s&srsrc=f
or
http//peep.pictures/blog/comment-subscriptions/?
srp=11954&srk=3e877850644dd46ab82b5f1719ce2d4f&sra=s&srsrc=f

so, how can I fix it?

[2017-07-21 09:12] agru commented on #331
I have a similar problem - although my Wordpress-site is in German, this WP-plugin is completly in English. Not only the texts for my visitors, but also the management pages in the backend. How can I force the plugin to switch to German language?

[2017-07-21 18:26] Ysery opened #363 "Optimisation JS and CSS"
I propose to split the file "stcr-plugin.js":
Connect the script "Move-the-Subscription-box.js" on the pages with entries and only when the corresponding option is activated in the settings.
And the other scripts "other-scripts.js" (Validate the email address, Select all subscriptions, Deselect all subscriptions) should be connected only on the comments management page.

CSS font-awesome.min.css t

[2017-07-29 13:20] Nrir opened #364 "404 not Found"
Hi,

I have an issue with StCR.
The link to subscribe to comments under post leads to a 404 page.

All was fine until 27th july, no update of StCR nor WP.

Management page is the default virtual page : /comment-subscriptions/,  and permalinks are %postname%.

Can you help me ?

Thanks

[2017-08-01 11:56] shaikhaquif opened #365 "Bug Report: <Plugin Not Working With Thrive Themes>"
I tried activating the plugin. However, it does not work with my current theme, Focus Blog by Thrive themes.

I did try to check the option, StCR Position, however, that does not seem to solve the problem.

Below is the link to one of my blog posts
https://www.bloggingocean.com/grammarly-review/

[2017-08-04 00:25] artmuns opened #366 "Bug Report: 404 error on Manage Subscriptions"
Hi

Keep getting 404 error when trying to manage subscriptions. Tried creating a new page and disabling option in plugin but getting blank page. have had the plugin for years and never had a problem (I have contributed).

It may be url path but a bit confused on that setup.

Thank you for any help!

Art

[2017-08-04 02:09] Reedyseth commented on #366
Hello @artmuns ,

Thank you for your report. Did you have the plugin running and it stopped working or this happened in a fresh install?

Also what version of WP are you running?

Regards.!!

[2017-08-04 02:30] Reedyseth commented on #366
I just checked the latest version of the plugin and the manage subscription page works. Looks to me that you have an error setting up the management page.

Could you please send me the information on the System Information box? You will find it on the *StCR System* menu option. Send it to my email reedyseth {at) gmail [dot| com

![image](https://user-images.githubusercontent.com/1228711/28951806-8

[2017-08-04 05:05] artmuns commented on #366
Thanks for the reply. I have had this plugin installed for a while and has always worked just fine. It's working okay now except a subscriber can't unsubscribe as they get a 404 error. I'm on WP 4.8 and I think the Manage Subscriptions page broke on that update. Just sent you an e-mail.

Thanks again!

[2017-08-04 06:21] #287 closed

[2017-08-04 08:43] LeleDev commented on #227
The plugin is still unusable due to this bug... still no ETA? Is this still mantained?

[2017-08-04 12:50] Reedyseth commented on #227
Hello @LeleDev , there is not a ETA for this issue, fixing this kind of issue will take longer than any other because I have to change all the structure, but like I said, this is an issue that I Must fix. Thank you for your patience.

[2017-08-04 12:51] Reedyseth commented on #287
:thinking:

[2017-08-04 18:22] artmuns commented on #366
Hey, I just discovered it's the plugin "Widgets On Pages" that's causing the 404 Error. I will contact the developer.

[2017-08-04 23:27] Reedyseth commented on #366
@artmuns So now you have the plugin running without any issue?

[2017-08-04 23:30] artmuns commented on #366
No, still have same issue. Fault may be with "Widgets On Pages" plugin. If you get a chance try that plugin with StCr and you will see what I mean.

[2017-08-05 15:56] Heidhi opened #367 "People don't receive notifications and email didn't send. Nothing happen."
Hi everybody,

i have a big problem, i would like use this amazing plugin, but the contact box it's ok on my website, but when i try, if i pu name and email address and i confirm nothing happen.

I don't receive email and no notification like my suscription is good.

What is the problem? I looking for the problem with OVH, maybe it's my OVH email address is not good.
I don't arrive configure my sm

[2017-08-05 16:00] Heidhi commented on #334
Ok so if put my email address from OVH heidhi@mydomaine.com it doesn't work, isn't it?
So which email address can i use for the notification and email left?

[2017-08-05 17:28] Reedyseth commented on #367
Hello @Heidhi , thank you for asking. Looks to me that your email server is not delivering emails because the email identity is not recognize. In order to make it work use the admin email from a email address that you have previously configure with SMTP.

![image](https://user-images.githubusercontent.com/1228711/28997406-fcfe2286-79d0-11e7-98b7-a7deb53c7b17.png)

On the screeshot you can see the

[2017-08-05 17:32] Heidhi commented on #367
Hello @Reedyseth thank you very muck for your reply. For the moment i use OVH email.
But i understand what you said me, but i don't know how i configure my smtp configuration. Because with smtp OVH i have always error. Can you explain me how can i do?
And if i use smtp from gmail, do you think all we be ok after?

[2017-08-05 17:39] Heidhi commented on #367
And also i don't see the different people they subscribe at comments. Is it a problem from smtp too?

[2017-08-05 17:46] Heidhi commented on #367
And my last problem it's when i click on management comment i have 404 error. Do you know why?

[2017-08-07 14:53] gigioooo opened #368 "Non invia nessuna notifica a coloro che spuntano la casellina"
salve, non capisco perchè ma facendo le prove non invia nessuna notifica email . ho attivato il plugin , h provato a cambiare la mia email come ho letto in un altro post qui. ma nulla.. non succede nulla.

[2017-08-08 16:34] artmuns commented on #366
FYI StCR and Widgets On Pages now play nice together. Developer of Widgets On Pages has fixed the problem.

[2017-08-08 16:34] #366 closed

[2017-08-09 13:22] Reedyseth commented on #366
Thank you very much for the confirmation :+1:

[2017-08-09 13:25] Reedyseth commented on #364
Hello @Nrir , I apologize for the late response. Have you check if this issue might be related to #366 ?

So far I have tested the plugin and have no issue on the manager page.

[2017-08-14 23:57] Reedyseth commented on #368
Hello @gigioooo the problem might be that you are server are sending the email as anonymouse and for that reason you email notification is rejected. Are you using a commercial email like gmail or hotmail or the one in your domain?

[2017-08-15 08:09] gigioooo commented on #368
I tried with the one in My domain, I tried with gmail, and I tried with
Gmail SMTP. Nothing works...

Il 15 ago 2017 01:58, "Israel Barragan C." <notifications@github.com> ha
scritto:

Hello @gigioooo <https://github.com/gigioooo> the problem might be that you
are server are sending the email as anonymouse and for that reason you
email notification is rejected. Are you using a commercial email lik

[2017-08-15 14:15] Reedyseth commented on #365
Hello @shaikhaquif ,

I do see the advance subscription option. What is your issue?

![image](https://user-images.githubusercontent.com/1228711/29319652-f39887a4-8191-11e7-943c-0bb5737582b8.png)

[2017-08-15 14:20] shaikhaquif commented on #365
Yep, I got it working after reinstalling the plugin. Might have been a temporary bug. Should have dropped a message here to inform the same. Sorry about that.

Anyways, thanks a lot for the lovely plugin.

[2017-08-15 14:20] #365 closed

[2017-08-15 18:43] Reedyseth commented on #365
No problem, thank you for your confirmation.

Regards.!!

[2017-08-15 19:38] kiwimee opened #369 "Can't see testimonials to approve"
Hello !

Thank you for this great plugin!

I just have this issue here : I can't see/modify testimonials to approve, or any testimonials that have been entered by users.

Could you help me?

Thank you so much!
![capture](https://user-images.githubusercontent.com/31047398/29332814-a40693dc-8201-11e7-83ba-39cbbc55d41e.PNG)

[2017-08-16 07:08] Reedyseth commented on #361
Hello @cookieandkate , I have fix this issue and it will be available on the next release.

For reference you can take a look a this 736ac60, also I am in the process of creating a screen cast to help the users to install the latest code provided here on GitHub so that you don't have to wait until the WordPress update is available.

Regards.!!

[2017-08-16 07:52] Reedyseth commented on #369
Hi @kiwimee , I am sorry to hear you are facing difficulties, but I am afraid that this issue is not related to the StCR plugin.

[2017-08-16 07:52] #369 closed

[2017-08-16 16:06] cookieandkate commented on #361
Thank you, Israel! I really appreciate it.

Kathryne Taylor
http://cookieandkate.com
Facebook <http://facebook.com/cookieandkate> - Instagram
<http://instagram.com/cookieandkate> - Pinterest
<http://pinterest.com/cookieandkate> - Twitter
<http://twitter.com/cookieandkate>
*My cookbook, Love Real Food
<https://www.amazon.com/Love-Real-Food-Feel-Good-Vegetarian/dp/1623367417//ref=as_li_ss_tl?ie=UTF8

[2017-08-16 22:25] Reedyseth commented on #361
Here is a video where you can watch the instruction to use the latest code in your site:

https://youtu.be/uQwkBciyFGY

[2017-08-18 21:25] kypros89 opened #370 "wp-script plug in not working"
I have an issue with wp-script plug in i cant press anything on the plug in, nothing respond when im clicking on the screen image i circled the ones i cant press
![screen](https://user-images.githubusercontent.com/31143934/29478280-c4059334-8474-11e7-8194-8e4b8ef7a6ae.jpg)

[2017-08-26 08:42] Patric77 commented on #359
Hi,
I have the exact same problems.

They DO NOT happen on a WP 4.8.1 local fresh install.

But it happens on my WP online site, updated to WP 4.8.1. Even with the default theme activated and every other plugins deleted, it happens.
Please note that it concerns my developpement site, located in a /dev subfolder. I did not try on my original site, but I don't think this could make a difference.
I c

[2017-08-27 10:31] hughsmall commented on #356
I have same problem. using plugin version 170607 on wp 4.8.1 atahualpa theme version 3.7.24

[2017-08-27 20:10] Reedyseth commented on #356
Hello guys, I will take a look at this, thank you for your report.!!

[2017-08-29 07:47] mossi2137 opened #371 "Subscriber list not showing in WP backend"
Hello!

First of all thanks for this great plugin! Unfortunately, I seem to have an issue with the subscriber list in the backend. When I am on the "Manage subscriptions" page in my WP Admin, I do not see any subscribers. Below the "Search subcribers" box the page is just grey. However, in my database I see the table wp_subscribe_reloaded_subscribers and it has contents. Funny enough I created a s

[2017-08-29 15:50] Reedyseth commented on #371
Hello @mossi2137 , this is a known issue related to database incompatibility with the StCR table. You should fix this by updating the collation of the `wp_subscribe_reloaded_subscribers` table. Use the following query update:

[code]

[2017-08-29 16:06] mossi2137 commented on #371
Sorry for that, I didn't find anything about this issue with the search function here. However, thanks very much for your quick response, this solved the problem perfectly.

Thanks again and have a nice evening!

[2017-08-29 16:06] #371 closed

[2017-08-29 17:16] Reedyseth commented on #371
No problem. good to hear that it is working for you.

Regards.!!

[2017-08-29 18:33] Nrir commented on #364
Hi, sorry for not having replied before ! I'm not so much late, I am ? ... ;)

It's not the same issue as the one you linked me, we don't use this plugin.

I solved this by created a real management page, and it's working fine.

Before that, I've tried to disable every other plugin, reset StCR, etc ... without any improvement.

Though, I got no problems with real page and that's the most important

[2017-08-29 18:33] #364 closed

[2017-08-29 20:13] enora-s commented on #367
Hello !
I have the same problem with the plugin. The subscription doesn't work and I have 404 error pages when I click on "subscribe whithout comment" or on "management comment".
Is there a solution ?

[2017-09-16 20:12] busylizziecooks opened #372 "error 'I think you already said that'"
I just installed the plugin in my dev site (a password protected subdomain) and got the above error. It wasn't a duplicate comment, and there were no other comments on the post with that email. Any ideas?

Thanks

Lizzie

[2017-09-26 09:33] iskywing opened #373 "Submit comments slowly"
Hi
When I activate this plugin StCR, submit comments will take 5-10 seconds, the user experience is very bad, there are ways to improve it?

[2017-09-27 02:17] TonyScialdone opened #374 "Importing StC data"
Hello!

I'd love to use your plugin. I have it installed, and Mark Jaquith’s Subscribe To Comments is deactivated. How can I use your "main feature" that "Imports Mark Jaquith’s Subscribe To Comments data"?

Thank you.

[2017-09-27 05:53] berauscher commented on #366
This just saved my live! Thanks for the report of the bug fix. I had the same problem.

[2017-09-29 13:00] factualfairytale opened #375 "You can also subscribe without commenting issues"
I cannot get the “You can also subscribe without commenting.” page and form to work. What am I missing?

https://factualfairytale.com/fashion-beauty/cheap-womens-clothing-amazon/

Please click the link on the comment box to view the page and form for the  “You can also subscribe without commenting.” Nothing appears

[2017-10-01 06:48] berlindave commented on #230
Sorry for anoying again, but in 170607 the problem still persists.

[2017-10-04 15:20] mlgamerone opened #376 "virtual management page will not display"
**ADDENDUM**: I was able to resolve this by creating page.php. The virtual management page is now displaying properly. Sorry...should have worked on it a bit longer before posting.

Original comment:
I am creating a custom (from scratch) WordPress template and am testing it. Using StCR, only the checkbox works. I cannot get any of the subscribe or manage links to display the virtual management pag

[2017-10-04 21:14] #376 closed

[2017-10-04 21:26] Reedyseth commented on #376
Hello @mlgamerone, thank you for your confirmation.

Best Regards.!!

[2017-10-18 18:35] jharries opened #377 "Security vulnerability"
I just received a warning from Gravity Scan that this plugin has a security vulnerability.

http://www.securityfocus.com/bid/66288/

Sorry to be bearer of bad news. It's a great plugin so I hope you can get it fixed.

By the way, I would be happy to see this plugin go premium for say $20.00/year, well worth it.

Thanks
John

[2017-10-22 12:24] cmarabate opened #378 "Bug Report: <How do I edit or style the /comment-subscriptions/ page?>"
I would like to edit and/or style the following page that I created when I noticed this plugin was trying to redirect to it after clicking to manage my subscriptions...
[https://compassiondigital.com/comment-subscriptions/](https://compassiondigital.com/comment-subscriptions/)

I looked at your plugin's files and saw that it has a "Templates" folder which got me excited until I looked through each

[2017-10-24 23:45] jharries commented on #377
Turns out that this security warning was bogus. I bitched at Gravity Scan and they investigated and say they will remove the warning.

[2017-10-30 10:52] arkid opened #379 "404 on the "manage your subscriptions" page"
if I subscribe to a post I made a comment on, the first email I receive includes a "manage your subscriptions" link.  That takes me to my site and a 404 error.

To clarify, the url is structured as follows:

https://www.domainname.com/comment-subscriptions?srek=3c1d24a8da3ebb7ad6ff43fd2c25117f&srk=e9edcd3613ec0d577c4fa43b2b8dfc36

Can someone please help me troubleshoot this ?

[2017-11-05 20:51] MatisseIt opened #380 "No email sent, nothing happens"
Hi There,

i've seen other people had the same issue but no answers :(
I'm using my official email bruna@brunadepalo.com as "Sender" but nothing happens, so email sent.

What a shame as it sounded like a really great plugin.

Any idea?

Thank you in advance,

Bruna

[2017-11-05 20:51] MatisseIt commented on #380
P.S.: that's the blog: https://brunadepalo.com/daretoshine-blog/

[2017-11-08 08:25] MarkMcPartland opened #381 "No sunscribe option and broken manage link"
Hi guys.
Just activated plugin but the comments form does not show a subscribe checkbox at all.
It does add a 'manage the subscriptions to this Post link but that then goes to a page not found.

My blog is www.longitudinalshift.com

[2017-11-08 22:25] Reedyseth commented on #381
Hello @MarkMcPartland , I saw your website. There is something wrong with the link generation. I will check it out and let you know.

Best Regards.!!

[2017-11-09 19:39] Patric77 commented on #359
A post that helped me a lot to solve this problem:
https://wordpress.org/support/topic/manage-subscriptions-list-empty/#post-9667834

[2017-11-13 20:48] arkid commented on #379
@Reedyseth  Do you have any suggestions on this? I've checked old forum posts but still can't get a fix.

[2017-11-15 14:15] dertimm commented on #331
Hi @Reedyseth,
Is there anything new to this topic? I've got still this problem :(

[2017-11-15 21:27] NotARobit opened #382 "DB table created with wrong collation"
The plugin is failing on many sql statements with the error `#1267 - Illegal mix of collations (utf8_general_ci,IMPLICIT) and (utf8_unicode_ci,IMPLICIT)`

This is because the plugin creates wp_subscribe_reloaded_subscribers with the collation of utf8_unicode_ci even though the rest of my database is a different collation. This causes sql statements like the following to fail.

`SELECT meta_id, REP

[2017-11-27 15:52] KLingier commented on #381
Same story for me.
I use a virtual page. On the settings page there is a link to a help article for 'real page', the link is broken!
I don't understand what the the exact format is of the management page?
It says 'its link must follow your permalink structure.' I'm missing an example here.

I found the KB article here onhithub about making a real page, but I have no succes with it. I think the KB

[2017-11-28 02:44] Reedyseth commented on #381
Hello, I apologize for the outdated information. I will help you to set it
up this week. The plugin is a little bit Rusty, but I will fix this
information so that you can sort it out.

Regards.!!

On Nov 27, 2017 8:52 AM, "KLingier" <notifications@github.com> wrote:

Same story for me.
I use a virtual page. On the settings page there is a link to a help
article for 'real page', the link is broken!

[2017-11-29 01:10] blogxkomo opened #383 "How To Make Real Management page ?"
i have trouble :(
i try to follow this tutorial : https://github.com/stcr/subscribe-to-comments-reloaded/wiki/KB#create-a-real-management-page but still not work.
i can't see template for subscribe to comments :(

this my code page.php
[code]

So, Where i add this code :
[code]

[2017-11-30 12:35] 4daria opened #384 "Bug Report: plugin does not send any messages"
Please help me find the error. The plugin does not send any messages

[2017-12-01 16:20] Reedyseth commented on #384
Hello @4daria , I will be glad to help you. Just please help me with more detail information about problem. Attaching a screenshot will also help.

Best Regards.!!

[2017-12-02 06:11] 4daria commented on #384
Re: [stcr/subscribe-to-comments-reloaded] Bug Report: <short description> (#384)

Hello! Thanks!
screenshots:

https://yadi.sk/i/2pkxoeaB3QF3bT
https://yadi.sk/i/PxYq-LKB3QF3bi
https://yadi.sk/i/x2NBmFbP3QF3bv
https://yadi.sk/i/gINyLHk03QF3cG
https://yadi.sk/i/lllNsqeA3QF3cB

Best Regards, Daria!

Вы писали 1 декабря 2017 г., 19:20:35:

Hello @4daria , I will be glad to help you. Just please help